<tr>
  <td>
    <%= h(note.body.strip_html.slice(0..140)) %>
  </td>
  <td>
    <%= author_link(note) %><br />
  </td>
  <td>
    <%= l(note.published_at) %>
  </td>
  <td>
    <%= note.text_filter_name %>
  </td>
  <td>
    <%= button_to_edit note %>
    <%= button_to_delete note %>
    <%= button_to_short_url note %>
  </td>
</tr>
