<%= error_messages_for 'page' %>
<!--[form:pages]-->
<ul class="set admin">
  <li>
    <label for="page_title" class="block title"><%= _("Title")%></label>
    <%= text_field 'page', 'title', :class => 'large'  %>
  </li>
  <li>
    <label for="page_body" class="block content"><%= _("Content")%></label>
    <%= t_textarea 'page', 'body', {:height => '300', :class => 'large'} %> 
  </li>
  <li class="paginate l">
    <label for="options">
      <%= link_to_function _("Options") + " (+/-)",update_page { |page| page.visual_effect(:toggle_blind, "options", :duration => 0.2) } %>
    </label>
    <ul>
      <li id="options" style='display: none;'>
        <ul>
          <li>
            <label for="page_name" class="float"><%= _("Permalink")%>:</label>
            <%= text_field 'page', 'name', :size => 25  %>
          </li>
          <li>
            <label for="page_published" class="float"><%= _("Online")%>:</label>
            <%= check_box 'page', 'published'  %>
            <%= hidden_field_tag 'text_filter', this_blog.text_filter %>
          </li>
        </ul>
      </li>
    </ul>
  </li>



</ul>

<!--[eoform:pages]-->
