<input type="hidden" name="user_textfilter" id="user_textfilter" value="<%= current_user.text_filter_name %>" />

<h2 class='page-header'>
  <i class='icon-large icon-page-new'></i>
  <%= t(".page_with_action_name", action: controller.action_name.to_s.capitalize) %>
  <span class='pull-right'>
    <%= submit_tag( t(".publish"), class: 'btn btn-primary') %>
  </span>
</h2>

<%= error_messages_for 'page' %>
<div>
  <div class='span9'>
    <div>
      <%= text_field 'page', 'title', :class => 'input-block-level', :placeholder => t('.title')  %>
    </div>

    <%= render('images', { :images => @images}) unless @images.empty? %>

    <div id='editor'>
      <i class='icon icon-media'></i> <span id='image-link'><%= toggle_element 'carousel-wrapper', t(".images") %></span>
      <div id='quicktags'>
        <script type="text/javascript">edToolbar('page_body', '<%= @page.text_filter %>');</script>
      </div>
      <div id='simple_editor'>
        <%= text_area('page', 'body', {:class => 'input-block-level', :height => '300px', :rows => '20'}) %>
        <%= render 'admin/shared/macros' %>
      </div>
    </div>
    <div class='separator'>
      <div class='well'>
        <fieldset>
          <legend><%= t(".publish_settings") %></legend>
          <div class='control-group'>
            <%= t(".status") %>: <strong><%= _(@page.state.to_s.downcase) %></strong> <%= toggle_element 'status' %>
            <div id='status'>
              <label for="page_published" class='checkbox'>
                <%= check_box 'page', 'published'  %>
                <%= t(".online")%>
              </label>
              <p><span class='btn btn-mini'><%= toggle_element 'status', "OK" %></span></p>
            </div>
          </div>
          <div class='control-group'>
            <%= t(".article_filter") %>: <strong><%= _("#{@page.text_filter.description}") %></strong> <%= toggle_element 'text_filter' %>
            <div id='text_filter'>
              <select name="page[text_filter]" id="text_filter">
              <%= options_for_select text_filter_options, @page.text_filter %>
            </select>
            <p><span class='btn btn-mini'><%= toggle_element 'text_filter', "OK" %></span></p>
            </div>
          </div>
        </fieldset>
      </div>
      <div class='form-actions'>
        <div class='pull-right'>
          <%= submit_tag(t(".publish"), class: 'btn btn-primary') %>
        </div>
      </div>
    </div>
  </div>
  <div class='span3'>
    <div class='well'>
      <h4><%= t(".permanent_link")%></h4>
      <div>
        <%= text_field 'page', 'name', :class => 'input-block-level' %>
      </div>

    </div>
  </div>
</div>
