<input type="hidden" name="current_editor" id="current_editor" value="<%= current_user.editor %>" />
<input type="hidden" name="user_textfilter" id="user_textfilter" value="<%= current_user.text_filter.name %>" />
<%= error_messages_for 'page' %>

<div id='editor-right'>
  <div class='ui-accordion ui-widget ui-helper-reset ui-accordion-icons settings'>
    <h3 class='ui-accordion-header ui-helper-reset ui-state-active ui-corner-top'><span class='ui-icon ui-icon-pencil'> </span><%= _("Publish settings")%></h3>
    <div class='ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active'>
      <%= check_box 'page', 'published'  %>
      <label for="page_published"><%= _("Online")%></label><br />
      <%= save( _("Publish") + " &raquo;") %>
    </div>
  </div>
</div>

<div id='editor-left'>
  <h2><label for="page_title" class="block title"><%= _("Title")%></label></h2>
  <p class='input_text'>
    <%= text_field 'page', 'title', :class => 'large'  %>
  </p>
  <div id="editor-menu">
    <span id="f" class="<%= 'active' if current_user.editor == 'visual' %>">
      <%= build_editor_link("Visual", 'insert_editor', 'fck', 'simple_editor', 'visual') %>
    </span>
    <span id="s" class="<%= 'active' if current_user.editor == 'simple' %>">
      <%= build_editor_link("HTML", 'insert_editor', 'simple', 'simple_editor', 'simple') %>
    </span>
  </div>
  <div id='editor' class='settings'>
    <div id='quicktags' style='<%= "display: none;" if current_user.editor == 'visual' %>'>
      <script type="text/javascript">edToolbar('page_body');</script>
    </div>
    <div id ='visual_editor' <%= "style='display: none;'" if current_user.editor == 'simple'%> >
      <%= ckeditor_textarea('page', 'body', {:class => 'large', :height => '300px', :rows => '20'}) if current_user.editor == 'visual' %>
    </div>
    <div id='simple_editor' <%= "style='display: none;'" if current_user.editor == 'visual'%> >
      <%= text_area('page', 'body', {:class => 'large', :height => '300px', :rows => '20'}) if current_user.editor == 'simple' %>
      <%= render_macros(@macros) if current_user.editor == 'simple' %>  
    </div>
    <%= hidden_field_tag 'text_filter', this_blog.text_filter %>
  </div>

  <div class='ui-accordion ui-widget ui-helper-reset ui-accordion-icons settings'>
    <h3 class='ui-accordion-header ui-helper-reset ui-state-active ui-corner-top'><span class='ui-icon ui-icon-pencil'> </span><%= _("Page settings")%></h3>
    <div class='ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active'>
      <div class='setting'>
        <label for="page_name" class='float'><%= _("Permanent link")%></label>
        <div class='input_text'>
          <%= text_field 'page', 'name', :class => 'small medium' %>
        </div>
      </div>
      <div class='setting clear'>
        <label class="float" for="text_filter"><%= _("Article filter")%></label>
        <div class='input_text'>
          <select class='small medium' name="page[text_filter]" id="text_filter">
            <%= options_for_select text_filter_options, @page.text_filter %>
          </select>
        </div>
    </div>
  </div>
</div>
