<% form_tag({:action => 'index'}, :method => :get, :name => 'search') do %>
<table cellspacing="1" cellpadding="0">
  <tr class="first">
    <th><%= _("Title") %></th>
    <th><%= _("Permalink")%></th>
    <th><%= _("Date") %></th>
    <th><%= _("Author")%></th>
    <th><%= _("Status") %></th>
    <th><%= _("Preview")%></th>
    <th><%= _("Edit")%></th>
    <th><%= _("Delete")%></th>
  </tr>
  <tr class="menubar">
    <td colspan=2>&nbsp;</td>
    <td>
    <%= collection_select_with_current(:search, :published_at, Page.find_by_published_at, "publication", "publication", @search[:published_at].to_s, true) %>      
    </td>
    <td><%= collection_select_with_current(:search, :user_id, User.find(:all), "id", "name", @search[:user_id].to_i, true) %></td>
    <td>
      <select name="search[published]">
        <option value="">Please select</option>
        <option value="0">Unpublished</option>
        <option value="1">Published</option>
      </select>
    </td>
    <td colspan="3"><input type="submit" value="Filter" />
  </tr>
  <%= render_void_table(@pages.size, 8)  %>

  <% for page in @pages %>
  <tr <%= alternate_class %>>
    <td><%= link_to_permalink(page, page.title) %></td>
    <td><%= page.name%></td>
    <td><%= page.created_at.strftime('%d/%m/%Y at %H:%M') %></td>
    <td><%= author_link(page) %></td>
    <td class="operation">
    <% if page.published? %>
    <%= image_tag('admin/checked.png', :alt => "online", :title => _("Online")) %>
    <% else %>
    <%= image_tag('admin/cancel.png', :alt => "offline", :title => _("Offline"))  %>
    <% end %>
    </td>
    <td class='operation'><%= link_to_show page  %></td>
    <td class='operation'><%= link_to_edit page %></td>
    <td class='operation'><%= link_to_destroy page %></td>
  </tr>
  <% end %>
  </table>
<% end %>