<% if @pages.empty? %>
  <tr>
    <td colspan="5">
      <%= t(".no_pages") %>
    </td>
  </tr>
<% end %>

<% for page in @pages %>
  <tr>
    <td>
      <%= link_to_edit_with_profiles page.title, page %>
      <%= show_actions page %>
    </td>
    <td>
      <%= author_link(page) %><br>
      <small><%= l(page.created_at) %></small>
    </td>
  </tr>
<% end %>
<%= display_pagination(@pages, 5) %>
