<% content_for :page_heading do %>
<h2>
  <i class="glyphicon glyphicon-large glyphicon-folder-open"></i>
  <%= t(".manage_pages") %>
  <%= link_to(t(".new_page"), {controller: 'pages', action: 'new'}, id: 'dialog-link', class: 'btn btn-info pull-right') %>
</h2>
<% end %>

<table class='table table-striped'>
  <thead>
    <tr class='noborder'>
      <th><%= t(".title") %></th>
      <th><%= t(".author")%></th>
    </tr>
  </thead>
  <%= render 'pages' %>
</table>
