<% @page_heading = _('Manage pages') %>
<% @link_to_new = link_to(_("New Page"), {:controller => 'pages', :action => 'new'}, :id => 'dialog-link', :class => 'button') %>
<% subtabs_for(:pages) %>

<table cellspacing="1" cellpadding="0">
  <tr>
    <th><%= _("Title") %></th>
    <th><%= _("Permalink")%></th>
    <th><%= _("Author")%></th>
    <th><%= _("Date") %></th>
  </tr>
  <%= render 'pages' %>
</table>
