<%- content_for :page_heading do %>
  <i class="icon-large icon-pages"></i><h2 class="page-title"><%= _("Manage pages") %></h2>
  <div class='pull-right'>
    <%= link_to(_("New Page"), {controller: 'pages', action: 'new'}, id: 'dialog-link', class: 'btn btn-info') %>
  </div>
<% end %>

<table class='table table-striped'>
  <thead>
    <tr class='noborder'>
      <th><%= _("Title") %></th>
      <th><%= _("Permalink")%></th>
      <th><%= _("Author")%></th>
      <th><%= _("Date") %></th>
    </tr>
  </thead>
  <%= render 'pages' %>
</table>
