  <% @page_heading = _("Comments for") + " #{ link_to h(@article.title), :controller => '/admin/content', :action => 'show', :id => @article }" %>
  <% content_for('tasks') do %>
	<%= task_overview %>
  <% end %>
  <ul class="admin set">	
    <li>
      <label class="content">
        <%= _("By") %> <%=h @comment.author %> 
        <%= _("on") %> <%= @comment.created_at.strftime("%m/%d/%Y at %H:%M") %>
      </label>
    </li>
    <li>
      <label><%= _("URL")%>:</label> 
      <%=h @comment.url %>
    </li>
    <li>
      <label><%= _("Email")%>:</label> 
      <%=h @comment.email %>
    </li>
    <li>
      <label><%= _("IP")%>:</label> 
      <%=h @comment.ip %></span>
    </li>
    <li>
      <label class="block"><%= _("Body")%></label>
      <%=h @comment.body %>  
    </li>
  </ul>
