<% @page_heading = _('Redirects') %>

<% content_for('tasks') do %>
  <%= task_overview %>
<% end %>

<p><%= _("Are you sure you want to delete the redirection ")%> '<%= _("from %s to %s", @redirect.from_path, @redirect.to_path) %>'?</p>
<%= form_tag :action => "destroy", :id => @redirect.id do %>
<%= confirm_delete(_("Delete this redirection")) %>
<% end %>
