<% @page_heading = _('Redirects') %>
<% @link_to_new = link_to(_("New Redirect"), {:controller => 'redirects', :action => 'new'}, :id => 'dialog-link', :class => 'button') %>
<% subtabs_for(:settings) %>

<table>
  <tr>
    <th><%= _("From") %></th>
    <th><%= _("To") %></th>
  </tr>
  <%= render_void_table(@redirects.size, 2)  %>
  <% for redirect in @redirects %>
  <tr <%= alternate_class %>>
    <td>
      <%= "#{this_blog.base_url}/#{redirect.from_path}" %>
      <%= show_redirect_actions redirect %>
    </td>
    <td><%= redirect.to_path %></td>
  </tr>
  <% end %>
  <%= display_pagination(@redirects, 2)%>
</table>