<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
<head profile="http://gmpg.org/xfn/11">
  <title><%= h(page_title) %></title>
  <%= stylesheet_link_tag "/stylesheets/theme/bootstrap.min.css", "/stylesheets/theme/style.css", :media => 'all' %>  
  <%= page_header %>
  <style type="text/css">
      #logo { background: url(<%= File.join(this_blog.base_url, "images", "theme", "bg#{Random.rand(2) + 1}.jpg") %>) top left no-repeat; }
  </style>
</head>
<body>
  <div id="external">
    <div id='main'>
      <div class='container'>
        <div class="row">
          <div class='span1'></div>
          <div class='span10'>
            <%- if controller.controller_name == 'articles' and controller.action_name.include? 'index' %>
              <h1><%= link_to(this_blog.blog_name, this_blog.base_url) %></h1>
            <%- else %>
                <p id='title'><%= link_to(this_blog.blog_name, this_blog.base_url) %></p>
            <%- end %>
              <p class='subtitle'><%= this_blog.blog_subtitle %></p>
            </div>
          </div>
        </div>
        <div id='logo'></div>

        <div class='navbar navbar-inverse'>
          <div class='navbar-inner'>
            <div class='container'>
              <dic class='span1'></dic>
              <ul class='nav'>
                <li><%= link_to(_('Home'), this_blog.base_url)%></li>
                <li><%= link_to(_('Articles'), {:controller => 'categories'})%></li>
                <%- Page.published.each do |page| %>
                  <li><%= link_to_permalink(page, page.title) %></li>
              <%- end %>
              </ul>
            </div>
          </div>
        </div>

        <div id='page' class='container'>
          <div class='row'>
            <div class='span1'></div>
            <div class='span7'>
              <%= yield %>
            </div>
            <div id='sidebar' class='span3'>
              <%= render_sidebars %>
            </div>
          </div>
        </div>
        <p style='text-align: center'><small>Powered by <a href='http://typosphere.org'>Typo</a> – Thème <a href='http://t37.net'>Frédéric de Villamil</a> | Photo <a href='http://www.flickr.com/photos/glenn-/7194522034/'>Glenn</a></small></p>
      </div>
    </div>
  </div>
</body>
</html>
