<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
<head profile="http://gmpg.org/xfn/11">
  <title><%= h(page_title) %></title>
  <%= stylesheet_link_tag "/stylesheets/theme/bootstrap.min.css", "/stylesheets/theme/style.css", :media => 'all' %>
  <%= page_header %>
</head>
<body>
	<div id='main'>
  	  <div class='container'>
		    <% if controller.controller_name == 'articles' and controller.action_name.include? 'index' %>
		    <h1><%= link_to(this_blog.blog_name, this_blog.base_url) %></h1>
        <% else %>
        <p id='title'><%= link_to(this_blog.blog_name, this_blog.base_url) %></p>
        <% end %>
        <p class='subtitle'><%= this_blog.blog_subtitle %></p>
     </div>
     <div id='logo'></div>
     <div class='navbar'>
       <div class='navbar-inner'>
         <div class='container'>
           <ul class='nav'>
             <%= content_tag(:li, link_to(_('Home'), this_blog.base_url, {:class => render_active_home}))%>
             <%= content_tag(:li, link_to(_('Articles'), {:controller => 'categories'}, {:class => render_active_articles}))%>
             <%= show_pages_links %>
           </ul>
         </div>
       </div>
     </div>
	
     <div id='page' class='container'>
       <div class='row'>
         <div class='span8'>
           <%= yield %>
         </div>
         <div id='sidebar' class='span4'>
           <%= render_sidebars %>
         </div>
			</div>
    </div>
  <p style='text-align: center'><small>Powered by <a href='http://typosphere.org'>Typo</a> – Thème <a href='http://t37.net'>Frédéric de Villamil</a> | Photo <a href='http://www.flickr.com/photos/blmiers2/6167391543/sizes/l/in/photostream/'>L. Lemos</a></small></p>
  </div>
</div>
</body>
</html>
