<%= form_tag url: @article.comment_url, :position => :bottom, :remote   => true, :update   => {:success => 'commentList'}, :loading  => "loading()", :complete => "complete(request)", :failure  => "failure(request)", :html     => {:id => 'commentform', :class => 'comments' } do %>

  <div id="preview" style="display:none"></div>

<h2 id="formComments-title"><%= t(".leave_a_comment")%></h2>
<div id="respond" class="post">
  <p>
  <label for="comment_author"><%= t(".comment_author", author: content_tag(:small, '('+ t('.required')+')' ))%></label>
  <%= text_field "comment", "author" %>
  </p>

  <p>
  <label for="comment_email"><%= t(".email")%> <small>(<%= t(".never_displayed") %>)</small></label>
  <%= text_field "comment", "email" %>
  </p>
  <p>
  <label><%= t(".website")%></label>
  <%= text_field "comment", "url" %>
  </p>

  <p>
  <label>
    <%= t(".comments")%>:
    <%= content_tag('small', link_to(t(".textile_enabled"), "http://hobix.com/textile/")) if this_blog.comment_text_filter.include? 'textile' %>
    <%= content_tag('small', link_to(t(".markdown_enabled"), "http://daringfireball.net/projects/markdown/")) if this_blog.comment_text_filter.include? 'markdown' %>
    <br />
  </label>
  <%= text_area 'comment', 'body', :rows => 10 %>
  </p>

  <%- if this_blog.use_recaptcha %>
    <p><%= raw recaptcha_tags :ajax => true %></p>
<%- end %>

  <p class="buttons">
  <%= image_tag 'theme/spinner.gif', :id => 'comment_loading', :style => 'display:none' %>
  </p>
</div>
<%- end %>
