<!DOCTYPE html>
<html lang="en">
<head profile="http://gmpg.org/xfn/11">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= h(page_title) %></title>
  <%= stylesheet_link_tag "/stylesheets/theme/bootstrap.css", "/stylesheets/theme/style.css", "/stylesheets/user-style.css", :media => 'all' %>
  <%= render 'shared/page_header' %>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class='navbar-header'>
        <%= link_to(content_tag(:span, '', class: 'glyphicon glyphicon-th'), this_blog.base_url, class: 'navbar-brand' )%>
      </div>
      <ul class='nav navbar-nav pull-right'>
        <li><%= link_to(t('.statuses'), {controller: 'notes'}) %></li>
        <li><%= link_to(t('.archives'), {controller: 'articles', action: 'archives'}) %></li>
        <%- Page.published.each do |page| %>
        <li><%= link_to_permalink(page, page.title) %></li>
        <%- end %>
      </ul>
    </div>
  </nav>

  <div id='logo' class='container'>
    <div class='row'>
      <div class='col-lg-12 vertical-container'>
        <div class='vertical'>
          <h1><%= link_to(this_blog.blog_name, this_blog.base_url) %></h1>
          <p class='subtitle'><%= this_blog.blog_subtitle %></p>
        </div>
      </div>
    </div>
  </div>
  <div class='container' id='page'>
    <div class='col-sm-8'>
      <%= yield %>
    </div>
    <div class='col-sm-3 col-sm-offset-1' id='sidebar'>
      <%= render_sidebars %>
    </div>
  </div>

  <div id='page' class='container'>
    <div class='row'>
      <div class='span1'></div>
      <div class='span7'></div>
    </div>
  </div>
  <p style='text-align: center'><small>Powered by <a href='http://publify.co'>Publify</a> | Photo <a href='http://startupstockphotos.com/'>Startup stock photos</a></small></p>
</body>
</html>
