<li id="comment-<%= comment.id %>" <%= 'class="author_comment"' if comment.user %> <%= 'style="display:none"' if controller.request.xhr? %><%= onhover_show_admin_tools(:comment, comment.id) %>>

  <p>
  <a name="comment-<%= comment.id %>"></a>
  <%= avatar_tag(:email => comment.email, :url => comment.url) %>
  <cite><strong><%= link_to_unless(comment.url.blank?, h(comment.author), comment.url) %></strong> </cite> <%= t(".said")%> <%= display_date_and_time comment.created_at %> later:<br>
  <%= comment.generate_html(:body) %>
  <% unless comment.published -%>
    <div class="spamwarning"><%= t(".this_comment_has_been_flagged_for_moderator_approval")%>.</div>
<% end -%>
  </li>

