<li id="comment-<%= comment.id %>" <%= 'class="author_comment"' if comment.user %> <%= 'style="display:none"' if controller.request.xhr? %><%= onhover_show_admin_tools(:comment, comment.id) %>>

  <p>
  <a name="comment-<%= comment.id %>"></a>
  <%= avatar_tag(:email => comment.email, :url => comment.url) %>
  <cite><strong><%= link_to_unless(comment.url.blank?, h(comment.author), comment.url) %></strong> </cite> <%= _("said")%> <%= display_date_and_time comment.created_at %> later:<br />
  <%= comment.generate_html(:body) %>
  <% unless comment.published -%>
    <div class="spamwarning"><%= _("This comment has been flagged for moderator approval.  It won't appear on this blog until the author approves it")%>.</div>
  <% end -%>
</li>

