<div class='category-excerpt <%= "border" if @article_counter >= 0 %>' id="article-<%= article.id %>">
  <h2><%= (controller.controller_name == 'redirect') ? article.title : link_to_permalink(article,article.title) %></h2>
  <%= render 'articles/protected_article_content', { :article => article } %>

  <div class='author'>
    <%= _("Published") %> <%= display_date_and_time article.published_at %>
  </div>
  <div class='comments'>
    <%= display_comments_counter(article) %>
  </div>
</div>

<% @article_counter+=1 %>
