<div class='form-inline'>
  <%= hidden_field_tag "confirmed", params[:confirmed] %>
  <%= hidden_field_tag "published", params[:published] %>
  <select name='<%= "bulkop_#{position}" %>' id="<%= "bulkop_#{position}" %>">
    <option value=""><%= t(".select_action") %></option>
    <option value='Delete Checked Items'><%= t(".delete_checked_items") %></option>
    <option value='Delete all spam'><%= t(".delete_all_spam") %></option>
    <option value='Mark Checked Items as Spam'><%= t(".mark_checked_items_as_spam") %></option>
    <option value='Mark Checked Items as Ham'><%= t(".mark_checked_items_as_ham") %></option>
  </select>
  <%= submit_tag t(".submit"), {class: 'btn'} %>
</div>
