<div class='row'>
  <div class='span8'>
    <%= hidden_field_tag "confirmed", params[:confirmed] %>
    <%= hidden_field_tag "published", params[:published] %>
    <select name='<%= "bulkop_#{position}" %>' id="<%= "bulkop_#{position}" %>">
      <option value=""><%= _("Select action") %></option>
      <option value='Delete Checked Items'><%= _("Delete Checked Items") %></option>
      <option value='Delete all spam'><%= _("Delete all spam") %></option>
      <option value='Mark Checked Items as Spam'><%= _("Mark Checked Items as Spam") %></option>
      <option value='Mark Checked Items as Ham'><%= _("Mark Checked Items as Ham") %></option>
    </select>
    <%= submit_tag _("Submit"), {:class => 'btn'} %>
  </div>
</div>