
<%= error_messages_for 'comment' %>
<%= hidden_field_tag 'article_id', @article.id %>

<fieldset>
  <legend><%= _("Add a comment") %></legend>

  <div>
    <label for="comment_author" class='float'><%= _("Author")%></label>
    <p class='input_text_title'>
      <%= text_field 'comment', 'author', :class => 'small medium' %>
    </p>
  </div>
  <div>
    <label for="comment_url" class='float'><%= _("Url") %></label>
    <p class='input_text_title'>
      <%= text_field 'comment', 'url', :class => 'small medium' %>
    </p>
  </div>
  <div>
    <label for="comment_email" class='float'><%= _("Email")%></label>
    <p class='input_text_title'>
      <%= text_field 'comment', 'email', :class => 'small medium' %>
    </p>
  </div>
  <div>
    <label for="comment_body" class='float'><%= _("Content")%></label>
    <p class='input_text_title'>
      <%= text_area 'comment', 'body', { :rows => '10', :class => 'small medium'} %>
    </p>
  </div>    
</fieldset>
