<td><input class= "feedback_check" type="checkbox" name="feedback_check[<%= comment.id %>]"/></td>
<td><span class='label <%= comment_class comment.state.to_s.downcase %>'><%= comment.state %></span></td>
<td>
  <%= avatar_tag(:email => comment.email, :url => comment.url, :size => 32) %>
  <div class='comment_content'>
    <strong><%= mail_to h(comment.email), h(comment.author), {:class => 'noborder'} %></strong><br />
    <%= link_to "#{h(comment.url)}<br />".html_safe, comment.url, {:class => 'noborder'} unless comment.url.blank? %>
    <%= format_date_time comment.created_at %>
  </div>
</td>
<td>
  <%= comment.html(:all) %>
  <p>
    <%= show_feedback_actions comment %>
  </p>
</td>

<% if controller.action_name == 'index' %>
<td><%= link_to comment.article.title, :controller => 'feedback', :action => 'article', :id => comment.article_id %></td>
<% end %>
