<% @page_heading = _("Comments for %s", @article.title) %>
<% @link_to_new = link_to(_("Add a comment"), '#comment', {:id => 'dialog-link', :class => 'button'}) %>

<%= form_tag({:action => 'bulkops'}) do %>

<%= hidden_field 'article_id', @article.id %>
<%= render 'button', { :position => 'top' } %>

<br class='clear' />
<table class='table table-stripped'>
  <thead>
    <tr class='noborder'>
      <th><input type="checkbox" name="checkall" id="checkall" onclick="check_all(this);"/></th>
      <th><%= _("Status")%></th>
      <th><%= _("Comment Author")%></th>
      <th><%= _("Comment")%></th>
    </tr>    
  </thead>
  <%= render_void_table(@feedback.size, 5) %>

  <% @feedback.each do |comment| %>
    <%= render 'feedback', {:comment => comment} %>
  <% end %>
</table>
<%end%>

<%= form_tag :action => "create" do %>
<fieldset class='form-horizontal'>
  <legend><%= _("Add a comment")%></legend>
  <div class='control-group'>
    <label for="comment_author" class='control-label'><%= _("Author")%></label>
    <div class='controls'>
      <%= text_field 'comment', 'author', :class => 'medium' %>
    </div>
  </div>
  <div class='control-group'>
    <label for="comment_email" class='control-label'><%= _("Email")%></label>
    <div class='controls'>
      <%= text_field 'comment', 'email', :class => 'medium' %>
    </div>
  </div>
  <div class='control-group'>
    <label for="comment_url" class='control-label'><%= _("Url") %></label>
    <div class='controls'>
      <%= text_field 'comment', 'url', :class => 'medium' %>
    </div>
  </div>
  <div class='control-group'>
    <label for='comment_body' class='control-label'><%= _("Your comment") %></label>
    <div class='controls'>
      <script type="text/javascript">edToolbar('comment_body');</script>
      <%= text_area 'comment', 'body', { :rows => '10', :class => 'span6'} %>
    </div>
  </div>
  <div class='form-actions'>
    <%= cancel_or_save %>
  </div>
</fieldset>

<% end %>
