<% @page_heading = _("Comments for %s", @article.title) %>
<% @link_to_new = link_to(_("Add a comment"), '#comment', {:id => 'dialog-link', :class => 'button'}) %>

<%= form_tag({:action => 'bulkops'}, :method => :post) do %>

<%= hidden_field 'article_id', @article.id %>
<%= render 'button', { :position => 'top' } %>

<br class='clear' />
<table class='settings'>
  <tr>
    <th class='first'><input type="checkbox" name="checkall" id="checkall" onclick="check_all(this);"/></th>
    <th><%= _("Status")%></th>
    <th><%= _("Comment Author")%></th>
    <th><%= _("Comment")%></th>
  </tr>
  <%= render_void_table(@feedback.size, 5) %>

  <% @feedback.each do |comment| %>
  <tr <%= alternate_class %> id='<%= "feedback_#{comment.id}" %>'>
    <% if comment.state.to_s.downcase == 'spam'  %>
      <%= render 'spam', {:comment => comment} %>
    <% else %>
      <%= render 'ham', {:comment => comment} %>
    <% end %>
  </tr>
  <% end %>
</table>
<%end%>

<%= form_tag :action => "create" do %>
<div id='comment' class='widget-container'>
  <h3 class='light'><span class='ui-icon ui-icon-gear'></span> <%= _("Add a comment")%></h3>
  <div class='widget-content'>
    <div class='setting'>
      <label for="comment_author" class='float'><%= _("Author")%></label>
      <p class='input_text'>
        <%= text_field 'comment', 'author', :class => 'medium' %>
      </p>
    </div>
    <div class='setting clear'>
      <label for="comment_email" class='float'><%= _("Email")%></label>
      <p class='input_text'>
        <%= text_field 'comment', 'email', :class => 'medium' %>
      </p>
    </div>
    <div class='setting clear'>
      <label for="comment_url" class='float'><%= _("Url") %></label>
      <p class='input_text'>
        <%= text_field 'comment', 'url', :class => 'medium' %>
      </p>
    </div>
    <div id='simple_editor' class='setting clear'>
      <p class='input_text'>
        <script type="text/javascript">edToolbar('comment_body');</script>
        <%= text_area 'comment', 'body', { :rows => '10', :class => 'large'} %>
      </p>
    </div>
  </div>
</div>
  <%= cancel_or_save %>
<% end %>
