<% @page_heading = _('%s', @feedback.class.name) %>

<% content_for(:tasks) do %>
  <%= task_overview %>
<% end %>

<p><%= _("Are you sure you want to delete this %s", @feedback.class.name.downcase)%> ( <%=h @feedback.article.title -%> )?</p>
<%= form_tag :controller => '/admin/feedback', :action => 'destroy', :id => @feedback.id do %>
  <%= confirm_delete(_("Delete this feedback")) %>
<% end %>
