<%- content_for :page_heading do %>
<h2 class="page-title">
  <i class="glyphicon glyphicon-large glyphicon-comment"></i>
  <%= t(".comments_for", article_link: link_to(h(@comment.article.title), controller: '/admin/content', action: 'edit', id: @comment.article.id).html_safe) %>
</h2>
<% end %>

<%= form_tag :action => "update", :id => @comment.id do %>

  <%= error_messages_for 'comment' %>
  <%= hidden_field_tag 'article_id', @article.id %>

  <fieldset>
    <legend><%= t(".edit_a_comment")%></legend>
    <div class='row'>
      <div class="form-group col-md-4">
        <label for="comment_author" class='control-label'><%= t(".author")%></label>
        <%= text_field 'comment', 'author', :class => 'form-control' %>
      </div>
    </div>
    <div class='row'>
      <div class='form-group col-md-4'>
        <label for="comment_email" class='control-label'><%= t(".email")%></label>
          <%= text_field 'comment', 'email', :class => 'form-control' %>
      </div>
    </div>
    <div class='row'>
      <div class='form-group col-md-4'>
        <label for="comment_url" class='control-label'><%= t(".url") %></label>
        <%= text_field 'comment', 'url', :class => 'form-control' %>
      </div>
    </div>
    <div class='row'>
      <div class='form-group col-md-12'>
        <label for='comment_body' class='control-label'><%= t(".your_comment") %></label>
        <script type="text/javascript">edToolbar('comment_body', '<%= current_user.default_text_filter.name %>');</script>
        <%= text_area 'comment', 'body', { :rows => '10', :class => 'form-control'} %>
      </div>
    </div>
    <div class='row'>
      <div class='form-group col-md-12'>
        <hr>
        <%= t(".action_or_other", first_action: link_to(t(".cancel"), {action: 'index'}), second_action: submit_tag(t(".save"), class: 'btn btn-primary')) %>
      </div>
    </div>
    </div>
  </fieldset>

<% end %>
