<% @page_heading = _("Comments for %s", link_to(h(@comment.article.title), :controller => '/admin/content', :action => 'edit', :id => @comment.article.id).html_safe).html_safe %>

<%= form_tag :action => "update", :id => @comment.id do %>

<%= error_messages_for 'comment' %>
<%= hidden_field_tag 'article_id', @article.id %>

<h3><%= _("Add a comment")%></h3>
	<div class='clearfix'>
      <label for="comment_author"><%= _("Author")%></label>
      <div class='input'>
        <%= text_field 'comment', 'author', :class => 'medium' %>
      </div>
    </div>
    <div class='clearfix'>
      <label for="comment_email"><%= _("Email")%></label>
      <div class='input'>
        <%= text_field 'comment', 'email', :class => 'medium' %>
      </div>
    </div>
    <div class='clearfix'>
      <label for="comment_url"><%= _("Url") %></label>
      <div class='input'>
        <%= text_field 'comment', 'url', :class => 'medium' %>
      </div>
    </div>
    <div class='clearfix'>
      <div class='input'>
        <script type="text/javascript">edToolbar('comment_body');</script>
        <%= text_area 'comment', 'body', { :rows => '10', :class => 'large'} %>
      </div>
    </div>
  </div>
</div>
  </div>

  <%= cancel_or_save %>
<% end %>
