<% @page_heading = _("Comments and Trackbacks for") + " #{ this_blog.settings['blog_name'] }" %>
<% subtabs_for(:feedback) %>

<div class="search">
  <% form_tag({:action => 'index'}, :method => :get) do %>
    <label for="search"><%= _("Search Comments and Trackbacks that contain")%>...:</label><br /> 
	<input type="text" id="feedback_search" name="search" value="<%=h params[:search] %>" size="30" />
	<%= submit_tag "Search" %>
  <% end %>
</div>

<div class="list">
  <% form_tag({:action => 'bulkops'}, :method => :post) do %>
    <%= render :partial => 'button' %>
	
  <%= hidden_field_tag "search", params[:search]%>
  <%= hidden_field_tag "page", params[:page]%>
  <table>
  <tr class="first">
 	<th class="first"><input class="feedback_check" type="checkbox" name="checkall" id="checkall" onclick="check_all(this);"/></th>
	<th><%= _("Status")%></th>
	<th><%= _("Article")%></th>
    <th><%= _("Author")%></th>
    <th><%= _("Comment Excerpt")%></th>
    <th><%= _("IP")%></th>
		<th><%= _("View")%></th>
		<th><%= _("Edit")%></th>
    <th class="last"><%= _("Delete") %></th>
  </tr>
  <%= render :partial => 'item', :collection => @feedback %>
  </table>
	<div class="paginate">
		<%= link_to _("Previous page"), { :page => @pages.current.previous, :search => params[:search] } if @pages.current.previous %>
		<%= pagination_links(@pages, :params => {:search => params[:search]}) %>
		<%= link_to _("Next page"), { :page => @pages.current.next, :search => params[:search] } if @pages.current.next %>
	</div>
    <%= render :partial => 'button' %>
  <% end %>
</div>


