<% @page_heading =  _("Feedback for") + " #{ this_blog.settings['blog_name'] }" %>
<% subtabs_for(:content) %>

  <% form_tag({:action => 'index'}, :method => :get) do %>
  <h4><label for="search"><%= _("Search Comments and Trackbacks that contain")%>...:</label></h4>
  <input type="text" id="feedback_search" name="search" value="<%=h params[:search] %>" class='small medium' />
  <%= submit_tag(_("Search"), {:class => 'search'}) %>
  <% end %>

<div class="list">
  <% form_tag({:action => 'bulkops'}, :method => :post) do %>
  <%= render :partial => 'button', :locals => { :position => 'top' } %>

  <%= hidden_field_tag "search", params[:search]%>
  <%= hidden_field_tag "page", params[:page]%>
  <table>
    <tr>
      <th><input class="feedback_check" type="checkbox" name="checkall" id="checkall" onclick="check_all(this);"/></th>
      <th><%= _("Status")%></th>
      <th><%= _("Article")%></th>
      <th><%= _("Author")%></th>
      <th><%= _("Comment Excerpt")%></th>
      <th><%= _("IP")%></th>
    </tr>
    <tr class="menubar">
      <td>&nbsp;</td>
      <td colspan="5">
        <select onchange='window.location=this.options[this.selectedIndex].value;'>
          <option value=''><%= _("All comments")%></option>
          <option value='?ham=f' <%= 'selected' if params[:ham] == 'f' %>><%= _("Limit to ham") %></option>
          <option value='?confirmed=f' <%= 'selected' if params[:confirmed] == 'f' %>><%= _("Unapproved comments") %></option>
          <option value='?published=f' <%= 'selected' if params[:published] == 'f' %>><%= _("Limit to spam")%></option>
        </select>
      </td>
    </tr>
    <%= render_void_table(@feedback.size, 9) %>

    <%= render :partial => 'item', :collection => @feedback %>
    <%= display_pagination(@feedback, 6)%>
  </table>

  <%= render :partial => 'button', :locals => { :position => 'bottom' } %>
  <% end %>
</div>


