<nav class='navbar navbar-light navbar-expand-lg bg-light sticky-top' role="navigation">
  <div class="navbar-header">
    <%= link_to({controller: 'admin/dashboard'}, {class: "navbar-brand"}) do %>
      <%= icon('fas', 'home', class: 'icon-large') %>
    <% end %>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#sidebar-top"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if can? :index, 'admin/content' %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
            <%= t('.articles') %>
            <b class="caret"></b>
          </a>
          <div class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <%= dropdown_menu_item(t('.all_articles'), admin_content_index_path) %>
            <%= dropdown_menu_item(t('.new_article'),  new_admin_content_path) %>
            <%= dropdown_menu_item(t('.feedback'),     admin_feedback_index_path) %>
            <%= dropdown_menu_item(t('.tags'),         admin_tags_path) %>
            <%= dropdown_menu_item(t('.article_types'),admin_post_types_path) %>
            <%= dropdown_menu_item(t('.redirects'),    admin_redirects_path) %>
          </div>
        </li>
      <% end %>
      <% if can? :index, 'admin/notes' %>
        <%= main_menu_item(t('.notes'), admin_notes_path) %>
      <% end %>
      <% if can? :index, 'admin/pages' %>
        <li class='nav-item dropdown'>
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
            <%= t('.pages') %>
            <b class="caret"></b>
          </a>
          <div class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <%= dropdown_menu_item(t('.all_pages'), admin_pages_path) %>
            <%= dropdown_menu_item(t('.new_page'),  new_admin_page_path) %>
          </div>
        </li>
      <% end %>
      <% if can? :index, 'admin/resources' %>
        <%= main_menu_item(t('.media_library'), admin_resources_path) %>
      <% end %>
      <% if can? :index, 'admin/themes' %>
        <li class='nav-item dropdown'>
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
            <%= t('.design') %>
            <b class="caret"></b>
          </a>
          <div class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <%= dropdown_menu_item(t('.choose_theme'),      admin_themes_path) %>
            <%= dropdown_menu_item(t('.customize_sidebar'), admin_sidebar_index_path) %>
          </div>
        </li>
      <% end %>
      <% if can? :index, 'admin/settings' %>
        <li class='nav-item dropdown'>
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
            <%= t('.settings') %>
            <b class="caret"></b>
          </a>
          <div class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <%= dropdown_menu_item(t('.general_settings'), admin_settings_path) %>
            <%= dropdown_menu_item(t('.write'),            write_admin_settings_path) %>
            <%= dropdown_menu_item(t('.display'),          display_admin_settings_path) %>
            <%= dropdown_menu_item(t('.feedback'),         feedback_admin_settings_path) %>
            <%= dropdown_menu_item(t('.manage_users'),     admin_users_path) %>
          </div>
        </li>
      <% end %>
      <% if can? :index, 'admin/seo' %>
        <li class='nav-item dropdown'>
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
            <%= t('.seo') %>
            <b class="caret"></b>
          </a>
          <div class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <%= dropdown_menu_item(t('.global_seo_settings'), admin_seo_path(section: 'general')) %>
            <%= dropdown_menu_item(t('.permalinks'),          admin_seo_path(section: 'permalinks')) %>
            <%= dropdown_menu_item(t('.titles'),              admin_seo_path(section: 'titles')) %>
          </div>
        </li>
      <% end %>
      </ul>
      <ul class='navbar-nav'>
        <li class='nav-item dropdown'>
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
            <%= t(".logged_in_as", login: current_user.display_name) %>
            <b class="caret"></b>
          </a>
          <div class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <%= link_to t(".profile"), { :controller => 'admin/profiles', :action => 'index'}, class: 'dropdown-item'  %>
            <div role="presentation" class="dropdown-divider"></div>
            <%= link_to t(".documentation"), "https://github.com/fdv/publify/wiki", class: 'dropdown-item' %>
            <%= link_to t(".report_a_bug"), "https://github.com/fdv/publify/issues", class: 'dropdown-item' %>
            <%= link_to t(".in_page_plugins"), "https://github.com/fdv/publify/wiki/In-Page-Plugins", class: 'dropdown-item' %>
            <%= link_to t(".sidebar_plugins"), "https://github.com/fdv/publify/wiki/Sidebar-plugins", class: 'dropdown-item' %>
            <div role="presentation" class="dropdown-divider"></div>
            <%= link_to t(".logout_html"), destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </li>
        <li class='nav-item dropdown'>
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
            <%= t(".new")%>
            <b class="caret"></b>
          </a>
          <div class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <%= link_to(t(".new_article"), {controller: 'content', action: 'new'}, class: 'dropdown-item') %>
            <%= link_to(t(".new_page"), {controller: 'pages', actions: 'new'}, class: 'dropdown-item') %>
            <%= link_to(t(".new_media"), {controller: 'resources', action: 'index'}, class: 'dropdown-item') %>
            <%= link_to(t(".new_note"), {controller: 'notes'}, class: 'dropdown-item') %>
          </div>
        </li>
      </ul>
  </div>
</nav>
