<div id="article-<%= article.id %>">
  <h2 class='page-header'><%= (controller.controller_name == 'redirect') ? article.title : link_to_permalink(article,article.title) %></h2>
  <%= render 'articles/protected_article_content', { :article => article } %>

  <div class='meta'>
    <p>
      <small><%= _("Published on") %>
        <%= display_date_and_time(article.published_at) %>
        <%= category_links(article, _("under")) unless article.categories.empty? %>.
        <%= tag_links(article) unless article.tags.empty? %></small>
      </p>
	  <p><small><%= display_comments_counter(article) %></small></p>
    </div>
</div>
