<%= form_tag @article.comment_url do %>
<div id='commentform'>
	<h3><%= _("Comment")%> <em><%=@article.title%></em></h3>
	<div class='control-group'>
		<%= text_field "comment", "author", :class => 'span4', :placeholder => _("Your name") %>  	
	</div>
	<div class='control-group'>
		<%= text_field "comment", "email", :class => 'span4', :placeholder => _("Email address") %>
	</div>
	<div class='control-group'>
		<%= text_field "comment", "url", :class => 'span4', :placeholder => _("Your website") %>
	</div>
	<div class='control-group'>
		<%= text_area 'comment', 'body', :rows => 8, :class => 'span6' %>
	</div>

	<% if this_blog.use_recaptcha %>
	<div class='control-group'><%= raw recaptcha_tags :ajax => true %></div>
	<% end %>
	<div class='form-actions'>
		<input type='submit' id='form-submit-button' class='btn btn-info' value="<%= _('Comment') %>" />
	</div>
</div>
<% end %>
