<div class='meta'>
  <p><small>
    <%= _("Published on") %>
    <%= display_date_and_time(article.published_at) %>
    <%= _("by") %> <span class='p-author h-card'><%= article.user.nickname %></span>
    <%= _("Tags") + " " + article.tags.map { |tag| link_to tag.display_name, tag.permalink_url(nil, true), :rel => "tag"}.sort.join(", ") unless article.tags.empty? %>

  </small></p>
</div>

