<h2><%= link_to_permalink article,article.title %></h2>
<p class="auth"><%= _("Posted by")%> <%= author_link(article) %>
<%= js_distance_of_time_in_words_to_now article.published_at %></p>
<%= html(article, :body) %>
