<div class="article-info">
  <%= display_user_avatar(article.user, 'thumb', 'article-info__image') %>

  <p class="article-info__content">
    Published by
    <a class="article-info__link" href="#"><%= link_to(article.user.nickname, author_path(article.user.login), rel: :author) %></a>
  </p>

  <p class="article-info__content">
    <time datetime="<%= article.published_at %>"><%= display_date_and_time(article.published_at) %></time>
  </p>

  <% if article.published_comments.size > 0 %>
    <a class="article-info__comments" href="#comments"><%= article.published_comments.size %> Comment<%= article.published_comments.size > 1 ? 's' : '' %></a>
  <% end %>
</div>
