<div id='content-<%= article.id %>'>
  <p>This post is password protected. Please fill in your password or login to view the content</p>
  <%= remote_form_for(:articles, article,
                      :url => { :controller => 'articles', :action => 'check_password'},
                      :update => "content-#{article.id}") do |f| %>
    <%= password_field(:article, :password) %>
    <input type='hidden' name='article[id]' value='<%= article.id %>' />
    <%= submit_to_remote('check_password', _('Submit') + '!',
                         :update => "content-#{article.id}",
                         :url => {:controller => 'articles', :action => 'check_password'}) %>
  <% end %>
</div>
