<%- if @articles.empty? %>
  <div class="post">
  <p><%= t(".no_articles_found")%></p>
</div>
<%- else
currentmonth = 0
currentyear = 0
for article in @articles
  if (article.published_at.month != currentmonth || article.published_at.year != currentyear)
    currentmonth = article.published_at.month
    currentyear = article.published_at.year %>
  <h3 class="archivemonth">
      <%= l(article.published_at, format: :letters_month_with_year) %>
    </h3>
  <%- end %>
    <div class="archivepost">
      <%= article.published_at.mday %> -
      <%= link_to_permalink(article,h(article.title)) %>
      <% if !article.tags.empty? %> <%= t(".posted_in") %>
        <%= article.tags.collect {|t| link_to_permalink t,t.display_name }.join(", ") -%>
    <% end -%>
    </div>
  <%- end %>
  <%- end %>
  +<%= paginate @articles, next_label: "#{t(".next_page")} &raquo;", previous_label: "&laquo; #{t('.previous_page')}" %>
