<div class="post">
  <h2 class="title"><%= _(controller.controller_name.capitalize) %></h2>
<% unless @groupings.empty? -%>
<%= ul_tag_for @grouping_class %>
<% for grp in @groupings.sort_by{|grp|grp.display_name} -%>
  <li>
    <%= link_to_permalink(grp, grp.display_name) %>
  </li>
<% end -%>
</ul>
<% else -%>
<p><%= _("There are")%> <%= @grouping_class.to_s.underscore.pluralize %>.</p>
<% end -%>
</div>
<p><%= paginate @groupings, :right => "#{_("Next page")} &raquo;", :left => "&laquo; #{_('Previous page')}" %></p>
