- for article in @articles
  .post
    = render_partial "article", article
    = link_to_permalink article, "Read more..." if article.extended?
    %p.meta= article_links article

- unless @pages.item_count <= this_blog.limit_article_display
  %p#pagination
    = precede 'Older posts: ' do
      = pagination_links @pages, :params => { :action => @controller.action_name }
