/
  %rdf:RDF{ |
    :"xmlns:rdf"=>"http://www.w3.org/1999/02/22-rdf-syntax-ns#", |
    :"xmlns:trackback"=>"http://madskills.com/public/xml/rss/module/trackback/", |
    :"xmlns:dc"=>"http://purl.org/dc/elements/1.1/"} |
    -
    %rdf:Description{ |
      :"rdf:about"=>"", |
      :"trackback:ping"=>@article.trackback_url, |
      :"dc:title"=>h(@article.title.gsub(/-+/, '-')), |
      :"dc:identifier"=>@article.permalink_url, |
      :"dc:description"=>h((@article.html.strip_html[0..255]).gsub(/-+/, '-')), |
      :"dc:creator"=>h(@article.author), |
      :"dc:date"=>@article.updated_at.xmlschema}/ |

.post{:onmouseover => admin_tools_mouseover(:article), :onmouseout => admin_tools_mouseout(:article)}
  = link_to("edit", { :controller => "admin/content", :action => "edit", :id => @article }, |
    :class => "admintools", :style => "display: none", :id => "admin_article") |
  %h2=h @article.title
  %p.auth
    = "Posted by " + author_link(@article)
    = js_distance_of_time_in_words_to_now @article.published_at.utc
  = html(@article)
%p.meta= article_links @article

- if @article.allow_comments? or @article.published_comments.size > 0
  %a{:name => "comments"}
  %h4.blueblk Comments
  - unless @article.comments_closed?
    %p.postmetadata.alt
      %small
        %a{:href => "#respond"} Leave a response
  %ol.comment-list#commentList
    - if @article.published_comments.blank?
      %li#dummy_comment{:style => "display: none"}
    - else
      = render :partial => "comment", :collection => @article.published_comments

- if @article.allow_pings?
  %a{:name => "trackbacks"}
  %h4.blueblk Trackbacks
  %p
    Use the following link to trackback from your own site:
    %br/
    %span.light-bg= @article.trackback_url
  = content_tag(:ol, |
      render(:partial => "trackback", :collection => @article.published_trackbacks), |
      :id => 'trackbackList', :class => 'trackback-list') unless @article.published_trackbacks.blank? |

%p.postmetadata.alt
  %small
    %a{:href => |
        url_for(:controller => 'xml', :action => 'feed', :type => 'article', :format => 'rss20', :id => @article), |
        :title => 'RSS Feed'} RSS feed for this post |
    -if @article.allow_pings?
      %a{:href => @article.trackback_url} trackback uri

- unless @article.comments_closed?
  = render :partial => 'comment_box'
- else
  %p Comments are disabled
