<div class="l-banner">
  <% if @article.hero_image.present? %>
    <%= image_tag(@article.hero_image.url(:resized), class: 'l-banner__image', alt: @article.hero_image_alt_text) %>
  <% end %>

  <div class="l-constrained">
    <div class="l-banner__tags">
      <%= render 'articles/tag_list', tags: @article.tags %>
    </div>
  </div>
</div>

<main role="main" class="l-article">
  <div class="l-constrained">
    <div id="article-<%= @article.id %>">
      <h1 class="l-article__header"><%= @article.title %></h1>

      <div class="l-article__body">
        <div class="article-body">
          <%= render 'articles/article_content', { article: @article } %>
        </div>
      </div>

      <aside class="l-article-info">
        <%= render 'articles/meta', article: @article %>
      </aside>

      <%= render 'shared/sharing_buttons' %>

      <% if @article.user.twitter.present? %>
        <div class="well">
          <%= t(".if_you_liked_this_article_you_can", add_twitter: link_to(t(".add_me_to_twitter"), "http://twitter.com/#{@article.user.twitter}"))%>
        </div>
      <% end %>

      <div class="comments l-constrained">
        <a id="comments"></a>

        <h3 class="comments__headline"><%= t(".what_do_you_think")%></h3>
        <p class="comments__text"><%= t(".if_you_have_an_opinion") %></p>

        <% if @article.allow_comments? -%>
          <%= render "articles/comment_form" %>
        <% end -%>

        <%= render "articles/comment_list" %>
      </div>
    </div>
  </div>
</main>

<div class="l-also-like">
  <%= render 'shared/also_like' %>
</div>
