<div class="l-banner">
  <div class="l-constrained">
    <div class="l-banner__tags">
      <%= render 'articles/tag_list', tags: @article.tags %>
    </div>
  </div>
</div>

<main role="main" class="l-article">
  <div class="l-constrained">
    <div id="article-<%= @article.id %>">
      <h1 class="l-article__header"><%= @article.title %></h1>

      <div class="l-article__body">
        <div class="article-body">
          <%= render 'articles/article_content', { article: @article } %>
        </div>

        <div class="next-steps">
          <div class="next-steps__heading">
            <span>MA</span> says
          </div>

          <a href="https://www.moneyadviceservice.org.uk/en/tools/budget-planner" class="next-steps__container-link">
            <div class="next-steps__text">If you want to manage your money better try using our budget planner tool</div>
            <div class="next-steps__arrow-container">
              <svg xmlns="http://www.w3.org/2000/svg" class="next-steps__arrow" version="1.1" x="0px" y="0px" viewBox="46.9 -3.6 36 57.1" enable-background="new 46.9 -3.6 36 57.1" xml:space="preserve">
                <polyline class="next-steps__arrow-path" stroke-width="9" stroke-miterlimit="10" points="50,0 76,25 50,50 "></polyline>
              </svg>
            </div>
          </a>
        </div>
      </div>

      <aside class="l-article-info">
        <%= render 'articles/meta', article: @article %>
      </aside>

      <%= render 'shared/sharing_buttons' %>

      <% if @article.user.twitter.present? %>
        <div class='well'>
          <%= t(".if_you_liked_this_article_you_can", add_twitter: link_to(t(".add_me_to_twitter"), "http://twitter.com/#{@article.user.twitter}"))%>
        </div>
      <% end %>

      <% if @article.allow_comments? or @article.published_comments.size > 0 -%>
        <h3 class="feedback" id="commentaires">
          <a id="comments"></a>
          <%= render 'articles/comment_counter', article: @article %>
          <a href="#commentform" ref="nofollow"> &raquo;</a>
        </h3>
        <%= render "articles/comment_list" %>
      <% end -%>

      <% if @article.allow_comments? %>
        <%= render 'articles/comment_form' %>
      <% else %>
        <div class="well well-small">
          <%= t(".comments_are_disabled") %>
        </div>
      <% end %>

      <% if @article.allow_pings? -%>
        <h5 class="feedback" id="trackbacks"><%= t('.trackbacks_for')%> <em><%= @article.title %></em></h5>
      <% unless @article.published_trackbacks.blank? -%>
        <ol id="trackbacks" class="trackbacks">
          <%= render "trackback", :collection => @article.published_trackbacks %>
        </ol>
      <% end -%>
      <% else -%>
        <div class="well well-small">
          <%= t(".trackbacks_are_disabled") %>
        </div>
      <% end -%>
    </div>
  </div>
</main>
