<div class="l-banner">
  <% if @article.hero_image.present? %>
    <%= image_tag(@article.hero_image.url(:resized), class: 'l-banner__image', alt: @article.hero_image_alt_text) %>
  <% end %>

  <div class="l-constrained">
    <div class="l-banner__tags">
      <%= render 'articles/tag_list', tags: @article.tags %>
    </div>
  </div>
</div>

<main role="main" class="l-article">
  <div class="l-constrained">
    <div id="article-<%= @article.id %>">
      <h1 class="l-article__header"><%= @article.title %></h1>

      <div class="l-article__body">
        <div class="article-body">
          <%= render 'articles/article_content', { article: @article } %>
        </div>

        <% if @article.core_content_text.present? %>
          <p>Core Content: <%= link_to(@article.core_content_text, @article.core_content_url) %></p>
        <% end %>

        <% if @article.primary_related_content.present? %>
          <p>Primary Related Content: <%= link_to(@article.primary_related_content.title, @article.primary_related_content.permalink_url) %></p>
        <% end %>

        <% if @article.secondary_related_content.present? %>
            <p>Secondary Related Content: <%= link_to(@article.secondary_related_content.title, @article.secondary_related_content.permalink_url) %></p>
        <% end %>
      </div>

      <aside class="l-article-info">
        <%= render 'articles/meta', article: @article %>
      </aside>

      <%= render 'shared/sharing_buttons' %>

      <% if @article.user.twitter.present? %>
        <div class='well'>
          <%= t(".if_you_liked_this_article_you_can", add_twitter: link_to(t(".add_me_to_twitter"), "http://twitter.com/#{@article.user.twitter}"))%>
        </div>
      <% end %>

      <% if @article.allow_comments? or @article.published_comments.size > 0 -%>
        <div class="comments l-constrained">
      <% end %>

      <% if @article.allow_comments? %>
        <%= render 'articles/comment_form' %>
      <% else %>
          <div class="well well-small">
            <%= t(".comments_are_disabled") %>
          </div>
      <% end %>

      <% if @article.allow_comments? or @article.published_comments.size > 0 -%>
          <h3 class="feedback" id="commentaires">
            <a id="comments"></a>
            <%= render 'articles/comment_counter', article: @article %>
            <a href="#commentform" ref="nofollow"> &raquo;</a>
          </h3>
          <%= render "articles/comment_list" %>
        </div>
      <% end -%>
    </div>
  </div>
</main>
