<% @page_heading = _('Global settings') %>

<%= error_messages_for 'blog' %>

<%= form_tag :action => 'update' do %>
<div class='widget-container'>
  <h3 class='light'>
    <span class='ui-icon ui-icon-gear'></span> <%= _("General settings")%>
  </h3>
  <div class='widget-content'>
    <div class='setting clear'>
      <label class="float" for="setting_use_meta_keyword"><%= _("Use meta keywords")%></label>
      <div class='input_text'>
        <%= check_box(:setting, :use_meta_keyword)%>
      </div>
    </div>

    <div class='setting clear'>
      <label class="float" for="setting_meta_description"><%= _("Meta description")%></label>
      <div class='input_text'>
        <%= text_area(:setting, :meta_description, :rows => 3, :class => 'medium')%>
      </div>
    </div>
    <div class='setting clear'>
      <label class="float" for="setting_meta_keywords"><%= _("Meta keywords")%></label>
      <div class='input_text'>
        <%= text_area(:setting, :meta_keywords, :rows => 3, :class => 'medium')%>
      </div>
    </div>
    <div class='setting clear'>
      <label class="float" for="setting_rss_description"><%= _("Use RSS description")%></label>
      <div class='input_text'>
        <%= check_box(:setting, :rss_description)%>
        <span><%= "#{_('This will display')} #{show_rss_description} #{_('at the bottom of each of your post in the RSS feed')}"%></span>
      </div>
    </div>
    <div class='setting clear'>
      <label class="float" for="setting_rss_description"><%= _("RSS description message")%></label>
      <div class='input_text'>
          <%= text_area(:setting, :rss_description_text, :rows => 10, :class => 'medium')%>
      </div>
      <div class='input_text'><span class='help'>You can use the following tags: %author% (author name), %blog_url% (this blog URL), %blog_name% (this blog title) and %permalink_url% (a link to the article you want to protect)</span></div>
    </div>
  </div>
</div>

<div class='widget-container'>
  <h3 class='light'>
    <span class='ui-icon ui-icon-gear'></span> <%= _("Indexing")%>
  </h3>
  <div class='widget-content'>
    <div class='setting'>
      <label class="float" for="setting_unindex_categories"><%= _("Do not index categories")%></label>
      <div class='input_text'>
        <%= check_box(:setting, :unindex_categories)%>
        <span><%= _("Checking this box will add <code>noindex, follow</code> meta tags in every category page, removing them from search engines and preventing duplicate content issues") %></span>
      </div>
    </div>
    <div class='setting clear'>
      <label class="float" for="setting_unindex_tags"><%= _("Do not index tags")%></label>
      <div class='input_text'>
        <%= check_box(:setting, :unindex_tags)%>
        <span><%= _("Checking this box will add <code>noindex, follow</code> meta tags in every tags page, removing them from search engines and preventing duplicate content issues") %></span>
      </div>
    </div>
    <div class='setting clear'>
      <label class="float" for="setting_robots"><%= _("Robots.txt")%></label>
      <div class='input_text'>
        <%= text_area(:setting, :robots, :rows => 10, :class => 'medium')%>
        <% unless robot_writable? -%>
          <span class=' help mandatory'><%= _("You robots.txt file is not writeable. Typo won't be able to write it")%></span>
        <% end -%>
      </div>
    </div>
    <div class='setting clear'>
      <label class="float" for="setting_dofollowify"><%= _("Use dofollow in comments")%></label>
      <div class='input_text'>
        <%= check_box(:setting, :dofollowify)%>
        <span><%= _("Maybe you want to moderate feedbacks when turning this on") %></span>
      </div>
    </div>
    <div class='setting clear'>
      <label class="float" for="setting_use_canonical_url"><%= _("Use canonical URL")%></label>
      <div class='input_text'>
        <%= check_box(:setting, :use_canonical_url)%>
        <span><%= _("Read more about %s", link_to("rel='canonical'", "http://www.google.com/support/webmasters/bin/answer.py?hl=en&answer=139394")) %></span>
      </div>
    </div>
  </div>
</div>

<div class='widget-container'>
  <h3 class='light'>
    <span class='ui-icon ui-icon-gear'></span> <%= _("Google")%>
  </h3>
  <div class='widget-content'>
    <div class='setting'>
      <label class="float" for="setting_google_analytics"><%= _("Google Analytics")%></label>
      <div class='input_text'>
        <%= text_field(:setting, :google_analytics, :class => 'medium')%>
      </div>
    </div>
    <div class='setting clear'>
      <label class="float" for="setting_google_verification"><%= _("Google Webmaster Tools validation link")%></label>
      <div class='input_text'>
        <%= text_field(:setting, :google_verification, :class => 'medium')%>
      </div>
    </div>
    <div class='setting clear'>
      <label class="float" for="setting_custom_tracking_field"><%= _("Custom tracking code")%></label>
      <div class='input_text'>
        <%= text_area(:setting, :custom_tracking_field, :rows => 3, :class => 'medium')%>
      <p class='help'>Here you can add anything you want to appear in your application header, such as an anaytics service tracking code.</p>      </div>

    </div>
  </div>
</div>
<%= hidden_field_tag 'from', 'index' %>
<%= save_settings %>
<% end %>
