<%- content_for :page_heading do %>
  <i class="icon-large icon-settings"></i><h2 class="page-title"><%= t(".global_settings") %></h2>
<% end %>

<%= error_messages_for 'blog' %>

<%= form_tag :action => 'update' do %>
  <fieldset class='form-horizontal'>
    <legend><%= t(".general_settings") %></legend>
    <div class='control-group'>
      <label class='control-label' for="setting_use_meta_keyword"><%= t(".meta_keywords")%></label>
      <div class='controls'>
        <label class='checkbox' for="setting_use_meta_keyword"><%= t(".use_meta_keywords")%>
        <%= check_box(:setting, :use_meta_keyword)%>
      </label>
      <%= text_area(:setting, :meta_keywords, :rows => 3, :class => 'span6')%>
    </div>
  </div>
  <div class='control-group'>
    <label class='control-label' for="setting_meta_description"><%= t(".meta_description")%></label>
    <div class='controls'>
      <%= text_area(:setting, :meta_description, :rows => 3, :class => 'span6')%>
    </div>
  </div>
  <div class='control-group'>
    <label class='control-label'><%= t(".use_rss_description")%></label>
    <div class='controls'>
      <label class='checkbox' for="setting_rss_description">
        <%= check_box(:setting, :rss_description)%>
        <%= t(".use_rss_description")%>
      </label>
      <p class='help-block'><%= t('.this_will_display') %></p>
      <%= show_rss_description %>
    </div>
  </div>
  <div class='control-group'>
    <label class='control-label' for="setting_rss_description_text"><%= t(".rss_description_message")%></label>
    <div class='controls'>
      <%= text_area(:setting, :rss_description_text, :rows => 10, :class => 'span6')%>
      <p class='help-block'><%= t('.explain_rss_description') %></p>
    </div>
  </div>
</fieldset>

<fieldset class='form-horizontal'>
  <legend><%= t(".indexing") %></legend>
  <div class='control-group'>
    <label class='control-label'><%= t(".indexing") %></label>
    <div class='controls'>
      <label class='checkbox' for="setting_unindex_categories">
        <%= check_box(:setting, :unindex_categories)%>
        <%= t(".do_not_index_categories")%>
        <span class='help-block'><%= t(".explain_category_index") %></span>
      </label>
      <label class='checkbox' for="setting_unindex_tags">
        <%= check_box(:setting, :unindex_tags)%>
        <%= t(".do_not_index_tags")%>
        <span class='help-block'><%= t(".explain_tag_index") %></span>
      </label>
    </div>
  </div>
  <div class='control-group'>
    <label class='control-label' for="setting_robots"><%= t(".robots_txt")%></label>
    <div class='controls'>
      <%= text_area(:setting, :robots, :rows => 10, :class => 'span6')%>
      <% unless robot_writable? -%>
        <p class='alert alert-error'><%= t(".you_robots_txt_file_is_not_writeable") %></p>
      <% end -%>
    </div>
  </div>
  <div class='control-group'>
    <label class='control-label'><%= t(".dofollow") %></label>
    <div class='controls'>
      <label class='checkbox' for="setting_dofollowify"><%= t(".use_dofollow_in_comments")%>
      <%= check_box(:setting, :dofollowify)%><p class='help-block'><%= t(".explain_moderate_feedback") %></p>
    </label>
  </div>
</div>
<div class='control-group'>
  <label class='control-label'><%= t(".canonical_url") %></label>
  <div class='controls'>
    <label class='checkbox' for="setting_use_canonical_url">
      <%= check_box(:setting, :use_canonical_url)%>
      <%= t(".use_canonical_url")%>
      <span class='help-block'><%= t(".read_more_about", link: link_to("rel='canonical'", "http://support.google.com/webmasters/bin/answer.py?hl=en&answer=139394")) %></span>
    </label>
  </div>
</div>
</fieldset>

<fieldset class='form-horizontal'>
  <legend><%= t(".google") %></legend>
  <div class='control-group'>
    <label class='control-label' for="setting_google_analytics"><%= t(".google_analytics")%></label>
    <div class='controls'>
      <%= text_field(:setting, :google_analytics, :class => 'span6')%>
    </div>
  </div>
  <div class='control-group'>
    <label class='control-label' for="setting_google_verification"><%= t(".google_webmaster_tools_validation_link")%></label>
    <div class='controls'>
      <%= text_field(:setting, :google_verification, :class => 'span6')%>
    </div>
  </div>
  <div class='control-group'>
    <label class='control-label' for="setting_custom_tracking_field"><%= t(".custom_tracking_code")%></label>
    <div class='controls'>
      <%= text_area(:setting, :custom_tracking_field, :rows => 3, :class => 'span6')%>
      <p class='help-block'><%= t(".explain") %></p>
    </div>
  </div>
</fieldset>

<%= hidden_field_tag 'from', 'index' %>
<%= save_settings %>
<% end %>
