<%- content_for :page_heading do %>
<h2>
  <i class="glyphicon glyphicon-large glyphicon-cog"></i>
  <%= t(".permalinks") %>
</h2>
<% end %>

<%= error_messages_for 'blog' %>

<%= form_tag action: 'permalinks' do %>
<div class='alert alert-info'>
  <p><%= t(".explain") %></p>
  <p><%= t(".sample") %></p>
</div>

<div class='form-horizontal'>
  <div class='form-group'>
    <label class='control-label col-sm-2'><%= t(".permalink_format") %></label>
    <div class='col-sm-5'>
      <div class='radio'>
        <label for="setting_permalink_format_yearmonthdaytitle">
          <%= radio_button(:setting, :permalink_format, '/%year%/%month%/%day%/%title%') %>
          <%= t(".date_and_title") %>
        </label>
        <small class='help-block'><%= "#{this_blog.base_url}/#{Time.now.strftime('%Y/%m/%d')}/sample-article" %></small>
        <label for="setting_permalink_format_yearmonthtitle">
          <%= radio_button(:setting, :permalink_format, '/%year%/%month%/%title%') %>
          <%= t(".month_and_title") %>
        </label>
        <small class='help-block'><%= "#{this_blog.base_url}/#{Time.now.strftime('%Y/%m')}/sample-article" %></small>
        <label for="setting_permalink_format_title">
          <%= radio_button(:setting, :permalink_format, '/%title%') %> <%= t(".title_only") %>
        </label>
        <small class='help-block'><%= "#{this_blog.base_url}/sample-article" %></small>
        <label for="setting_permalink_format_custom">
          <%= radio_button(:setting, :permalink_format, 'custom') %> <%= t(".custom") %>
          <%= text_field(:setting, :custom_permalink, { :class => 'form-control'})%>
        </label>
      </div>
    </div>
  </div>
</div>

<h3><%= t(".help_on_permalink_settings")%></h3>
<p class='help-block'><%= t(".you_can_custom_your_url_structure") %></p>
<table class="table table-hover">
  <tr>
    <td><code>%title%</code></td>
    <td><%= t(".your_article_slug") %></td>
  </tr>
  <tr>
    <td><code>%year%</code></td>
    <td><%= t(".your_article_year") %></td>
  </tr>
  <tr>
    <td><code>%month%</code></td>
    <td><%= t(".your_article_month") %></td>
  </tr>
  <tr>
    <td><code>%day%</code></td>
    <td><%= t(".your_article_day") %></td>
  </table>

<div class='form-group'>
  <hr>
  <%= link_to(t(".cancel"), {action: 'index'}) %>
  <%= t(".or") %>
  <%= submit_tag(t(".update_settings"), class: 'btn btn-success') %>
</div>

<%= hidden_field_tag 'from', 'permalinks' %>
<% end %>
