<% @page_heading = _('Permalinks') %>
<% subtabs_for(:seo) %>

<%= error_messages_for 'blog' %>

<%= form_tag :action => 'update' do %>
<div class='widget-container'>
  <h3 class='light'>
    <span class='ui-icon ui-icon-gear'></span> <%= _("Format of permalink")%>
  </h3>
  <div class='widget-content'>
    <div class='setting clear'>
      <label class="float" for="setting_permalink_format">
        <%= radio_button(:setting, :permalink_format, '/%year%/%month%/%day%/%title%') %> Date and title
      </label>
      <div class='input_text'>
        <span class='help-inline'><%= "#{this_blog.base_url}/#{Time.now.strftime('%Y/%m/%d')}/sample-article" %></span>
      </div>
    </div>
    <div class='setting clear'>
      <label class="float" for="setting_permalink_format">
        <%= radio_button(:setting, :permalink_format, '/%year%/%month%/%title%') %> Month and title
      </label>
      <div class='input_text'>
        <span class='help-inline'><%= "#{this_blog.base_url}/#{Time.now.strftime('%Y/%m')}/sample-article" %></span>
      </div>
    </div>
    <div class='setting clear'>
      <label class="float" for="setting_permalink_format">
        <%= radio_button(:setting, :permalink_format, '/%title%') %> Title only
      </label>
      <div class='input_text'>
        <span class='help-inline'><%= "#{this_blog.base_url}/sample-article" %></span>
      </div>
    </div>
    <div class='setting clear'>
      <label class="float" for="setting_custom_permalink">
        <%= radio_button(:setting, :permalink_format, 'custom') %> Custom
      </label>
      <div class='input_text'>
        <%= text_field(:setting, :custom_permalink, { :class => 'medium'})%>
      </div>
    </div>

  </div>
</div>
<%= save_settings %>
<% end %>

