<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t(".inbound_links") %></h3>
  </div>
  <div class="panel-body">
    <ul class='list-unstyled'>
      <% if @inbound_links.nil? %>
        <li class='alert alert-danger'>
        <%= t('.you_have_no_internet_connection') %>
        </li>
      <% else %>
        <% if @inbound_links.empty? %>
          <li class='alert alert-info'>
          <%= t(".no_one_made_link_to_you_yet") %>
          </li>
        <% else %>
          <% for link in @inbound_links -%>
            <%- link_date = link.date -%>
            <li>
            <h5>
              <%= sprintf("%s %s %s %s %s", link_to(link.author, link.link), t(".made_a_link_to_you_on"), link_date && link_date.strftime(this_blog.date_format) || t('.at_an_unknown_date'), link_date && t(".at") || '', link_date && link_date.strftime(this_blog.time_format)) || '' %>
            </h5>
            <p><%= link.description.strip_html.slice(0, 300) %></p>
            <hr>
            </li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
