<div class="dashboard-small">
  <h3><%= _("System information") %></h3>
  <ul> 
    <li><%= _("You're running Typo %s", TYPO_VERSION) %></li>
  </ul>
  <h3><%= _("Statistics") %></h3>
  <ul> 
    <li <%= alternate_class %>> <%= _("Total posts : %d", @statposts) %></li>
    <li <%= alternate_class %>> <%= _("Your posts : %d" , @statuserposts) %></li>
    <li <%= alternate_class %>> <%= _("Total comments : %d" , @statcomments) %></li>
    <li <%= alternate_class %>> <%= _("Spam comments : %d" , @statspam) %></li>
  </ul>
</div>
