<div class="bordered">
  <h3><%= _("About your blog") %></h3>

  <p><%= _("You're running Typo %s", TYPO_VERSION) %></p>
  <ul> 
    <li> <%= _("Total posts : %d", @statposts) %></li>
    <li> <%= _("Your posts : %d" , @statuserposts) %></li>
    <li> <%= _("Total comments : %d" , @statcomments) %></li>
    <li> <%= _("Spam comments : %d" , @statspam) %></li>
  </ul>
</div>
