<div class="dashboard">
  <h3><%= _("Latest news from the Typo development blog") %></h3>
  <% if @typo_links.nil? %>
    <%= _('You have no internet connection') %>
  <% else %>
    <ul>
      <% if @typo_links.size == 0 %>
        <li><%= _("Oh no, nothing new") %></li>
      <% else %>
        <% @typo_links.each do |link| -%>
          <li <%= alternate_class %>>
            <%= link_to("<strong>#{link.title}</strong><br /", link.link) %>
            <%= "#{link.date}<br />" %>
            <%= link.description.strip_html.slice(0, 200) %>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
  <hr />
</div>
