<h3><%= _("Latest news from the Typo development blog") %></h3>
<div class='well'>
  <ul class='unstyled'>
  <% if @typo_links.nil? %>
    <li class='alert alert-error'>
      <%= _('You have no internet connection') %>
    </li>
  <% else %>
    <% if @typo_links.size == 0 %>
      <li><%= _("Oh no, nothing new") %></li>
    <% else %>
      <% @typo_links.each do |link| -%>
        <li <%= alternate_class %>>
          <h5><%= link_to("#{link.title}</strong>".html_safe, link.link) %> <%= display_date_and_time(link.date) %></h5>
          <p><%= link.description.strip_html.slice(0, 300) %>...</p>
          <hr />
        </li>
      <% end %>
    <% end %>
  <% end %>
  </ul>
</div>
