<div class='dashboard-left ui-accordion ui-widget ui-helper-reset ui-accordion-icons'>
  <h3 class='ui-accordion-header ui-helper-reset ui-state-active ui-corner-top'>
    <span class='ui-icon ui-icon-person'> </span>
    <%= _("Welcome back, %s!" ,current_user.name ) -%>
  </h3>
  <div class='ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active'>
    <p><%= _("%d articles and %d comments were posted since your last connexion", @newposts, @newcomments) %></p>
    <p><%= _("You're running Typo %s", TYPO_VERSION) %></p>
    
    <p><strong><%= _("Content") %></strong></p>
    <ul>
      <li> <%= sprintf("%s %d", link_to(_("Total posts:"), :controller => 'admin/content'), @statposts) %></li>
      <li> <%= sprintf("%s %d", link_to(_("Your posts:"), :controller => 'admin/content', :search => "[user_id]=#{current_user.id}"), @statuserposts) %></li>
      <li> <%= sprintf("%s %d", link_to(_("Categories:"), :controller => 'admin/categories'), @categories) %></li>
    </ul>

    <p><strong><%= _("Feedback") %></strong></p>
    <ul>
      <li> <%= sprintf("%s %d", link_to(_("Total comments:"), :controller => 'admin/feedback') , @statcomments) %></li>
      <li> <%= sprintf("%s %d", link_to(_("Spam comments:"), :controller => 'admin/feedback', :published => 'f'), @statspam) %></li>
      <li> <%= sprintf("%s %d", link_to(_("In your spam queue:"), :controller => 'admin/feedback', :presumed_spam => 'f'), @presumedspam) %></li>
    </ul>
  </div>
</div>
