<%= render "overview" %>

<div>
  <div class='span6'>
    <%= render "welcome" %>
    <%= render "comments" %>
  </div>

  <div class='span6'>
    <%= render "drafts" %>
    <%= render "inbound" %>
    <%= render "publify_dev" %>  
  </div>
  
</div>