<%- content_for :page_heading do %>
<i class="glyphicon glyphicon-large glyphicon-home"></i>
<h2 class="page-title"><%= t(".welcome_back", user_name: current_user.name) %></h2>
<% end %>

<%= render "overview" %>

<div class='row'>
  <div class='col-md-6'>
    <%= render "welcome" %>
    <%= render "comments" %>
  </div>
  <div class='col-md-6'>
    <%= render "drafts" %>
    <%= render "inbound" %>
  </div>
</div>
