<% content_for('tasks') do %>
    <li><a href='#'>&nbsp;</a></li>
<% end %>

<%= render :partial => "overview" %>
<%= render :partial => "welcome" %>
<%= render :partial => "inbound" %>
<%= render :partial => "comments" %>
<%= render :partial => "posts" %>
<%= render :partial => "popular" %>
<%= render :partial => "typo_dev" %>  

<br class='clear' />