<% content_for(:tasks) do %>
    <li><a href='#'>&nbsp;</a></li>
<% end %>

<%= render "overview" %>
<%= render "welcome" %>
<%= render "inbound" %>
<%= render "comments" %>
<%= render "posts" %>
<%= render "popular" %>
<%= render "typo_dev" %>

<br class='clear' />
