<%= render "overview" %>

<div class='dashboard-left'>
  <%= render "welcome" %>
  <%= render "comments" %>
  <%= render "popular" %>
</div>

<div class='dashboard'>
  <%= render "inbound" %>
  <%= render "posts" %>
  <%= render "typo_dev" %>  
</div>
