<%- content_for :page_heading do %>
  <i class="icon-large icon-dashboard"></i><h2 class="page-title"><%= _("Welcome back, %s!", current_user.name) %></h2>
<% end %>

<%= render "overview" %>

<div>
  <div class='span6'>
    <%= render "welcome" %>
    <%= render "comments" %>
  </div>

  <div class='span6'>
    <%= render "drafts" %>
    <%= render "inbound" %>
  </div>

</div>
