<% if @pages.empty? %>
  <tr>
    <td colspan="5">
      <%= t('.no_pages') %>
    </td>
  </tr>
<% end %>

<% for page in @pages %>
  <tr>
    <td>
      <%= link_to_permalink(page, page.title) %>
    </td>
    <td>
      <%= author_link(page) %><br />
    </td>
    <td>
      <%= l(page.created_at) %>
    </td>
    <td>
      <%= page.text_filter&.name %>
    </td>
    <td>
      <%= show_actions page %>
    </td>
  </tr>
<% end %>
<%= display_pagination(@pages, 5) %>
