<% content_for :page_heading do %>
<h2>
  <%= t('.manage_pages') %>
  <%= link_to(t('.new_page'), { controller: 'pages', action: 'new' }, { id: 'dialog-link', class: 'btn btn-info pull-right' }) %>
</h2>
<% end %>

<table class='table table-striped'>
  <thead>
    <tr class='noborder'>
      <th><%= t('.title') %></th>
      <th><%= t('.author') %></th>
      <th><%= t(".created_at") %></th>
      <th><%= t(".text_filter") %></th>
      <th><%= t(".actions") %></th>
    </tr>
  </thead>
  <tbody>
    <%= render 'pages' %>
  </tbody>
</table>
