<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />		
		<title>Typo Administration:  <%= controller.controller_name %></title>
		<meta http-equiv="imagetoolbar" content="no" />
		<%= stylesheet_link_tag "administration.css" %>
		<%= javascript_include_tag "prototype", "effects", "dragdrop", "controls", "typo" %>
	</head>

	<body>
	<div id="container">

  	<div id="content">
  	  <h2><%= @page_heading %></h2>
      <%= @content_for_layout %>
  	</div>
  </div>
	</body>
</html>

