<div class="atomentry" id="article-<%= article.id %>">
  <h2 class="title"><%= (controller.action_name.include? 'permalink') ? article.title : link_to_permalink(article,article.title) %></h2>
  <div class="content">
    <%= render 'articles/protected_article_content', { :article => article } %>
  </div>
	<div class="meta">
		<% if controller.controller_name == "articles" and controller.action_name == 'show' %>
		<p><small>
		  <%= _("This entry was posted on %s", content_tag(:abbr, display_date_and_time(article.published_at), {:class => 'published', :title => article.published_at.xmlschema})) %>
		    <%= _("and %s", category_links(@article)) unless @article.categories.empty? %>.
		    <%= _("You can follow any response to this entry through the %s", link_to(_("Atom feed"), @auto_discovery_url_atom)) %>.
		    <%= _("You can leave a %s", link_to_permalink(article, _('comment'), 'comments')) if article.allow_comments? %>
		    <%= _("or a %s from your own site", link_to_permalink(article, _('trackback'), 'trackbacks')) if article.allow_pings? %>.</small><br />
			<small><%= tag_links(@article) unless @article.tags.empty? %></small></p>
		<% else %>
  	<p class="author">
    	<%= _("Posted by") %> <cite><%= author_link(article) %></cite>
    	<abbr class="published" title="<%= article.published_at.xmlschema %>"><%= display_date_and_time article.published_at %></abbr>
  	</p>
		<p class="links">
			<%= link_to_permalink(article, _("Read full article"), nil, 'more') if controller.action_name != 'permalink' %>
			<%= link_to_permalink(article,pluralize(article.published_comments.size, _('no comments') , _('1 comment'), __('%d comments')),'comments', 'comments') %>
		</p>
		<% end %>
		<br style="clear:both;" />
	</div>
</div>
