%div[article].atomentry
  %h2.title
    = (controller.action_name.include? 'permalink') ? article.title : link_to_permalink(article,article.title)
    = content_tag(:span, article.published_comments.size, :class => 'comment_count') if article.published_comments.size > 0

  %p.author
    = preceed "Posted by " do
      %cite= author_link(article)
    %abbr.published{:title=>article.published_at.xmlschema}= js_distance_of_time_in_words_to_now article.published_at

  .content
    = html article, :body

    - if article.extended?
      .extended
        - if controller.action_name == 'index'
          %p= link_to_permalink article,"Continue reading..."
        - else
          = html article, :extended

  %ul.meta
    = content_tag(:li, category_links(article), :class => 'categories') unless article.categories.empty?
    = content_tag(:li, tag_links(article), :class => 'tags') unless article.tags.empty?
    %li Meta
      = trackbacks_link(article) << ',' if article.allow_pings?
      = comments_link(article) << ',' if article.allow_comments?
      = succeed "," do
        %a{:href=>article.permalink_url, :rel=>"bookmark"} permalink
      = succeed "," do
        %a{:href=>url_for(:controller=>'xml', :action=>'feed', :type=>'article', :format=>'rss', :id=>article)} rss
      %a{:href=>url_for(:controller=>'xml', :action=>'feed', :type=>'article', :format=>'atom', :id=>article)} atom
