<div class="atomentry" id="article-<%= article.id %>">
  <h2 class="title">
    <%= (controller.action_name.include? 'permalink') ? article.title : link_to_permalink(article,article.title) %>
    <%= content_tag(:span, article.published_comments.size, :class => 'comment_count') if article.published_comments.size > 0 %>
  </h2>

  <p class="author">
    <%= _("Posted by")%> <cite><%= author_link(article) %></cite>
    <abbr class="published" title="<%= article.published_at.xmlschema %>"><%= display_date_and_time article.published_at %></abbr>
  </p>

  <div class="content">
    <%= render 'articles/protected_article_content', { :article => article } %>
  </div>

  <ul class="meta">
    <%= content_tag(:li, category_links(article).html_safe, :class => 'categories') unless article.categories.empty? %>
    <%= content_tag(:li, tag_links(article).html_safe, :class => 'tags') unless article.tags.empty? %>
    <li><%= _("Meta") %>
      <%= trackbacks_link(article) << ',' if article.allow_pings? %>
      <%= comments_link(article) << ',' if article.allow_comments? %>
      <a href="<%= article.permalink_url %>" rel="bookmark"><%=_("permalink")%></a>,
      <a href="<%= @auto_discovery_url_rss %>">rss</a>,
      <a href="<%= @auto_discovery_url_atom %>">atom</a>
    </li>
  </ul>
</div>
