<!--
<rdf:RDF
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:trackback="http://madskills.com/public/xml/rss/module/trackback/"
  xmlns:dc="http://purl.org/dc/elements/1.1/">
<rdf:Description
  rdf:about=""
  trackback:ping="<%= @article.trackback_url %>"
  dc:title="<%=h @article.title.gsub(/-+/, '-') %>"
  dc:identifier="<%= @article.permalink_url %>"
  dc:description="<%=h (@article.html.strip_html[0..255]).gsub(/-+/, '-') %>"
  dc:creator="<%= h @article.author %>"
  dc:date="<%= @article.updated_at.xmlschema %>" />
</rdf:RDF>
-->

<%= render :partial => 'article', :object => @article %>

<% if @article.allow_pings? -%>
  <h5><a name="trackbacks">Trackbacks</a></h5>
  <p>
    Use the following link to trackback from your own site:<br />
    <%= @article.trackback_url %>
  </p>

  <% unless @article.published_trackbacks.blank? -%>
  <ol id="trackbacks" class="trackbacks">
    <%= render(:partial => "trackback", :collection => @article.published_trackbacks) %>
  </ol>
  <% end -%>
<% end -%>

<% if @article.allow_comments? or @article.published_comments.size > 0 -%>
  <h5><a name="comments">Comments</a></h5>
  <p><a href="#commentform">Leave a response</a></p>

  <div id="comments_div">
    <%= render :partial => "comment_list" %>
  </div>
<% end -%>

<%= render :partial => 'comment_form' if @article.allow_comments? %>
