<!--
<rdf:RDF
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:trackback="http://madskills.com/public/xml/rss/module/trackback/"
  xmlns:dc="http://purl.org/dc/elements/1.1/">
<rdf:Description
  rdf:about=""
  trackback:ping="<%= @article.trackback_url %>"
  dc:title="<%=h @article.title.gsub(/-+/, '-') %>"
  dc:identifier="<%= @article.permalink_url %>"
  dc:description="<%=h (@article.html.strip_html[0..255]).gsub(/-+/, '-') %>"
  dc:creator="<%= h @article.author %>"
  dc:date="<%= @article.updated_at.xmlschema %>" />
</rdf:RDF>
-->

<%= render @article %>

<% if @article.allow_pings? -%>
  <h5><a name="trackbacks"><%= _("Trackbacks") %></a></h5>
  <p>
    <%= _("Use the following link to trackback from your own site") %>:<br />
    <%= @article.trackback_url %>
  </p>

  <% unless @article.published_trackbacks.blank? -%>
  <ol id="trackbacks" class="trackbacks">
    <%= render "trackback", :collection => @article.published_trackbacks %>
  </ol>
  <% end -%>
<% end -%>

<% if @article.allow_comments? or @article.published_comments.size > 0 -%>

  <% if !@article.comments_closed? and @article.published_comments.size > 0 %>
    <h5><a name="comments"><%= _("Comments") %></a></h5>
  <% end -%>

  <% unless @article.comments_closed? %>
    <p><a href="#commentform"><%= _("Leave a comment") %></a></p>
  <% end -%>

  <div id="comments_div">
    <%= render "articles/comment_list" %>
  </div>
<% end -%>

<%= render 'articles/comment_form' unless @article.comments_closed? %>
