<div id="active_<%= active.html_id %>" class='ui-accordion ui-widget ui-helper-reset ui-accordion-icons settings target'>
  <h4 class='ui-accordion-header ui-helper-reset ui-state-default ui-corner-top'><%= active.display_name %></h4>
  <div class='ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active'>
    <p><%= active.description %></p>
      <div><% active.class.fields.each do |row| -%>
        <%= row.line_html(active) %>
        <% end -%>
      </div>
      <%= link_to_remote('remove',
        :url => {:action => 'remove', :id => active.id,
                 :element => "active_#{active.html_id}"},
        :before => "new Effect.Fade('active_#{active.html_id}')",
        :loading => "new Element.show('update_spinner')") %>
  </div>
</div>
