<ul class="sortable">
  <%- @positionnal.each_with_index do |sidebar, index| -%>
    <li data-sortable="sidebar_<%= sidebar.id %>" >
      <div class="active alert <%= sidebar.staged_position == 0 ? 'alert-info' : 'alert-warning' %>">
        <h3 class='light'><%= sidebar.display_name %></h3>
        <div class='widget-content'>
          <p><%= sidebar.description %></p>
        </div>
        <div>
        <%- sidebar.class.fields.each do |row| %>
          <%= row.line_html(sidebar) %>
        <%- end %>
        </div>
      </div>
    </li>
  <%- end -%>
</ul>
