<% @page_heading = _('Sidebar') %>

<p class='help-block'><%= _("Drag and drop to change the sidebar items displayed on this blog.  To remove items from the sidebar just click remove  Changes are saved immediately, but not activated until you click the 'Publish' button")%>.</p>
<%= form_remote_tag(:url => {:action=>'publish',
:method => :post },
:loading => "new Element.show('update_spinner')",
:success => "var g = new k.Growler({location : 'br'});
g.info('Sidebar was successfully saved', {life: 3});
new Element.hide('update_spinner')",
:failure => "var g = new k.Growler({location : 'br'});
g.error('Oops, something wrong happened', {life: 3});
new Element.hide('update_spinner')") \
do %>

<div class='actions'>
	<%= cancel_or_save(_('Publish changes'))%>
</div>

<div id="messages">&nbsp;</div>

<div id="sidebar-config" class='row'>
	<div id="available" class='span6 well'>
		<h3><%= _("Available Items")%></h3>
		<div id="available_box">
			<% if @available.blank? %>
			<p class='alert-message warning'><%= _("You have no plugins installed")%>.</p>
			<% else %>
			<%= render :partial => 'available', :collection => @available %>
			<% end %>
		</div>
	</div>

	<div id="cnt-active" class='span7 well '>
		<h3 id="hdr-active">
			<%= _("Active Sidebar items")%>
			<%= image_tag "spinner-blue.gif", :id => 'update_spinner',
			:style => 'display:none;' -%>
		</h3>
		<div id="active">
			<% if @active.blank? %>
			<%= render :partial => 'target' %>
			<% else %>
			<%= render :partial => 'active', :collection => @active %>
			<% end %>
			<%= sortable_element "active", :url => {:action => 'set_active'},
			:tag => 'div',
			:handle => 'handle', :containment => ['active','available_box'],
			:loading => "new Element.show('update_spinner')" %>
		</div>
	</div>

</div>
<div class='actions'>
	<%= cancel_or_save(_('Publish changes'))%>
</div>

<% end %>

<h2><%= _("Get more plugins") %></h2>
<p><%= _("You can download and install sidebar plugins from our official %s. All you have to do is upload the theme directory in your vendor/plugins directory.", "<a href='https://github.com/fdv/typo/wiki/Sidebar-plugins'>#{_("plugin repository")}</a>") %></p>
