<% @page_heading = 'Sidebar' %>
<% content_for('tasks') do %>
    <%= subtab _("Sidebar"), "current", {:controller=>"sidebar", :action=>"index"} %>
    <%= subtab(_("Text Filters"), "", {:controller=>"textfilters", :action=>"list"}) %>
<% end %>
  <p class="paginate l">You can download and install sidebar plugins from our official <a href="http://svn.typosphere.org/typo/plugins/">plugin repository</a> running script/plugins install http://svn.typosphere.org/typo/plugins/myplugin, or upload them in the vendors/plugin directory.</p>

  <p><%= _("Drag and drop to change the sidebar items displayed on this blog.  To remove items from the sidebar just click remove  Changes are saved immediately, but not activated until you click the 'Publish' button")%>.</p>

  <%= form_remote_tag(:url=>{:action=>'publish'},
                      :loading => "new Element.show('update_spinner')")  %>
  <div class="paginate l">
    <input value="<%= _('Publish changes')%>" class="submit" type="submit"/>
  </div>
  <div id="messages">&nbsp;</div>

  <div id="sidebar-config">
    <div id="available" class="dropbox">
      <h3><%= _("Available Items")%></h3>
      <div id="available_box">
        <%= render :partial => 'availables', :object => @available %>
      </div>
    </div>

    <div id="cnt-active">
      <h3 id="hdr-active">
        <%= _("Active Sidebar items")%>
        <%= image_tag "spinner-blue.gif", :id => 'update_spinner',
                      :style => 'display:none;' -%>
      </h3>
      <div id="active" class="dropbox">
        <%= render :partial => 'actives', :object => @active %>
      </div>
    </div>
    <br clear="all" />

	  <div class="paginate l">
	    <input value="<%= _('Publish changes')%>" class="submit" type="submit"/>
	  </div>

  </div>