<%- content_for :page_heading do %>
<i class="icon-large icon-sidebar"></i>
<h2 class="page-title"><%= t(".sidebar") %></h2>
<%- end %>

<div class='alert alert-info'>
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <p><%= t(".explain_how_its_works") %></p>
  <p><%= t(".download_more_plugins") %></p>
</div>
<p class='help-block'></p>

<%= form_tag(url_for(:action=>'publish'), :method => :post, :class => 'spinner') do %>
  <div class='form-actions'>
    <%= link_to(t(".cancel"), {action: 'index'}) %>
    <%= t(".or") %>
    <%= submit_tag(t('.publish_changes'), class: 'btn btn-success') %>
  </div>
<%- end -%>

<div id="messages">&nbsp;</div>

<%= render partial: 'config' %>

<%= form_tag(url_for(:action=>'publish'), :method => :post, :class => 'spinner') do %>
  <div class='form-group'>
    <%= link_to(t(".cancel"), {action: 'index'}) %>
    <%= t(".or") %>
    <%= submit_tag(t('.publish_changes'), class: 'btn btn-success') %>
  </div>
<% end %>
