<%- content_for :page_heading do %>
  <i class="icon-large icon-sidebar"></i>
  <h2 class="page-title"><%= t(".sidebar") %></h2>
<%- end %>

<p class='help-block'><%= t(".explain_how_its_works") %></p>

<%= form_tag(:url => {:action=>'publish', :method => :post }, :remote => true, :class => 'spinner') do %>
  <div class='form-actions'>
  <%= link_to(t(".cancel"), {action: 'index'}, class: 'btn') %>
  <%= t(".or") %>
  <%= submit_tag(t('.publish_changes'), class: 'btn btn-success') %>
</div>

<div id="messages">&nbsp;</div>

<div id="sidebar-config" class='row'>
  <div id="available" class='col-md-6'>
    <div class='well'>
      <h3><%= t(".available_items")%></h3>
      <div id="available_box">
        <% if @available.blank? %>
          <p class='alert-message warning'><%= t(".you_have_no_plugins_installed")%>.</p>
      <% else %>
          <%= render :partial => 'available', :collection => @available %>
      <% end %>
      </div>      
    </div>
  </div>

  <div id="cnt-active" class='col-md-6'>
    <div class='well'>
      <h3 id="hdr-active">
        <%= t(".active_sidebar_items")%>
        <%= image_tag "spinner-blue.gif", :id => 'update_spinner',
          :style => 'display:none;' -%>
      </h3>
        <div id="active">
          <% if @active.blank? %>
            <%= render :partial => 'target' %>
        <% else %>
            <%= render :partial => 'active', :collection => @active %>
        <% end %>
          <%#= sortable_element "active", :url => {:action => 'set_active'},
            :tag => 'div',
            :handle => 'handle', :containment => ['active','available_box'],
            :loading => "new Element.show('update_spinner')" %>
        </div>
        </div>
      </div>

    </div>
    <div class='form-group'>
      <%= link_to(t(".cancel"), {action: 'index'}, class: 'btn') %>
      <%= t(".or") %>
      <%= submit_tag(t('.publish_changes'), class: 'btn btn-success') %>
    </div>

  <% end %>

    <div class='alert alert-info'>
      <p><%= t(".download_more_plugins") %></p>  
    </div>

