<% content_for :page_heading do %>
  <h2>
    <%= t('.media_library') %>
  </h2>
  <p>
    <%= t('.explain_media_library_html') %>
  </p>
<% end %>

<%= form_tag({ action: 'upload' }, { enctype: 'multipart/form-data', class: 'form-inline' }) do %>
  <div class='well well-small'>
    <h3><%= t('.upload_a_file_to_your_site') %></h3>
    <div class="form-group">
      <%= file_field_tag(:upload, class: 'input-file') %>
    </div>
    <div class="form-group">
      <%= submit_tag(t('.upload'), class: 'btn btn-success') %>
    </div>
  </div>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('.filename') %> <small>(<%= t('.right_click_for_link') %>)</small></th>
      <th><%= t('.content_type') %></th>
      <th><%= t('.file_size') %></th>
      <th><%= t('.date') %></th>
    </tr>
  </thead>
  <% if @resources.empty? %>
    <tr>
      <td colspan="6">
        <%= t('.no_resources') %>
      </td>
    </tr>
  <% end %>

  <% for resource in @resources %>
  <tr>
    <td>
      <% if resource.mime =~ /image/ %>
        <a href="<%= resource.upload.medium.url %>" data-toggle="lightbox">
          <%= image_tag(resource.upload.thumb.url) %>
        </a>
      <% else %>
        <%= link_to(resource.upload_url, resource.upload_url, download: resource.upload.identifier) %>
      <% end %>
      <p>
        <small>
          <% if resource.mime =~ /image/ %>
            <%= link_to(t('.thumbnail'), resource.upload.thumb.url) %> |
            <%= link_to(t('.medium_size'), resource.upload.medium.url) %> |
            <%= link_to(t('.original_size'), resource.upload.url) %> |
          <% end %>
          <%= link_to(t('.delete'),
                      { action: 'destroy', id: resource.id, search: params[:search], page: params[:page] },
                      { confirm: t('.are_you_sure'), method: :delete }) %>
        </small>
      </p>
    </td>
    <td>
      <%= resource.mime %>
    </td>
    <td><%= resource.upload.size %> bytes</td>
    <td><%= l(resource.created_at, format: :short) %></td>
  </tr>
  <% end %>
  <%= display_pagination(@resources, 6) %>
</table>
