<p>A new article has been posted on <%=h @blog.blog_name %>:</p>

<%= render :partial => 'mail_header' %>
<h2><%=h @article.title %></h2>
<%= html @article, :body %>
<%= render :partial => 'mail_footer' %>
