<p>You account has been created on <a href="<%= @blog.base_url%>"><%= @blog.blog_name %></a></p>

<%= render :partial => 'mail_header' %>

<p>Account details:</p>

<ul>
  <li>Login: <%= h @user.login %></li>
  <li>Password: <%= h @user.password %></li>
</ul>

</div>
