<% unless sidebar.statuses.blank? %>
<style type='text/css'>
.statuses_sidebar { 
  border-bottom: #eee 1px solid;
  font-size: 0.9em;
}
</style>
<h3 class="sidebar-title"><%= sidebar.title %></h3>
<% sidebar.statuses.each do |status| %>
  <div class='statuses_sidebar'>
    <%= author_picture status %>
    <%= status.html(:body) %>
    <%= link_to_permalink(status, display_date_and_time(status.published_at)) %>
    <%= view_on_twitter status %>
  </div>
  <% end %>
<% end %>
