<div class="atomentry" id="article-<%= article.id %>">
  <h2 class="title">
    <%= (controller.action_name.include? 'permalink') ? article.title : link_to_permalink(article,article.title) %>
  </h2>

  <div class="author">
    <%= _("Posted by")%> <cite><%= author_link(article) %></cite>
    <abbr class="published" title="<%= article.published_at.xmlschema %>"><%= display_date_and_time article.published_at %></abbr>
  </div>

  <div class="content">
    <%= render 'articles/protected_article_content', { :article => article } %>
  </div>

	<p class="info">
		<%= content_tag(:span, category_links(article).html_safe << ' | ', :class => 'categories') unless article.categories.empty? %>
		<%= comments_link(article) << ' | ' if article.allow_comments? %>
		<% if controller.controller_name == 'articles' and controller.action_name == 'show' %>
			<%= content_tag(:span, tag_links(article) << ' | ', :class => 'tags') unless article.tags.empty? %>
			<a href="<%= @auto_discovery_url_atom %>">atom</a>
		<% end %>
	</p>
</div>
