<%= render 'shared/header' %>

<div class="l-banner">
  <%= image_tag('article-bg.png', class: 'l-banner__image', alt: '') %>

  <div class="l-constrained">
    <div class="l-banner__tags">
        <%= render 'shared/tag_list' %>
    </div>
  </div>
</div>

<main role="main" class="l-article">
  <div class="l-constrained">
    <h1 class="l-article__header">Top student money survival tips</h1>

    <div class="l-article__body">
      <%= render 'shared/article_body' %>
    </div>

    <aside class="l-article-info">
      <%= render 'shared/article_info' %>
    </aside>

    <%= render 'shared/sharing_buttons' %>
  </div>
</main>
