<div class="also-like">
  <div class="l-constrained">
    <h4 class="also-like__subheader">You might also like</h4>

    <div class="l-tiles">
      <% if @article.primary_related_content.present? %>
        <div class="l-tile">
          <div class="article-tile article-tile--two">
            <h5><%= link_to truncate(@article.primary_related_content.title, length: 53), @article.primary_related_content.permalink_url, { :class => 'article-tile__heading article-tile__heading--two', :title => @article.primary_related_content.title } %></h5>
            <time class="article-tile__date article-tile__date--two"><%= display_date_and_time(@article.primary_related_content.published_at) %></time>
          </div>
        </div>
      <% end %>
      <% if @article.secondary_related_content.present? %>
        <div class="l-tile">
          <div class="article-tile article-tile--two">
            <h5><%= link_to truncate(@article.secondary_related_content.title, length: 53), @article.secondary_related_content.permalink_url, { :class => 'article-tile__heading article-tile__heading--two', :title => @article.secondary_related_content.title } %></h5>
            <time class="article-tile__date article-tile__date--two"><%= display_date_and_time(@article.secondary_related_content.published_at) %></time>
          </div>
        </div>
      <% end %>
      <% if @article.core_content_text.present? %>
      <div class="l-tile">
        <div class="article-tile article-tile--mas">
          <h5><a class="article-tile__heading article-tile__heading--mas" href="<%= @article.core_content_url %>"><%= @article.core_content_text %></a></h5>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>