<div class="l-campaigns">
  <div class="l-constrained">
    <div class="l-campaigns__hero">
      <% if @lead_campaign.hero_image.present? %>
        <%= image_tag @lead_campaign.hero_image.url(:resized) %>
      <% end %>
    </div>
    <div class="l-campaigns__panel">
      <div class="l-campaigns__intro">
        <h2 class="l-campaigns__intro__heading"><%= @lead_campaign.title %></h2>
        <p class="l-campaigns__intro__content"><%= @lead_campaign.description %></p>
      </div>
      <ul class="l-campaigns__links">
        <% if @lead_campaign.primary_link.present? %>
          <% if @lead_campaign.primary_link.link_type == 'ma says' %>
            <%= render 'shared/campaign_link_masays', :link => @lead_campaign.primary_link %>
          <% else %>
            <%= render 'shared/campaign_link_article', :link => @lead_campaign.primary_link %>
          <% end %>
        <% end %>
        <% if @lead_campaign.secondary_link.present? %>
          <% if @lead_campaign.secondary_link.link_type == 'ma says' %>
            <%= render 'shared/campaign_link_masays', :link => @lead_campaign.secondary_link %>
          <% else %>
            <%= render 'shared/campaign_link_article', :link => @lead_campaign.secondary_link %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
