<div class='row'>
  <div class='span6 offset2'>
    <div class='well'>
      <h2><%= _("Congratulations!") %></h2>
      <p><%= _("You have successfully signed up") %></p>
      <p>
        <%= _("<strong>Login:</strong> %s", current_user.login)%>
      </p>
      <p>
        <%= _("<strong>Password:</strong> %s", session[:tmppass]) %>
      </p>
      <p>
        <%= _("Don't lose the mail sent at %s or you won't be able to login anymore", current_user.email)%>
      </p>
      <p>
        <%= _("Proceed to %s",  link_to(_("admin"), :controller => 'admin/dashboard')) %>
      </p>
    </div>
  </div>
</div>
