	<% @page_heading = _('Basic settings') %>

  <% content_for('tasks') do -%>
	<%= subtab _("Basic settings"), "current", {:controller => "general"} %>
	<%= subtab _("Advanced settings"), "", {:controller => "advanced"} if (this_blog.display_advanced == 1)  %>
	<%= subtab _("Empty Fragment Cache"), "", {:controller => '/admin/cache', :action => 'sweep'} if (this_blog.display_advanced == 1) %>
	<%= subtab _("Rebuild cached HTML"), "", {:controller => '/admin/cache', :action => 'sweep_html'} if (this_blog.display_advanced == 1) %>
  <% end -%> 

	<% form_tag :action => 'update' do %>

<div class="admin">
	<fieldset id="gensettings" class="set" style="margin-top:10px;">
		<legend><%= _("General settings")%></legend>
		<ul>
			<li>
				<label for="blog_name" class="float"><%= _("Blog name")%>:</label>
				<input name="setting[blog_name]" id="blog_name" type="text" value="<%=h this_blog.blog_name %>" size="<%= this_blog.blog_name.length %>" />
			</li>
			<li>
				<label class="float" for="blog_subtitle"><%= _("Blog subtitle")%>:</label>
				<input name="setting[blog_subtitle]" id="blog_subtitle" type="text" value="<%=h this_blog.blog_subtitle %>" size="<%= this_blog.blog_subtitle.length%>" />
		    </li>
			<li>
				<label class="float" for="base_url"><%= _("Blog URL")%>:</label>
				<input name="setting[base_url]" id="base_url" type="text" value="<%=h this_blog.base_url %>" size="<%= this_blog.base_url.length %> " />
			</li>
			<li>
				<label class="float" for="lang"><%= _("Language")%>:</label>
				<select name="setting[lang]">
					<%= fetch_langs %>
				</select>
			</li>
            <li><%= _("This option let you choose between the simple admin interface or the complete one, displaying much more options and therefore more complicated to use. For advanced users only!") %></li>
			<li>
				<label class="float" for="display_advanced">Choose interface:</label>
				<input type="radio" name="setting[display_advanced]" value="0" id="display_advanced_0" <%= 'checked="checked"' if this_blog.display_advanced == 0 %>/>
				<label for="display_advanced_0"><%= _("Use simple interface (default)")%></label>
				<span class="float">
					<input type="radio" name="setting[display_advanced]" value="1" id="display_advanced_1" <%= 'checked="checked"' if this_blog.display_advanced == 1 %>/>
					<label for="display_advanced_1"><%= _("Use complete admin")%></label>
				</span>
			</li>
			<li><%= _("By default, Typo generates static HTML pages for your posts. However, if you plan to publish posts in the futur, you may want to use semi dynamic caching") %>.</li>
			<li>
				<label class="float" for="caches_page">Choose caching methode:</label>
				<input type="radio" name="setting[cache_option]" value="caches_page" id="cache_option_0" <%= 'checked="checked"' if this_blog.cache_option == 'caches_page' %>/>
				<label for="cache_option_0"><%= _("Use static HTML page caching (default)")%></label>
				<span class="float">
					<input type="radio" name="setting[cache_option]" value="caches_action_with_params" id="cache_option_1" <%= 'checked="checked"' if this_blog.cache_option == 'caches_action_with_params' %>/>
					<label for="cache_option_1"><%= _("Use semi static caching")%></label>
				</span>
			</li>
		</ul>
  	</fieldset>

	<fieldset id="read" class="set">
		<legend><%= _("Read")%></legend>

		<ul>
			<li>
				<label for="limit_article_display" class="float"><%= _("Display")%> </label>
				<input name="setting[limit_article_display]" size="4" id="limit_article_display" type="text" value="<%= this_blog.limit_article_display %>" />
				<%= _("articles on my homepage by default")%>
			</li>
			<li>
			    <label for="limit_rss_display" class="float"><%= _("Display")%> </label>
			    <input name="setting[limit_rss_display]" size="4" id="limit_rss_display" type="text" value="<%= this_blog.limit_rss_display %>" />
				<%= _("articles in my news feed by default")%>.
			</li>
			<li class="checkbox">
				<label class="float" for="show_extended_on_rss"><%= _("Show full article on feed")%>:</label>
			    <input name="setting[show_extended_on_rss]" id="show_extended_on_rss" type="checkbox" value="1" <%= 'checked="checked"' if this_blog.show_extended_on_rss%> />
			    <input name="setting[show_extended_on_rss]" type="hidden" value="0" />
			</li>
		</ul>
	</fieldset>

	<fieldset id="write" class="set">
		<legend><%= _("Write")%></legend>
		<ul>
			<li>
				<label class="float"><%= _("Editor")%>:</label>
				<input type="radio" name="setting[editor]" value="2" id="editor_2" <%= 'checked="checked"' if this_blog.editor == 2 %>/>
				<label for="editor_2"><%= _("Use visual rich editor")%></label>
				<span class="float">
					<input type="radio" name="setting[editor]" value="1" id="editor_1" <%= 'checked="checked"' if this_blog.editor == 1 %>/>
					<label for="editor_1"><%= _("Use simple editor with live preview (default)")%></label>
				</span>
				<span class="float">
					<input type="radio" name="setting[editor]" value="0" id="editor_0" <%= 'checked="checked"' if this_blog.editor == 0 %>/>
				    <label for="editor_0"><%= _("Use simple editor without live preview")%></label>
				</span>
		  	</li>
		</ul>
	</fieldset>

	<fieldset id="discuss" class="set">
		<legend><%= _("Feedback")%></legend>
		<ul>
			<li class="checkbox">
		        <label class="float" for="default_allow_pings"><%= _("Enable Trackbacks by default")%>:</label>
		      	<input name="setting[default_allow_pings]" id="default_allow_pings" type="checkbox" value="1" <%= 'checked="checked"' if this_blog.default_allow_pings%> />
		      	<input name="setting[default_allow_pings]" type="hidden" value="0" />
			</li>
			<li class="checkbox">
	        	<label class="float" for="default_allow_comments"><%= _("Enable comments by default")%>:</label>
				<input name="setting[default_allow_comments]" id="default_allow_comments" type="checkbox" value="1" <%= 'checked="checked"' if this_blog.default_allow_comments%> />
		      	<input name="setting[default_allow_comments]" type="hidden" value="0" />
			</li>
			<li class="checkbox">
		      <label class="float" for="use_gravatar"><%= _("Enable gravatars")%>:</label>
		      <input name="setting[use_gravatar]" id="use_gravatar" type="checkbox" value="1" <%= 'checked="checked"' if this_blog.use_gravatar %> />
		      <input name="setting[use_gravatar]" type="hidden" value="0" />
			</li>
		</ul>
	</fieldset>

	<fieldset id="spam" class="set">
		<legend><%= _("Spam protection")%></legend>

		<ul>
			<li><%= _("Enabling spam protection will make typo compare the IP address of posters as well as the contents of their posts against local and remote blacklists. Good defense against spam bots")%>.</li>
			<li class="checkbox">
				<label for="sp_global" class="float"><%= _("Enable spam protection")%>:</label>
				<input name="setting[sp_global]" id="sp_global" type="checkbox" value="1" <%= 'checked="checked"' if this_blog.sp_global%> /><input name="setting[sp_global]" type="hidden" value="0" />
			</li>
			<li><%= _("Typo can (optionally) use the %s spam-filtering service.  You need to register with Akismet and receive an API key before you can use their service.  If you have an Akismet key, enter it here", '<a href="http://akismet.com">Akismet</a>')%> .
			</li>
			<li>
				<label class="float" for="sp_akismet_key"><%= _("Akismet Key")%>:</label>
				<input name="setting[sp_akismet_key]" id="sp_akismet_key" type="text" value="<%=h this_blog.sp_akismet_key %>" />
			</li>
		</ul>
	</fieldset>

	<div id="operations" class="paginate r">
    <%= save(_("Save Settings")) %>
  </div>
</div>
  <% end %>
