<div class='clearfix'>
  <label for="post_type_name"><%= _("Name")%></label>
  <div class='input'>
    <%= text_field :post_type, :name, :class => 'large'  %>
  </div>
</div>
<div class='clearfix'>
  <label for="post_type_description"><%= _("Description") %></label>
  <div class='input'>
    <%= text_area :post_type, :description, :rows => 5, :class => 'span4' %>
  </div>
</div>
<div class='actions'>
  <%= cancel_or_save %>
</div>