<%= error_messages_for 'post_type' %>
<div>
  <h2><label for="post_type_name"><%= _("Name")%></label> </h2>
  <p class='input_text_title'>
    <%= text_field :post_type, :name, :class => 'medium'  %>
  </p>
</div>
<div>
  <h3><label for="post_type_description" class="content block"><%= _("Description") %></label></h3>
  <p class='input_text_title'>
    <%= text_area :post_type, :description, :rows => 5, :class => 'medium' %>
  </p>
</div>
