<table class='zebra-striped'>
  <thead>
  <tr class='noborder'>
    <th><%= _("Name") %></th>
    <th><%= _("Description") %></th>
    <th><%= _("Template name") %></th>
  </tr>    
  </thead>
  <tr class='shade'>
    <td><%= _("Default") %></td>
    <td><%= _("Typo default post type") %></td>
    <td>read</td>
  </tr>
  <% for pt in @post_types -%>
  <tr <%= alternate_class -%>>
    <td>
      <%= link_to_edit pt.name, pt %><br />
      <%= show_post_types_actions pt %>
    </td>
    <td><%= h pt.description %></td>
    <td><%= pt.permalink %></td>
  </tr>
  <% end -%>
</table>
<p class="help-block"><%= _("The template name is the filename Typo will look for when calling an article of that type. It should be in your theme under views/articles/template name.html.erb") %></p>