<table cellspacing="1" cellpadding="0">
<tr>
  <th><%= _("Display Name") %></th>
  <th><%= _("Name") %></th>
  <th><%= _("Articles") %></th>
</tr>
<tr class="menubar">
  <td colspan="3">&nbsp;</td>
</tr>
<%= render_void_table(@tags.size, 3)  %>
<% for tag in @tags %>
<tr <%= alternate_class %>>
  <td> <%= link_to_edit tag.display_name, tag %></td>
  <td><%= tag.name %></td>
  <td><%= link_to_permalink tag, tag.articles.count %></td>
</tr>  
<% end %>
</table>
