<% @page_heading = _('Manage tags') %>

<table class="zebra-stripe">
  <thead>
    <tr class='noborder'>
    <th><%= _("Display Name") %></th>
    <th><%= _("Name") %></th>
    <th><%= _("Articles") %></th>
  </tr>
  </thead>
  <%= render_void_table(@tags.size, 3)  %>
  <% for tag in @tags %>
  <tr <%= alternate_class %>>
    <td>
      <%= link_to_edit tag.display_name, tag %>
      <%= show_tag_actions tag %>
    </td>
    <td><%= tag.name %></td>
    <td><%= tag.published_articles.count.to_s %></td>
  </tr>
  <% end %>
  <%= display_pagination(@tags, 3)%>
</table>
