  <% @page_heading = _('Manage tags') %>
  
  <% content_for('tasks') do %>
	<%= subtab _("Manage posts"), "", {:controller=>"content", :action=>"list"} %>
	<%= subtab _("Manage pages"), "", {:controller=>"pages", :action=>"list"} %>
	<%= subtab _("Manage categories"), "", {:controller=>"categories", :action=>"index"} %>
	<%= subtab _("Manage uploads"), "", {:controller=>"resources", :action=>"list"} %>
	<%= subtab _("Manage tags"), "current", {:controller=>"tags", :action=>"list"} %>
  <% end %> 

  <div class="list" id="tags">	
    <%= render :partial => 'tags' %>
  </div>                      
  