<% @page_heading = _('Manage tags') %>
<% @page_heading_class = 'icon-tags' %>

<div>
  <div class='span4'>
    <%= form_tag :action=>"edit", :id => @tag.id do %>
    <%= error_messages_for 'tag' %>
    <label for="tag_display_name"><%= _("Name")%>:</label>
    <%= text_field 'tag', 'display_name', :class => 'medium' %>
    <div class='form-actions'>
      <%= cancel_or_save %>
    </div>
    <% end %>
  </div>
  <div class='span8'>
    <table class="table table-striped">
      <thead>
        <tr class='noborder'>
        <th><%= _("Display Name") %></th>
        <th><%= _("Name") %></th>
        <th><%= _("Articles") %></th>
      </tr>
      </thead>
      <%= render_void_table(@tags.size, 3)  %>
      <% for tag in @tags %>
      <tr <%= alternate_class %>>
        <td>
          <%= link_to_edit tag.display_name, tag %>
          <%= show_tag_actions tag %>
        </td>
        <td><%= tag.name %></td>
        <td><%= tag.published_articles.count.to_s %></td>
      </tr>
      <% end %>
      <%= display_pagination(@tags, 3)%>
    </table>
    
  </div>
</div>

