<%- content_for :page_heading do %>
  <h2>
    <i class="glyphicon glyphicon-large glyphicon-tags"></i>
    <%= t('.manage_tags') %>
  </h2>
<% end %>

<div class='row'>
  <div class='col-md-4'>
    <%= form_tag :action=>"edit", :id => @tag.id do %>
    <%= error_messages_for 'tag' %>
    <div class='form-group'>
      <%= text_field :tag, :display_name, class: 'form-control', placeholder: t('.name') %>
    </div>
    <div class='form-group'>
      <%= link_to(t(".cancel"), {action: 'index'}, class: 'btn') %>
      <%= t(".or") %>
      <%= submit_tag(t(".save"), class: 'btn btn-success') %>
    </div>
  <% end %>
  </div>
  <div class='col-md-8'>
    <table class="table table-hover">
      <thead>
        <tr class='noborder'>
          <th><%= t('.display_name') %></th>
          <th><%= t('.name')  %></th>
          <th><%= t('.articles') %></th>
        </tr>
      </thead>
      <%- if @tags.empty? %>
        <tr>
          <td colspan="3">
            <%= t(".no_tags") %>
          </td>
        </tr>
      <%- end %>
      <%- for tag in @tags %>
        <tr>
        <td>
          <%= link_to_edit tag.display_name, tag %>
          <%= show_tag_actions tag %>
        </td>
        <td><%= tag.name %></td>
        <td><%= tag.published_articles.count.to_s %></td>
      </tr>
    <% end %>
      <%= display_pagination(@tags, 3)%>
    </table>
  </div>
</div>

