<div class="form-group">
  <%= label_tag(:link_type, "#{link_order} Link Type") %>
  <%= f.select(:link_type, options_for_select([['Ma Says', 'ma'], ['Blog Article', 'article'], ['External', 'external']], 'ma'), {}, {class: 'form-control'}) %>
</div>

<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control', placeholder: 'Link Title' %>
</div>

<div class="form-group">
  <%= f.label :url %>
  <%= f.text_field :url, class: 'form-control', placeholder: 'Link URL' %>
</div>
