<%- content_for :page_heading do %>
<h2>
  <i class="glyphicon glyphicon-large glyphicon-folder-open"></i>
  <%= t(".manage_campaigns") %>
  <%= link_to(t(".new_campaign"), {controller: 'campaigns', action: 'new'}, id: 'dialog-link', class: 'btn btn-info pull-right') %>
</h2>
<% end %>

<table class='table table-striped'>
  <thead>
    <tr class='noborder'>
      <th><%= t(".title") %></th>
      <th><%= t(".active")%></th>
      <th><%= t(".created_on")%></th>
    </tr>
  </thead>
  <%= render 'campaigns' %>
</table>
