  <% @page_heading = _('Text Filters') %>
  
  <%= start_form_tag({ :action => "edit", :id => @textfilter }, :id => "textfilter_form") %>
  <h3><%= _("Editing textfilter")%></h3>

  <div class="form">
    <%= render :partial => "form" %>
  </div>

  <div id="operations">
    <%= save %> or <%= cancel %>  
  </div>

  <%= end_form_tag %>
