  <% @page_heading = 'Text Filters' + '('+ link_to(_('add new'), :action=>'new') +')' %>

  <% content_for('tasks') do %>
	<%= subtab _("Sidebar"), "", {:controller=>"sidebar", :action=>"index"} %>
	<%= subtab _("Text Filters"), "current", {:controller=>"textfilters", :action=>"list"} %>
  <% end %> 

  <div class="list" id="textfilters">	
    <%= render :partial => 'textfilters' %>
  </div>                      

  <h2><%= _("Macros")%></h2>
  <div class="list" id="macros">
    <% reset_alternation -%>
    <%= render :partial => "macros" %>
  </div>