<%= render_void_table(@resources.size, 6) %>
<% for upload in @resources -%>
<tr <%= alternate_class -%>>
  <td>
  <% if upload.mime =~ /image/ %>
    <a href='<%= "#{this_blog.base_url}/files/#{upload.filename}" %>' rel='lightbox'>
      <%= show_thumbnail(upload) %>
    </a>
  <% else %>
    <%= link_to("#{upload.filename}", "#{this_blog.base_url}/files/#{upload.filename}", {:rel => 'lightbox'}) -%>
  <% end %>
	<p><%= resource_action_links(upload) %></p>
  </td>
  <td>
    <%= upload.mime %>
  </td>
  <td><%=h upload.size rescue 0 -%> bytes</td>
  <td><%= format_date upload.created_at -%></td>
</tr>
<% end -%>