<table cellspacing="1" cellpadding="0">
<tr>
  <th class="first"><%= _("Filename")%> <small>(<%= _('right-click for link')%>)</small></th>
  <th><%= _("Content Type")%></th>
  <th><%= _("MetaData")%></th>
  <th><%= _("File Size")%></th>
  <th><%= _("Date")%></th>
  <th class="last"><%= _("Delete")%></th>
</tr>
<% blog_root = request.relative_url_root -%>
<% for upload in resources -%>
<tr <%= alternate_class -%>>
  <td class="first"><%= link_to "#{upload.filename}", "#{blog_root}/files/#{upload.filename}" -%></td>
  <td>
    <%= task_edit_resource_mime(upload.mime, upload.id) %>
    <div id="edit-resource-mime-<%= upload.id %>" style="display:none;position:absolute;">
      <%= render :partial => "mime_edit", :locals => {:id => upload.id, :mime => upload.mime} %>
    </div>
  </td>
  <% if upload.itunes_metadata? %>
  <td>
    <%= task_edit_resource_metadata(_("Edit MetaData") + ' (+/-)', upload.id) %>
    <div id="edit-resource-metadata-<%= upload.id%>" style="display:none;position:absolute;">
      <%= render :partial => "metadata_edit" , :locals => {:id => upload.id, :resource => upload}%>
    </div>
  </td>
  <% else -%>
  <td>
    <%= task_add_resource_metadata(_("Add MetaData") + ' (+/-)', upload.id) %>
    <div id="add-resource-metadata-<%= upload.id%>" style="display:none;position:absolute;">
      <%= render :partial => "metadata_add", :locals => {:id => upload.id} %>
    </div>
  </td>
  <% end -%>
  <td><%=h upload.size rescue 0 -%> bytes</td>
  <td><%=h upload.created_at.strftime('%Y-%m-%d %H:%M:%S') -%></td>
  <td class="operation last"><%= link_to_destroy upload -%></td>    
</tr>  
<% end -%>
</table>
