  <% @page_heading = _('Uploads') + ' <span> &raquo; ' + link_to(_("add new"), :action => 'new') + '</span>' %>
  <% subtabs_for(:content) %>
  
  
  <%= form_tag_with_upload_progress({:action => 'upload'}, { :begin => "new Effect.Appear('status')", :finish => "$('message').innertHTML = arguments[0]" }) %>
  
  <fieldset>
    <legend><%= _('Upload a File to your Site') %></legend>
  <label for="upload_filename"><%= _('File') %>:</label><br /><%= file_field 'upload', 'filename' -%><br />
  <%= submit_tag _('Upload') -%>
  <div id='status' style="display: none"><%= upload_status_tag %></div>
  <div id="message"><%= @message %></div>
  </fieldset>
  </form>

  <div class="list" id="resources">	
    <%= render :partial => 'resources' -%>
  </div>
	<div class="paginate">
    <%= will_paginate @resources %>
	</div>
	
