<%= error_messages_for 'blacklist_pattern' %>

<ul class="admin">
  <li>
    <label for="blacklist_pattern_pattern" class="block"><%= _("Pattern")%></label> 
    <%= text_field :blacklist_pattern, :pattern  %>    
  </li>
  <li>  
    <label for="blacklist_pattern_type" class="block"><%= _("Type")%></label>
    <select name="blacklist_pattern[type]">
    <%= options_for_select [ [_('String'), 'StringPattern'], [_('Regex'), 'RegexPattern' ] ]  %>
  </select>
  </li>
</ul>