  <% @page_heading = _("Text Filter Details") + ": #{@textfilter.description}" %>
  
  <% content_for('tasks') do %>
    <%= task_edit _('Edit this filter'), @textfilter.id %>
    <%= task_help 'See help text for this filter', @textfilter.id %>
  <% end %> 

  <h3><%=h @textfilter.description %></h3>

  <div class="form">	
    <h4><%= _("Markup type")%>:</h4>
    <%=h @textfilters[@textfilter.markup].display_name %>
    
    <% if @textfilter.filters.size > 0 -%>
    <h4><%= _("Post-processing filters")%></h4>
      <ul>
       <% @textfilter.filters.each do |key| -%>
        <li><%=h @textfilters[key.to_s].display_name %></li>
       <% end -%>
      </ul>
    <% end -%>
    
    <% if @textfilter.params.size > 0 -%>
    <h4><%= _("Parameters")%></h4>
      <table>
        <% @textfilter.params.keys.sort.each do |key| -%>
        <tr>
          <td><em><%=h key %></em></td>
          <td><%= @textfilter.params[key] %></td>
        </tr>
        <% end -%>
      </table>
    <% end -%>
  </div>
