    <% @page_heading = _("Advanced settings") %>

  <% content_for('tasks') do -%>
	<%= subtab _("Basic settings"), "current", {:controller => "general"} %>
	<%= subtab _("Advanced settings"), "", {:controller => "advanced"} %>
	<%= subtab _("Empty Fragment Cache"), "", {:controller => '/admin/cache', :action => 'sweep'} %>
	<%= subtab _("Rebuild cached HTML"), "", {:controller => '/admin/cache', :action => 'sweep_html'} %>
  <% end -%> 


    <% form_tag :action => 'update' do %>

<div class="admin">
    <fieldset id="write" class="set">
        <legend><%= _("Write")%></legend>
        <ul>
            <li>
                <label class="float" for="text_filter"><%= _("Article filter")%>:</label>
                <select name="setting[text_filter]" id="text_filter">
                  <%= options_for_select text_filter_options, TextFilter.find_by_name(this_blog.text_filter) %>
                </select>
            </li>
            <li>
                <label for="comment_text_filter" class="float"><%= _("Comments filter")%>:</label>
                <select name="setting[comment_text_filter]" id="comment_text_filter">
                <%= options_for_select text_filter_options, TextFilter.find_by_name(this_blog.comment_text_filter) %>
                </select>
            </li>
        </ul>
    </fieldset>

    <fieldset id="publish" class="set">
        <legend><%= _("Publish")%></legend>
        <ul>
            <li>
                <%= _("When publishing articles, Typo can send trackbacks to websites that you link to. This should be disabled for private blogs as it will leak non-public information to sites that you're discussing. For public blogs, there's no real point in disabling this.")%>
            </li>
            <li class="checkbox">
              <label class="float" for="send_outbound_pings"><%= _("Send trackbacks")%>:</label>
              <input name="setting[send_outbound_pings]" id="send_outbound_pings" type="checkbox" value="1" <%= 'checked="checked"' if this_blog.send_outbound_pings%> />
             <input name="setting[send_outbound_pings]" type="hidden" value="0" />
            </li>
            <li>
                <label class="float" for="ping_urls"><%= _("URLs to ping automatically")%>:</label>
                <textarea name="setting[ping_urls]" id="ping_urls" rows="5" cols="50"><%=h this_blog.ping_urls %></textarea>
            </li>
            <li>
                <label class="float" for="geourl_location"><%= _("Latitude, Longitude")%>:</label>
                <input name="setting[geourl_location]" size="20" id="geourl_location" type="text" value="<%= this_blog.geourl_location %>" />
                <span class="float"><%= _("Display")%> <a href="http://geourl.org"><%= _("your lattitude and longitude")%></a> (<%= _("exemple")%> <tt>47.774,-122.201</tt>)</span>
            </li>

        </ul>
    </fieldset>

    <fieldset id="seo" class="set" style="margin-top:10px;">
        <legend><%= _("Search Engine Optimisation")%></legend>
        <ul>
            <li>
                <label class="float"><%= _("Show blog name")%>:</label>
                <input type="radio" name="setting[title_prefix]" value="1" id="blog_title_prefix_1" <%= 'checked="checked"' if this_blog.title_prefix == 1 %>/>
                <label for="blog_title_prefix_1"><%= _("At the beginning of page title")%></label>
                <span class="float">
                    <input type="radio" name="setting[title_prefix]" value="2" id="blog_title_prefix_2" <%= 'checked="checked"' if this_blog.title_prefix == 2 %>/>
                    <label for="blog_title_prefix_2"><%= _("At the end of page title")%></label>
                </span>
                <span class="float">
                    <input type="radio" name="setting[title_prefix]" value="0" id="blog_title_prefix_0" <%= 'checked="checked"' if this_blog.title_prefix == 0 %>/>
                    <label for="blog_title_prefix_0"><%= _("Don't show blog name in page title")%></label>
                </span>
            </li>
        </ul>
    </fieldset>

    <fieldset id="discuss" class="set">
        <legend><%= _("Discuss")%></legend>
        <ul>
            <li>
                <%= _("This setting allows you to disable trackbacks for every article in your blog.  It won't remove existing trackbacks, but it will prevent any further attempt to add a trackback anywhere on your blog.")%>
            </li>
            <li class="checkbox">
                <label class="float" for="global_pings_disable"><%= _("Disable trackbacks site-wide")%>:</label>
                <input name="setting[global_pings_disable]" id="global_pings_disable" type="checkbox" value="1" <%= 'checked="checked"' if this_blog.global_pings_disable%> />
                <input name="setting[global_pings_disable]" type="hidden" value="0" />
            </li>
            <li><%= _("You can enable site wide feeback moderation. If you do so, no comment or trackback will appear on your blog unless you validate it")%>.</li>
            <li class="checkbox">
                <label class="float" for="default_moderate_comments"><%= _("Enable feedback moderation")%>:</label>
                <input name="setting[default_moderate_comments]" id="default_moderate_comments" type="checkbox" value="1" <%= 'checked="checked"' if this_blog.default_moderate_comments %> />
                <input name="setting[default_moderate_comments]" type="hidden" value="0" />
            </li>
            <li class="checkbox">
                <label class="float" for="link_to_author"><%= _("Show your email address") %>:</label>
                <input name="setting[link_to_author]" id="link_to_author" type="checkbox" value="1" <%= 'checked="checked"' if this_blog.link_to_author%> />
                <input name="setting[link_to_author]" type="hidden" value="0" />
            </li>
            <li>
                <%= _("You can optionally disable non-Ajax comments. Typo will always use Ajax for comment submission if Javascript is enabled, so non-Ajax comments are either from spammers or users without Javascript.")%>
            </li>
            <li class="checkbox">
                <label for="sp_allow_non_ajax_comments" class="float"><%= _("Allow non-ajax comments") %>:</label>
                <input name="setting[sp_allow_non_ajax_comments]" id="sp_allow_non_ajax_comments" type="checkbox" value="1" <%= 'checked="checked"' if this_blog.sp_allow_non_ajax_comments%> />
                <input name="setting[sp_allow_non_ajax_comments]" type="hidden" value="0" />
            </li>
            <li>
                <label for="sp_article_auto_close" class="float"><%= _("Disable comments after")%></label>
                <input name="setting[sp_article_auto_close]" size="4" id="sp_article_auto_close" type="text" value="<%= this_blog.sp_article_auto_close %>" /> <%= _("days") %>
                <span class="float"><%= _("Set to 0 to never disable comments")%></span>
            </li>
            <li>
                <p><%= _("Typo will automatically reject comments and trackbacks which contain over a certain amount of links in them")%>.</p>
                <label class="float" for="sp_url_limit"><%= _("Max Links")%>:</label>
                <input name="setting[sp_url_limit]" size="4" id="sp_url_limit" type="text" value="<%= this_blog.sp_url_limit %>" />
                <span class="float"><%= _("Set to 0 to never reject comments")%></span>
            </li>
        </ul>
    </fieldset>

    <fieldset id="notification" class="set">
        <legend><%= _("Notification")%></legend>
        <ul>
            <li><%= _("Typo can notify you when new articles or comments are posted")%></li>
            <li>
                <label class="float" for="email_from"><%= _("Source Email")%>:</label>
                <input name="setting[email_from]" size="25" id="email_from" type="text" value="<%= this_blog.email_from %>" />
                <span class="float"><%= _("Email address used by Typo to send notifications")%>.</span>
            </li>
            <li>
                <label for="jabber_address" class="float"><%=_("Jabber account")%>:</label>
                <input name="setting[jabber_address]" size="20" id="jabber_address" type="text" value="<%= this_blog.jabber_address %>" />
                <span class="float"><%= _("Jabber account to use when sending Jabber notifications") %>.</span>
            </li>
            <li>
                <label class="float" for="jabber_password"><%= _("Jabber password")%>:</label>
                <input name="setting[jabber_password]" size="20" id="jabber_password" type="password" value="<%= this_blog.jabber_password %>" />
            </li>
        </ul>
    </fieldset>

    <fieldset id="resources" class="set">
        <legend><%= _("Resource Settings")%></legend>
        <ul>
            <li><%= _("The below settings act as defaults when you choose to publish an enclosure with iTunes metadata")%>.</li>
            <li>
                <label for="itunes_author" class="float"><%= _("Author")%>:</label>
                <input name="setting[itunes_author]" size="25" id="itunes_author" type="text" value="<%= this_blog.itunes_author %>" />
            </li>
            <li>
                <label for="itunes_subtitle" class="float"><%= _("Subtitle")%>: <span class="mandatory">*</span></label>
                <input name="setting[itunes_subtitle]" size="25" id="itunes_subtitle" type="text" value="<%= this_blog.itunes_subtitle %>" />
            </li>
            <li>
                <label class="float" for="itunes_summary"><%= _("Summary")%>: <span class="mandatory">*</span></label>
                <textarea name="setting[itunes_summary]" cols="40" rows="3"><%=h this_blog.itunes_summary %></textarea>
                <span class="float mandatory">* <%= _("Setting for channel")%></span>
            </li>
            <li>
              <label class="float" for="itunes_email"><%= _("Email")%>: <span class="mandatory">**</span></label>
              <input name="setting[itunes_email]" size="25" id="itunes_email" type="text" value="<%= this_blog.itunes_email %>" />
            </li>
            <li>
                <label class="float" for="itunes_name"><%= _("Optional Name")%>: <span class="mandatory">**</span></label>
                <input name="setting[itunes_name]" size="25" id="itunes_name" type="text" value="<%= this_blog.itunes_name %>" />
                <span class="float mandatory">** <%= _("Not published by Apple")%></span>
            </li>
            <li>
                <label class="float" for="itunes_copyright"><%= _("Copyright Information")%>:</label>
                <input name="setting[itunes_copyright]" size="25" id="itunes_copyright" type="text" value="<%= this_blog.itunes_copyright %>" />
            </li>
            <li class="checkbox">
                <label class="float" for="itunes_explicit"><%= _("Explicit")%>:</label>
                <input name="setting[itunes_explicit]" id="itunes_explicit" type="checkbox"  value="1" <%= 'checked="checked"' if this_blog.itunes_explicit%> />
                <input name="setting[itunes_explicit]" type="hidden" value="0" />
            </li>
        </ul>
    </fieldset>

    <div id="operations" class="paginate r">
    <%= save(_("Save Settings")) %>
  </div>
</div>
  <% end %>
