<% content_for :page_title do %>
  <%= "#{this_blog.blog_name} - #{t('.sign_in', :default => "Sign in")}" %>
<% end %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <fieldset>
    <div class="form-group">
      <%= f.label :login %><br />
      <%= f.text_field :login, class: 'form-control', autofocus: true %>
    </div>

    <div class="form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, class: 'form-control', autocomplete: 'off' %>
    </div>

    <div class="checkbox">
      <%= f.check_box :remember_me %> <%= f.label :remember_me %>
    </div>

    <div class="actions">
      <%= f.submit t('.sign_in'), class: 'btn btn-lg btn-success btn-block' %>
    </div>
  </fieldset>
<% end %>

<% content_for :account_links do %>
  <%= render "devise/shared/links" %>
<% end %>
