<% cache article do %>
  <h2>
    <%= link_to_permalink article,article.title %>
  </h2>
  <p class="auth">
  <%= t(".posted_by")%>
  <%= author_link(article) %>
  <%= display_date_and_time article.published_at %>
  </p>
  <% if article.password.blank? %>
    <%= render 'articles/article_excerpt', { :article => article } %>
  <% else %>
    <%= render 'articles/password_form', { :article => article } %>
  <% end %>
<% end %>
