<div id='content-<%= article.id %>'>
  <p>This post is password protected. Please fill in your password or login to view the content</p>
  <%= form_for(article, {:remote => true,
                      :url => { :controller => 'articles', :action => 'check_password'},
                      :update => "content-#{article.id}"}) do |f| %>
    <%= password_field(:article, :password) %>
    <input type='hidden' name='article[id]' value='<%= article.id %>'>
    <%= submit_tag(t('.submit') + '!', name: 'check_password') %>
  <% end %>
</div>
