<div id='content-<%= article.id %>'>
  <p>This post is password protected. Please fill in your password or login to view the content</p>
  <%= form_tag(check_password_url, remote: true, class: "check_password", data: { update: "content-#{article.id}" }) do %>
    <%= password_field(:article, :password) %>
    <%= hidden_field(:article, :id) %>
    <%= submit_tag(t('.submit') + '!', name: 'check_password') %>
  <% end %>
</div>
