<% if @articles.empty? %>
  <div class="post">
    <p><%= t(".no_articles_found") %></p>
  </div>
<% else %>
  <%= cache [@articles, params[:page]] do %>
    <% @articles.group_by(&:publication_month).each do |_month, articles| %>
      <h3 class="archivemonth">
        <%= l(articles.first.published_at, format: :letters_month_with_year) %>
      </h3>
      <%= render partial: 'archives_article', collection: articles, as: :article %>
    <% end %>
  <% end %>
<% end %>
<%= paginate @articles %>
