<div class="post"<%= onhover_show_admin_tools(:article) %>>
  <%= link_to(t(".edit"), { controller: "admin/content", action: "edit", id: @article.id }, class: "admintools", style: "display: none", id: "admin_article") %>
  <% cache @article do %>
    <h2><%= link_to_permalink @article, @article.title %></h2>
    <%= render 'articles/article_author', { article: @article } %>
    <% if @article.password.blank? %>
      <%= render 'articles/full_article_content', { article: @article } %>
    <% else %>
      <%= render 'articles/password_form', { article: @article } %>
    <% end %>
  <% end %>
</div>

<%= render 'article_links', article: @article %>

<% if @article.allow_comments? or @article.published_comments.size > 0 %>
  <a name="comments"></a><h4 class="blueblk"><%= t('.comments') %></h4>
  <% unless @article.comments_closed? %>
    <p class="postmetadata alt">
    <small><a href="#respond"><%= t(".leave_a_response")%></a></small>
    </p>
  <% end %>
  <%= render "articles/comment_list" %>
<% end %>

<% if @article.published_trackbacks.any? %>
  <a name="trackbacks"></a><h4 class="blueblk"><%= t(".trackbacks")%></h4>
  <ol id="trackbackList" class="trackback-list">
    <%= render(partial: "trackback", collection: @article.published_trackbacks) %>
  </ol>
<% end %>

<p class="postmetadata alt">
  <small>
  <a href="<%= @article.feed_url('rss') %>" title="RSS Feed"><%= t(".rss_feed")%></a>
  </small>
</p>

<% unless @article.comments_closed? %>
  <%= render 'comment_form' %>
<% else %>
  <p><%= t(".comments_are_disabled")%></p>
<% end %>
