<% @page_heading = _('Theme catalogue') %>

<% if @error %>
  <p><%= _("Sorry the theme catalogue is not available") %></p>
<% end %>

<% i = 0 %>
<% for theme in @themes %>
<div class='dashboard-left widget-container'>
  <h3 class='light'>
    <span class='ui-icon ui-icon-image'> </span>
    <%= theme.name %>
  </h3>
  <div class='widget-content'>

      <%= link_to(image_tag(theme.image), theme.url) %>
      <p>Created by <%= theme.author %></p>
      <p><%= theme.description %></p>
    </div>
  </div>
  <% if i == 2 %>
    <% i = 0 %>
    <br class='clear' />
  <% else %>
    <% i+=1 %>
  <% end %>

<% end %>
<hr class="clear" />
