<% @page_heading = _('Theme catalogue') %>
<% subtabs_for(:themes) %>

<% if @error %>
  <p><%= _("Sorry the theme catalogue is not available") %></p>
<% end %>

<% i = 0 %>
<% for theme in @themes %>
  <% i = i+1 %>

    <div class="theme">
      <div>
        <%= link_to(image_tag(theme.image), theme.url) %>
        <h3><%= theme.name %> created by <%= theme.author %></h3>
        <p><%= theme.description %></p>
      </div>
    </div>
  <% if i == 3 %>
    <% i = 0%>
    <hr class="clear" />
  <% end %>

<% end %>
<hr class="clear" />
