<% @page_heading = _('Theme editor') %>
<% subtabs_for(:themes) %>

<div id="theme_list">	
	<h3>Stylesheets</h3>
	<div class="theme-filer">	
		<%= fetch_stylesheets %>
	</div>
	
	<h3>Layout</h3>
	<div class="theme-filer">	
		<%= fetch_layouts %>
	</div>

</div>

<% form_tag do %>
<div id="theme_editor">
<textarea name="theme_body">
<%= @file %>
</textarea>
<%= hidden_field_tag 'type', params[:type] %>
<%= hidden_field_tag 'file', params[:file] %>
</div>
<div class="paginate r" style="clear: both; margin-top: 15px"><input type="submit" class="submit" value="<%= _('save') %>" />
<% end %>