<% @page_heading = _('Theme editor') %>

<%= form_tag do %>
<div id='editor-right'>
  <div class='widget-container'>
    <h3 class='light'><span class='ui-icon ui-icon-gear'></span> <%= _("Stylesheets")%></h3>
    <div class='widget-content'>
	    <div class="theme-filer">
		    <%= fetch_stylesheets %>
	    </div>
    </div>
  </div>

  <div class='widget-container'>
    <h3 class='light'><span class='ui-icon ui-icon-gear'></span> <%= _("Layout")%></h3>
    <div class='widget-content'>
	    <div class="theme-filer">
		    <%= fetch_layouts %>
	    </div>
    </div>
  </div>
</div>

<div id="editor-left">
  <textarea id="theme_body" name="theme_body" class='large' rows='25'><%=h @file %></textarea>
  <%= hidden_field_tag 'type', params[:type] %>
  <%= hidden_field_tag 'file', params[:file] %>
</div>
  <%= cancel_or_save %>
<% end %>
