<% @page_heading = _('Theme editor') %>
<% subtabs_for(:themes) %>

<% form_tag do %>
<div id='editor-right'>
	<h3>Stylesheets</h3>
	<div class="theme-filer">	
		<%= fetch_stylesheets %>
	</div>
	
	<h3>Layout</h3>
	<div class="theme-filer">	
		<%= fetch_layouts %>
	</div>
  
</div>

<div id="editor-left">
  <textarea id="theme_body" name="theme_body" class='large' rows='25'>
  <%= @file %>
  </textarea>
  <%= hidden_field_tag 'type', params[:type] %>
  <%= hidden_field_tag 'file', params[:file] %>
  </div>
</div>
<p class='right'>
  <%= cancel_or_save %>
</div>
<% end %>