<% @page_heading = _('Choose a theme') %>
<% content_for('tasks') do %>
    <%= subtab _("Choose theme"), "current", {:controller=>"themes", :action=>"index"} %>
    <%= subtab _("Theme editor"), "", {:controller=>"themes", :action=>"editor"} %>
<% end %>

<p class="paginate l">
    You can download third party themes from officially supported <a href="http://www.dev411.com/typo/themes/">dev 411 Typo themes viewer</a>.
</p>

<% for theme in @themes %>
<div class="set theme" style="margin-top:10px;">
  <div class="preview">
    <% if theme.path == @active.path -%>
      <%= image_tag(url_for(:action => 'preview', :theme => theme.name, :skip_relative_url_root => true)) %>
    <% else %>
      <%= link_to(image_tag(url_for(:action => 'preview', :theme => theme.name, :skip_relative_url_root => true)), :action => 'switchto', :theme => theme.name) %>
    <% end %>
    </div>
  <%= theme.description_html %>
  <% if theme.path == @active.path -%>
  <em>(<%= _("Active theme")%>)</em>
  <% else -%>
  <%= link_to _("Activate"), :action => 'switchto', :theme => theme.name %>
  <% end -%>
  <br clear="all" />
</div>
<% end %>
