<%- content_for :page_heading do %>
<h2>
  <i class="glyphicon icon-large glyphicon-picture"></i>
  <%= t(".choose_a_theme") %>
</h2>
<% end %>

<%- for theme in @themes %>
<%- preview_url = url_for(action: 'preview', theme: theme.name) %>
<%- switch_url = url_for(action: 'switchto', theme: theme.name) %>
<div class='col-md-6'>
  <% if theme.path == @active.path -%>
  <div class='well'>
    <h3><%= t(".active_theme", name: theme.name) %></h3>
    <%= image_tag(preview_url, class: 'img-responsive img-thumbnail') %>
    <%= theme.description_html %>
  </div>
  <%- else %>
  <div>
    <h3><%= link_to(theme.name, switch_url, title: t(".use_this_theme")) %></h3>
    <%= link_to(image_tag(preview_url, class: 'img-thumbnail'), switch_url, title: t(".use_this_theme")) %>
    <%= theme.description_html %>
    <p><%= link_to(t(".use_this_theme"), switch_url, class: 'btn btn-info') %></p>
  </div>
  <%- end %>
</div>
<%- end %>
