<% @page_heading = _('Choose a theme') %>
<% i = 0 %>
<% j = 0 %>

<% for theme in @themes %>
  <% if i == 0 %>
  <div class='row'>
  <% end %>	

  <div class='span6'>
  <% if theme.path == @active.path -%>
    <div class='alert container-fluid'>
    <h3><%= theme.name %> - <%= _("Active theme")%></h3>
    <%= image_tag(url_for(:action => 'preview', :theme => theme.name, :skip_relative_url_root => true)) %>
    <%= theme.description_html %>
  <% else %>
    <div class='container-fluid'>
    <h4><%= link_to(theme.name, {:action => 'switchto', :theme => theme.name}, :title => _("Use this theme")) %></h4>
    <%= link_to(image_tag(url_for(:action => 'preview', :theme => theme.name, :skip_relative_url_root => true)), 
	  {:action => 'switchto', :theme => theme.name}, :title => _("Use this theme")) %>
    <%= theme.description_html %>
    <p><%= link_to(_("Use this theme"), {:action => 'switchto', :theme => theme.name}, :class => 'btn btn-info') %></p>
  <% end -%>
    </div>
  </div>

  <% if i == 1 %>
  </div>
  <% end %>
  <% i = (i == 0) ? 1 : 0%>
  <% j += 1 %>
<% end %>
