<% @page_heading = _('Choose a theme') %>
<% content_for('tasks') do %>
	<%= subtab _("Sidebar"), "", {:controller=>"sidebar", :action=>"index"} %>
	<%= subtab _("Themes"), "current", {:controller=>"themes", :action=>"index"} %>
	<%= subtab _("Text Filters"), "", {:controller=>"textfilters", :action=>"list"} if (this_blog.display_advanced == 1) %>
<% end %> 

<% for theme in @themes %>
<div class="set theme" style="margin-top:10px;">
  <div class="preview"><img src="<%= url_for :action => 'preview', :theme => theme.name %>" alt="<%= theme.name %>" /></div>
  <%= theme.description_html %>
  <% if theme.path == @active.path -%>
  <em>(<%= _("Active theme")%>)</em>
  <% else -%>
  <%= link_to _("Activate"), :action => 'switchto', :theme => theme.name %>
  <% end -%>
  <br clear="all" />
</div>
<% end %>
