  <% @page_heading = _("Trackbacks for") + " #{ link_to h(@article.title), :controller => '/admin/content', :action => 'show', :id => @article }" %>

  <% content_for('tasks') do %>
    <li><%= link_to 'Manage Articles', :controller => '/admin/content', :action => 'list' %></li>
  <% end %> 

    <div class="list">
  	<ol>
  	<% for trackback in @trackbacks -%>
  	  <li <%= alternate_class %>>
  	    <p><strong><%= link_to trackback.blog_name, trackback.url %></strong> | 
  		IP: <%=h trackback.ip %></p>
  		<%= trackback.body %>
  		<p><%=trackback.created_at.strftime("%m/%d/%Y at %H:%M") %> – [ 
  		   <%= link_to_edit trackback %> | 
  		   <%= link_to image_tag('admin/delete.png'), {:action => 'destroy', :id => trackback.id, :search => params[:search], :page => params[:page] },  :confirm => "Are you sure?", :method => :post %> |
  		   <%= trackback.state %> ]
  		</p>
  	  </li>
  	<% end -%>
  	</ol>
    </div>
