<td>
</td>
<td>
  <%= avatar_tag(email: comment.email, url: comment.url, size: 36, class: 'img-circle') %>
  <% if comment.email.present? %>
    <%= mail_to comment.email, comment.author %>
  <% else %>
    <%= comment.author %>
  <% end %>
  <% if comment.url.present? %>
    <small>
      <%= link_to "(#{h(comment.url)})".html_safe, comment.url %>
    </small>
  <% end %>
</td>
<td>
  <%= l(comment.created_at) %>
</td>
<td>
  <span class='label label-danger'>
    <%= t("admin.feedback.state.#{comment.state}") %>
  </span>
</td>
<td>
  <p>
  <%= link_to comment.article.title, controller: 'feedback', action: 'article', id: comment.article_id %>
  </p>
  <p>
  </p>
</td>
<td>
  <%= change_status(comment) %>
</td>
