<% @page_heading = _('Display settings') %>

<%= form_tag :action => 'update' do %>

<fieldset class='form-horizontal'>
  <legend><%= _("Publishing options")%></legend>
    <div class='control-group'>
      <label class='control-label' for="setting_limit_article_display"><%= _("Display")%> </label>
      <div class='controls'>
        <%= text_field(:setting, :limit_article_display, {:size => 4, :class => 'span1'})%>
        <%= _("articles on my homepage by default")%>
      </div>
    </div>
    <div class='control-group'>
      <label class='control-label' for="setting_statuses_in_timeline"><%= _("Display statuses in the main feed")%>:</label>
      <div class='controls'>
        <%= check_box(:setting, :statuses_in_timeline) %>
      </div>
    </div>
    
    <div class='control-group'>
      <label class='control-label'><%= _("Date format")%></label>
      <div class='controls'>
        <label class='radio' for="setting_date_format_1">
          <%= radio_button(:setting, :date_format, '%d/%m/%Y')%>
          <span><%= Time.now.strftime('%d/%m/%Y') %></span>
        </label>
        <label class='radio' for="setting_date_format_2">
          <%= radio_button(:setting, :date_format, '%m/%d/%Y') %>
          <span><%= Time.now.strftime('%m/%d/%Y') %></span>
        </label>
        <label class='radio' for="setting_date_format_3">
          <%= radio_button(:setting, :date_format, "%d %b %Y" )%>
          <span><%= Time.now.strftime('%d %b %Y') %></span>
        </label>
        <label class='radio' for="setting_date_format_4">
          <%= radio_button(:setting, :date_format, '%d %B %Y' )%>
          <span><%= Time.now.strftime('%d %B %Y') %></span>
        </label>
        <label class='radio' for="setting_date_format_4">
          <%= radio_button(:setting, :date_format, 'distance_of_time_in_words' )%>
          <span><%= distance_of_time_in_words(Time.now, Time.now - 2.days) %> <%= _("ago") %></span>
        </label>
        <label class='radio' for="setting_date_format_4">
          <%= radio_button(:setting, :date_format, '%Y/%m/%d' )%>
          <span><%= Time.now.strftime('%Y/%m/%d') %></span>
        </label>
      </div>
    </div>
    <div class='control-group'>
      <label class='control-label'><%= _("Time format")%></label>
      <div class='controls'>
        <label class='radio' for="setting_time_format_1">
          <span><%= Time.now.strftime('%Hh%M') %></span>
          <%= radio_button(:setting, :time_format, '%Hh%M')%>
        </label>
        <label class='radio' for="setting_time_format_2">
          <%= radio_button(:setting, :time_format, '%H:%M')%>
          <span><%= Time.now.strftime('%H:%M') %></span>
        </label>
        <label class='radio' for="setting_time_format_3">
          <%= radio_button(:setting, :time_format, '%I:%M%p')%>
          <span><%= Time.now.strftime('%I:%M%p') %></span>
        </label>
      </div>
    </div>
    <div class='control-group'>
      <label class='control-label' for="custom_url_shortener"><%= _("Custom URL shortener domain")%></label>
      <div class='controls'>
        <%= text_field(:setting, :custom_url_shortener, { :class => 'span6'})%>
        <p class='help block'><%= _("You may want to use a custom domain for URL shortening, here's where it happens.") %></p>
      </div>
    </div>
</fieldset>

<fieldset class='form-horizontal'>
  <legend><%= _("RSS feed")%></legend>
  <div class='control-group'>
    <label class='control-label' for="setting_limit_rss_display"><%= _("Display")%> </label>
    <div class='controls'>
      <%= text_field(:setting, :limit_rss_display, {:size => 4, :class => 'span1'})%>
      <%= _("articles in my news feed by default")%>.
    </div>
  </div>
  <div class='control-group'>
    <label class='control-label' for="setting_hide_extended_on_rss"><%= _("Show only article excerpt on feed")%>:</label>
    <div class='controls'>
      <%= check_box(:setting, :hide_extended_on_rss) %>
    </div>
  </div>
  <div class='control-group'>
    <label class='control-label' for="setting_feedburner_url"><%= _("Feedburner ID")%></label>
    <div class='controls'>
      <%= text_field(:setting, :feedburner_url, :class => 'span6')%>
      <span class='help-block'><%= _('You can use your Google Feedburner account instead of Publify feed URL. To enable this, fill this form with your Feedburner ID.') %></span>
    </div>
  </div>
  
</fieldset>
<%= hidden_field_tag 'from', 'display' %>
<%= save_settings %>
<% end %>
