<%- content_for :page_heading do %>
<h2>
  <i class="glyphicon glyphicon-large glyphicon-cog"></i>
  <%= t('.display_settings') %>
</h2>
<% end %>

<%= form_tag :action => 'update' do %>

<fieldset class='form-horizontal'>
  <legend><%= t('.publishing_options')%></legend>
  <div class='form-group'>
    <label class='control-label col-sm-2' for="setting_limit_article_display"><%= t('.display')%> </label>
    <div class='col-sm-1'>
      <%= text_field(:setting, :limit_article_display, {:size => 4, :class => 'form-control'})%>
    </div>
    <div class='pull-left'>
      <span class='help-block'><%= t('.default_article_show')%></span>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-2' for="setting_limit_archives_display"><%= t('.display')%> </label>
    <div class='col-sm-1'>
      <%= text_field(:setting, :limit_archives_display, {:size => 4, :class => 'form-control'})%>
    </div>
    <div class='pull-left'>
      <span class='help-block'><%= t('.default_archives_show')%></span>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-2'><%= t('.statuses') %></label>
    <div class='col-sm-5'>
      <div class='checkbox'>
        <label>
          <%= check_box(:setting, :statuses_in_timeline) %>
          <%= t('.status_main_feed')%>
        </label>
      </div>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-2'><%= t('.date_format')%></label>
    <div class='col-sm-5'>
      <%= select(:setting, :date_format, {
        Time.now.strftime('%d/%m/%Y') => '%d/%m/%Y',
        Time.now.strftime('%m/%d/%Y') => '%m/%d/%Y',
        Time.now.strftime('%d %b %Y') => '%d %b %Y',
        Time.now.strftime('%d %B %Y') => '%d %B %Y',
        Time.now.strftime('%Y/%m/%d') => '%Y/%m/%d',
        distance_of_time_in_words(Time.now, Time.now - 2.days) => 'setting_date_format_distance_of_time_in_words'})
      %>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-2'><%= t('.time_format')%></label>
    <div class='col-sm-5'>
      <%= select(:setting, :time_format, {
        Time.now.strftime('%Hh%M') => '%Hh%M',
        Time.now.strftime('%H:%M') => '%H:%M',
        Time.now.strftime('%I:%M%p') => '%I:%M%p'})
      %>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-2' for="setting_custom_url_shortener"><%= t('.custom_url')%></label>
    <div class='col-sm-5'>
      <%= text_field(:setting, :custom_url_shortener, { :class => 'form-control'})%>
      <small class='help block'><%= t('.custom_url_help') %></small>
    </div>
  </div>
</fieldset>

<fieldset class='form-horizontal'>
  <legend><%= t('.feed_settings')%></legend>
  <div class='form-group'>
    <label class='control-label col-sm-2' for="setting_limit_rss_display"><%= t('.display')%> </label>
    <div class='col-sm-1'>
      <%= text_field(:setting, :limit_rss_display, {:size => 4, :class => 'form-control'})%>
    </div>
    <div class='pull-left'>
        <span class='help-block'><%= t('.default_feed_show')%></span>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-2'><%= t('.feed_articles') %></label>
    <div class='col-sm-5'>
      <div class='checkbox'>
        <label for="setting_hide_extended_on_rss">
          <%= check_box(:setting, :hide_extended_on_rss) %>
          <%= t('.feed_excerpts_only')%>
        </label>
      </div>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-2' for="setting_feedburner_url"><%= t('.feedburner_id')%></label>
    <div class='col-sm-5'>
      <%= text_field(:setting, :feedburner_url, :class => 'form-control')%>
      <small class='help-block'><%= t('.feedburner_help') %></small>
    </div>
  </div>
</fieldset>
<%= hidden_field_tag 'from', 'display' %>
<div class='form-group'>
  <hr>
  <%= link_to(t(".cancel"), {action: 'index'}) %>
  <%= t(".or") %>
  <%= submit_tag(t(".update_settings"), class: 'btn btn-success') %>
</div>
<% end %>
