<% @page_heading = _('Error messages') %>
<% subtabs_for(:settings) %>

<%= form_tag :action => 'update' do %>

<div class='widget-container'>
  <h3 class='light'>
    <span class='ui-icon ui-icon-gear'></span> <%= _("Error 404")%>
  </h3>
  <div class='widget-content'>
    <div class='setting clear'>
      <label class="float" for="setting_title_error_404"><%= _("Title")%></label>
      <div class='input_text'>
        <%= text_field(:setting, :title_error_404, { :class => 'medium'})%>
      </div>
    </div>
    <div class='setting clear'>
      <label class="float" for="setting_msg_error_404"><%= _("Message")%></label>
      <div class='input_text'>
        <%= text_area(:setting, :msg_error_404, :rows => 4, :class => 'large') %>
      </div>
    </div>
  </div>
</div>

<%= hidden_field_tag 'from', 'errors' %>
<%= save_settings %>
<% end %>
