<% @page_heading = _('Error messages') %>
<%= form_tag :action => 'update' do %>

<fieldset>
  <legend><%= _("Error 404")%></legend>
    <div class='clearfix'>
      <label for="setting_title_error_404"><%= _("Title")%></label>
      <div class='input'>
        <%= text_field(:setting, :title_error_404, { :class => 'span5'})%>
      </div>
    </div>
    <div class='clearfix'>
      <label for="setting_msg_error_404"><%= _("Message")%></label>
      <div class='input'>
        <%= text_area(:setting, :msg_error_404, :rows => 4, :class => 'span5') %>
      </div>
    </div>
</fieldset>

<%= hidden_field_tag 'from', 'errors' %>
<%= save_settings %>
<% end %>
