<% @page_heading = _('Feedback settings') %>

<%= form_tag :action => 'update' do %>

<fieldset>
	<legend><%= _("Feedback")%></legend>
    <div class='clearfix'>
      <label for="setting_default_allow_comments"><%= _("Enable comments by default")%></label>
      <div class='input'>
        <ul class='inputs-list'>
          <li>
      		  <label>
      				<%= check_box(:setting, :default_allow_comments)%>
      		  </label>
          </li>
        </ul>
      </div>
    </div>
    <div class='clearfix'>
      <label for="setting_default_allow_pings"><%= _("Enable Trackbacks by default")%></label>
      <div class='input'>
        <ul class='inputs-list'>
          <li>
            <label>
              <%= check_box(:setting, :default_allow_pings)%>
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class='clearfix'>
      <label for="setting_default_moderate_comments"><%= _("Enable feedback moderation")%></label>
      <div class='input'>
        <ul class='inputs-list'>
          <li>
            <label>
              <%= check_box(:setting, :default_moderate_comments)%>
              <span class='help-block'><%= _("You can enable site wide feeback moderation. If you do so, no comment or trackback will appear on your blog unless you validate it")%>.</span>
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class='clearfix'>
      <label for="comment_text_filter"><%= _("Comments filter")%></label>
      <div class='input'>
        <select name="setting[comment_text_filter]" id="comment_text_filter">
          <%= options_for_select text_filter_options, TextFilter.find_by_name(this_blog.comment_text_filter) %>
        </select>
      </div>
    </div>
    <div class='clearfix'>
      <label for="setting_use_gravatar"><%= _("Avatars provider")%></label>
      <div class='input'>
        <select name="setting[plugin_avatar]" id="plugin_avatar">
          <%= options_for_select plugin_options(:avatar), this_blog.plugin_avatar %>
        </select>
      </div>
    </div>
    <div class='clearfix'>
      <label for="setting_link_to_author"><%= _("Show your email address") %></label>
      <div class='input'>
        <%= check_box(:setting, :link_to_author)%>
      </div>
    </div>
	
</fieldset>

<fieldset>
  <legend><%= _("Spam")%></legend>
    <div class='clearfix'>
      <label for="setting_sp_global"><%= _("Enable spam protection")%></label>
      <div class='input'>
        <ul class='inputs-list'>
            <li>        
              <label>
                <%= check_box(:setting, :sp_global)%>
                <span class='help-block'><%= _("Enabling spam protection will make typo compare the IP address of posters as well as the contents of their posts against local and remote blacklists. Good defense against spam bots")%>.</span>
              </label>
            </li>
        </ul>
      </div>
    </div>
    <div class='clearfix'>
      <label for="setting_sp_akismet_key"><%= _("Akismet Key")%></label>
      <div class='input'>
        <%= text_field(:setting, :sp_akismet_key, {:class => 'span4'}) %>
        <span class='help-block'><%= _("Typo can (optionally) use the %s spam-filtering service.  You need to register with Akismet and receive an API key before you can use their service.  If you have an Akismet key, enter it here", '<a href="http://akismet.com">Akismet</a>')%>.</span>
      </div>
    </div>
    <div class='clearfix'>
      <label for="setting_global_pings_disable"><%= _("Disable trackbacks site-wide")%></label>
      <div class='input'>
        <ul class='inputs-list'>
          <li>
            <label>
                <%= check_box(:setting, :global_pings_disable)%>
                <span class='help-block'><%= _("This setting allows you to disable trackbacks for every article in your blog.  It won't remove existing trackbacks, but it will prevent any further attempt to add a trackback anywhere on your blog.")%></span>
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class='clearfix'>
      <label for="setting_sp_article_auto_close"><%= _("Disable comments after")%></label>
      <div class='input'>
        <%= text_field(:setting, :sp_article_auto_close, {:size => 4, :class => 'span1'})%>
        <%= _("days") %>.
        <span class='help-block'><%= _("Set to 0 to never disable comments")%></span>
      </div>
    </div>
    <div class='clearfix'>
      <label for="setting_sp_url_limit"><%= _("Max Links")%></label>
      <div class='input'>
        <%= text_field(:setting, :sp_url_limit, {:size => 4, :class => 'span1'})%>
        <span class='help-block'><%= _("Typo will automatically reject comments and trackbacks which contain over a certain amount of links in them")%>.
        <%= _("Set to 0 to never reject comments")%></span>
      </div>
    </div>
	<div class='clearfix'>
		<label for="setting_recaptcha"><%= _("Enable reCaptcha") %></label>
		<div class='input'>
      <ul class='inputs-list'>
        <li>
          <label>
            <%= check_box(:setting, :use_recaptcha)%>
            <span class='help-block'><%= _("Remember to set your reCaptcha keys inside config/initializers/recaptcha.rb")%></span>
          </label>
        </li>
      </ul>
		</div>
	</div>
  
</fieldset>

<%= hidden_field_tag 'from', 'feedback' %>
<%= save_settings %>
<% end %>
