<%- content_for :page_heading do %>
  <h2>
    <i class="glyphicon glyphicon-large glyphicon-cog"></i>
    <%= _("Feedback settings") %>
  </h2>
<% end %>

<%= form_tag :action => 'update' do %>

<fieldset class='form-horizontal'>
  <legend><%= _("Feedback")%></legend>
  <div class='form-group'>
    <label class='control-label col-sm-2'><%= _("Comments")%></label>
    <div class='col-sm-5'>
      <div class='checkbox'>
        <label for="setting_default_allow_comments">
          <%= check_box(:setting, :default_allow_comments)%>
          <%= _("Enable comments by default")%>
        </label>
      </div>
      <div class='checkbox'>
        <label for="setting_default_moderate_comments"><%= _("Enable feedback moderation")%>
          <%= check_box(:setting, :default_moderate_comments)%>
        </label>
        <small class='help-block'><%= _("You can enable site wide feedback moderation. If you do so, no comment or trackback will appear on your blog unless you validate it.")%></small>
      </div>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-2'><%= _("Trackbacks") %></label>
    <div class='col-sm-5'>
      <div class='checkbox'>
        <label for="setting_default_allow_pings">
          <%= check_box(:setting, :default_allow_pings)%>
          <%= _("Enable Trackbacks by default")%>
        </label>
      </div>
      <div class='checkbox'>
        <label for="setting_global_pings_disable">
          <%= check_box(:setting, :global_pings_disable)%>
          <%= _("Disable trackbacks site-wide")%>
        </label>
        <small class='help-block'><%= _("This setting allows you to disable trackbacks for every article in your blog.  It won't remove existing trackbacks, but it will prevent any further attempt to add a trackback anywhere on your blog.")%></small>
      </div>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-2' for="comment_text_filter"><%= _("Comments filter")%></label>
    <div class='col-sm-5'>
    <select name="setting[comment_text_filter]" id="comment_text_filter" class='form-control'>
      <%= options_for_select text_filter_options, TextFilter.find_by_name(this_blog.comment_text_filter) %>
    </select>
  </div>
</div>
<div class='form-group'>
  <label class='control-label col-sm-2' for="setting_plugin_avatar"><%= _("Avatars provider")%></label>
  <div class='col-sm-5'>
    <select name="setting[plugin_avatar]" id="setting_plugin_avatar" class='form-control'>
      <%= options_for_select plugin_options(:avatar), this_blog.plugin_avatar %>
    </select>
  </div>
</div>
</fieldset>

<fieldset class='form-horizontal'>
  <legend><%= _("Spam")%></legend>
  <div class='form-group'>
    <label class='control-label col-sm-2'><%= _("Spam protection") %></label>
    <div class='col-sm-5'>
      <div class='checkbox'>
        <label for="setting_sp_global"><%= _("Enable spam protection")%>
          <%= check_box(:setting, :sp_global)%>
        </label>
        <small class='help-block'><%= _("Enabling spam protection will make Publify compare the IP address of posters as well as the contents of their posts against local and remote blacklists. Good defense against spam bots")%>.</small>        
      </div>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-2' for="setting_sp_akismet_key"><%= _("Akismet Key")%></label>
    <div class='col-sm-5'>
      <%= text_field(:setting, :sp_akismet_key, {:class => 'form-control'}) %>
      <small class='help-block'><%= _("Publify can (optionally) use the %s spam-filtering service.  You need to register with Akismet and receive an API key before you can use their service.  If you have an Akismet key, enter it here", '<a href="http://akismet.com">Akismet</a>')%>.</small>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-2' for="setting_sp_article_auto_close"><%= _("Disable comments after")%></label>
    <div class='col-sm-1'>
      <%= text_field(:setting, :sp_article_auto_close, {:size => 4, :class => 'form-control'})%>
    </div>
    <div class='pull-left'>
      <span class='help-block'><%= _("days") %></span>
    </div>
    <div class='col-sm-10'>
      <small class='help-block'><%= _("Set to 0 to never disable comments")%>.</small>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-2' for="setting_sp_url_limit"><%= _("Max Links")%></label>
    <div class='col-sm-1'>
      <%= text_field(:setting, :sp_url_limit, {:size => 4, :class => 'form-control'})%>
    </div>
    <div class='col-md-offset-2 col-sm-10'>
      <small class='help-block'><%= _("Publify will automatically reject comments and trackbacks which contain over a certain amount of links in them")%>. <%= _("Set to 0 to never reject comments")%>.</small>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-2'><%= _("Captcha") %></label>
    <div class='col-sm-5'>
      <div class='checkbox'>
        <label for="setting_use_recaptcha"><%= _("Enable reCaptcha") %>
        <%= check_box(:setting, :use_recaptcha)%>          
      </div>
        <small class='help-block'><%= _("Remember to set your reCaptcha keys inside config/initializers/recaptcha.rb")%></small>
      </label>
    </div>
  </div>
</fieldset>

<%= hidden_field_tag 'from', 'feedback' %>
<%= save_settings %>
<% end %>
