<% @page_heading = _('Feedback settings') %>
<% subtabs_for(:settings) %>

<% form_tag :action => 'update' do %>
<fieldset>
  <legend><%= _("Feedback")%></legend>

  <div>
    <label class="float large" for="setting_default_allow_pings"><%= _("Enable Trackbacks by default")%></label>
    <p class='input_text_title'>
      <%= check_box(:setting, :default_allow_pings)%>
    </p>
  </div>
  <div>
    <label class="float large" for="setting_default_allow_comments"><%= _("Enable comments by default")%></label>
    <p class='input_text_title'>
      <%= check_box(:setting, :default_allow_comments)%>
    </p>
  </div>
  <div>
    <label for="comment_text_filter" class="float large"><%= _("Comments filter")%></label>
    <p class='input_text_title'>
      <select name="setting[comment_text_filter]" id="comment_text_filter">
        <%= options_for_select text_filter_options, TextFilter.find_by_name(this_blog.comment_text_filter) %>
      </select>      
    </p>
  </div>
  <div>
    <label class="float large" for="setting_use_gravatar"><%= _("Enable gravatars")%></label>
    <p class='input_text_title'>
      <%= check_box(:setting, :use_gravatar)%>
    </p>
  </div>
  <div>
    <p><%= _("This setting allows you to disable trackbacks for every article in your blog.  It won't remove existing trackbacks, but it will prevent any further attempt to add a trackback anywhere on your blog.")%></p>
    <label class="float large" for="setting_global_pings_disable"><%= _("Disable trackbacks site-wide")%></label>
    <p class='input_text_title'>
      <%= check_box(:setting, :global_pings_disable)%>
    </p>
  </div>
  <div>
    <p><%= _("You can enable site wide feeback moderation. If you do so, no comment or trackback will appear on your blog unless you validate it")%>.</p>
    <label class="float large" for="setting_default_moderate_comments"><%= _("Enable feedback moderation")%></label>
    <p class='input_text_title'>
      <%= check_box(:setting, :default_moderate_comments)%>
    </p>
  </div>
  <div>
    <label class="float large" for="setting_link_to_author"><%= _("Show your email address") %></label>
    <p class='input_text_title'>
      <%= check_box(:setting, :link_to_author)%>
    </p>
  </div>
</fieldset>

<fieldset>
  <legend><%= _("Notification")%></legend>
  <p><%= _("Typo can notify you when new articles or comments are posted")%></p>
  <div>
    <label class="float" for="setting_email_from"><%= _("Source Email")%></label>
    <p class='input_text_title'>
      <%= text_field(:setting, :email_from, {:size => 25, :class => 'small'}) %>
      <%= _("Email address used by Typo to send notifications")%>.
    </p>
  </div>
</fieldset>

<fieldset>
  <legend><%= _("Spam")%></legend>
  <p><%= _("Enabling spam protection will make typo compare the IP address of posters as well as the contents of their posts against local and remote blacklists. Good defense against spam bots")%>.</p>
  <div>
    <label for="setting_sp_global" class="float"><%= _("Enable spam protection")%></label>
    <p class='input_text_title'>
      <%= check_box(:setting, :sp_global)%>
    </p>
  </div>
  <div>
    <p><%= _("Typo can (optionally) use the %s spam-filtering service.  You need to register with Akismet and receive an API key before you can use their service.  If you have an Akismet key, enter it here", '<a href="http://akismet.com">Akismet</a>')%>.</p>
    <label class="float" for="setting_sp_akismet_key"><%= _("Akismet Key")%></label>
    <p class='input_text_title'>
      <%= text_field(:setting, :sp_akismet_key, {:class => 'small', :size => 25}) %>
    </p>
  </div>
  <div>
    <label for="setting_sp_article_auto_close" class="float"><%= _("Disable comments after")%></label>
    <p class='input_text_title'>
      <%= text_field(:setting, :sp_article_auto_close, {:size => 4, :class => 'small'})%>
      <%= _("days") %>
      <%= _("Set to 0 to never disable comments")%>
    </p>
  </div>
  <p><%= _("Typo will automatically reject comments and trackbacks which contain over a certain amount of links in them")%>.</p>
  <div>
    <label class="float" for="setting_sp_url_limit"><%= _("Max Links")%></label>
    <p class='input_text_title'>
      <%= text_field(:setting, :sp_url_limit, {:size => 4, :class => 'small'})%>       
      <%= _("Set to 0 to never reject comments")%>
    </p>
  </div>
</fieldset>
<%= hidden_field_tag 'from', 'feedback' %>
<%= render :partial => 'submit' %>
<% end %>
