	<% @page_heading = _('Read') %>

  <% content_for('tasks') do -%>
	<%= subtab _("General settings"), "", {:controller => 'settings'} %>
	<%= subtab _("Read"), "current", { :controller => 'settings', :action => 'read' } %>
	<%= subtab _("Write"), "", { :controller => 'settings', :action => 'write' } %>
	<%= subtab _("Feedback"), "", { :controller => 'settings', :action => 'feedback' } %>			
	<%= subtab _("Spam"), "", { :controller => 'settings', :action => 'spam' } %>
	<%= subtab _("Podcasts"), "", { :controller => 'settings', :action => 'podcast' } %>	
  <% end -%> 

	<% form_tag :action => 'read' do %>

<div class="admin">
	<fieldset id="read" class="set">
		<ul>
			<li>
				<label for="limit_article_display" class="float"><%= _("Display")%> </label>
				<input name="setting[limit_article_display]" size="4" id="limit_article_display" type="text" value="<%= this_blog.limit_article_display %>" />
				<%= _("articles on my homepage by default")%>
			</li>
			<li>
			    <label for="limit_rss_display" class="float"><%= _("Display")%> </label>
			    <input name="setting[limit_rss_display]" size="4" id="limit_rss_display" type="text" value="<%= this_blog.limit_rss_display %>" />
				<%= _("articles in my news feed by default")%>.
			</li>
			<li class="checkbox">
				<label class="float" for="show_extended_on_rss"><%= _("Show full article on feed")%>:</label>
			    <input name="setting[show_extended_on_rss]" id="show_extended_on_rss" type="checkbox" value="1" <%= 'checked="checked"' if this_blog.show_extended_on_rss%> />
			    <input name="setting[show_extended_on_rss]" type="hidden" value="0" />
			</li>
		</ul>
	</fieldset>

	<%= render :partial => 'submit' %>

</div>
  <% end %>
