	<% @page_heading = _('Read') %>
  <% subtabs_for(:settings) %>
	<% form_tag :action => 'update' do %>

<div class="admin">
	<fieldset id="read">
		<ul>
			<li>
				<label for="setting_limit_article_display" class="float"><%= _("Display")%> </label>
				<%= text_field(:setting, :limit_article_display, :size => 4)%>
				<%= _("articles on my homepage by default")%>
			</li>
			<li>
			    <label for="setting_limit_rss_display" class="float"><%= _("Display")%> </label>
			    <%= text_field(:setting, :limit_rss_display, :size => 4)%>
				<%= _("articles in my news feed by default")%>.
			</li>
			<li class="checkbox">
				<label class="float" for="setting_show_extended_on_rss"><%= _("Show full article on feed")%>:</label>
				<%= check_box(:setting, :show_extended_on_rss) %>
			</li>
      <li>
        <label class="float" for="setting_feedburner_url"><%= _("Feedburner ID")%></label>
        <%= text_field(:setting, :feedburner_url, :class => 'medium')%>
        <span class="float">You can use your Google Feedburner account instead of Typo feed URL. To enable this, fill this form with your Feedburner ID.</span>
      </li>
		</ul>
	</fieldset>
  <%= hidden_field_tag 'from', 'read' %>

	<%= render :partial => 'submit' %>

</div>
  <% end %>
