<% @page_heading = _('Search Engine Optimization') %>
<% subtabs_for(:settings) %>

<% form_tag :action => 'update' do %>
<div class="admin">
  <fieldset class="set">
    <legend><%= _("Search Engine Optimisation")%></legend>
    <ul>
      <li>
        <label class="float"><%= _("Show blog name")%>:</label>
        <input type="radio" name="setting[title_prefix]" value="1" id="blog_title_prefix_1" <%= 'checked="checked"' if this_blog.title_prefix == 1 %>/>
        <label for="blog_title_prefix_1"><%= _("At the beginning of page title")%></label>
        <span class="float">
          <input type="radio" name="setting[title_prefix]" value="2" id="blog_title_prefix_2" <%= 'checked="checked"' if this_blog.title_prefix == 2 %>/>
          <label for="blog_title_prefix_2"><%= _("At the end of page title")%></label>
        </span>
        <span class="float">
          <input type="radio" name="setting[title_prefix]" value="0" id="blog_title_prefix_0" <%= 'checked="checked"' if this_blog.title_prefix == 0 %>/>
          <label for="blog_title_prefix_0"><%= _("Don't show blog name in page title")%></label>
        </span>
      </li>
      <li>
          <label class="float" for="meta_description"><%= _("Meta description")%></label>
          <textarea name="setting[meta_description]" id="meta_description" rows="5" cols="50"><%=h this_blog.meta_description %></textarea>
      </li>
      <li>
          <label class="float" for="meta_keywords"><%= _("Meta keywords")%></label>
          <input type="text" name="setting[meta_keywords]" id="meta_keywords" size="25" value="<%=h this_blog.meta_keywords %>" />
      </li>
    </ul>
  </fieldset>
  <%= hidden_field_tag 'from', 'index' %>  
  <%= render :partial => 'submit' %>
</div>
<% end %>
