<%- content_for :page_heading do %>
<h2>
  <i class="glyphicon glyphicon-large glyphicon-cog"></i>
  <%= _("Write") %>
</h2>
<% end %>

<%= form_tag :action => 'update' do %>

<fieldset class='form-horizontal'>
  <legend><%= _("Publish")%></legend>
  <div class='form-group'>
    <label class='control-label col-sm-2'><%= _("Trackbacks") %></label>
    <div class="col-sm-5">
      <div class='checkbox'>
        <label for="setting_send_outbound_pings">
          <%= check_box(:setting, :send_outbound_pings) %>
          <%= _("Send trackbacks")%>
        </label>      
        <small class='help-block'><%= _("When publishing articles, Publify can send trackbacks to websites that you link to. This should be disabled for private blogs as it will leak non-public information to sites that you're discussing. For public blogs, there's no real point in disabling this.")%></small>
      </div>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-2' for="setting_ping_urls"><%= _("URLs to ping automatically")%></label>
    <div class='col-sm-5'>
      <%= text_area(:setting, :ping_urls, :rows => 4, :class => 'form-control') %>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-2' for="setting_geourl_location"><%= _("Latitude, Longitude")%></label>
    <div class='col-sm-5'>
      <%= text_field(:setting, :geourl_location, { :class => 'form-control'})%>
      <span class='help-block'><%= _("Display")%> <a href="http://geourl.org"><%= _("your latitude and longitude")%></a> (<%= _("example")%>: <tt>47.774,-122.201</tt>)</span>
    </div>
  </div>
</fieldset>

<fieldset class='form-horizontal'>
  <legend><%= _("Media")%></legend>
  <div class='form-group'>
    <label class='control-label col-sm-2' for="setting_image_thumb_size"><%= _("Image thumbnail size")%></label>
    <div class='col-sm-1'>
      <%= text_field(:setting, :image_thumb_size, { :class => 'form-control'})%>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-2' for="setting_image_medium_size"><%= _("Image medium size")%></label>
    <div class='col-sm-1'>
      <%= text_field(:setting, :image_medium_size, { :class => 'form-control'})%>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-2' for="image_avatar_size"><%= _("Avatar size")%></label>
    <div class='col-sm-1'>
      <%= text_field(:setting, :image_avatar_size, { :class => 'form-control'})%>
    </div>
  </div>
</fieldset>

<fieldset class='form-horizontal'>
  <legend><%= _("Publish on Twitter")%></legend>
  <%= twitter_disabled_message(this_blog, current_user) %>
  <div class='form-group'>
    <label class='control-label col-sm-2' for="setting_twitter_consumer_key"><%= _("Twitter consumer key")%></label>
    <div class='col-sm-5'>
      <%= text_field(:setting, :twitter_consumer_key, { :class => 'form-control'})%>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-2' for="setting_twitter_consumer_secret"><%= _("Twitter consumer secret")%></label>
    <div class='col-sm-5'>
      <%= text_field(:setting, :twitter_consumer_secret, { :class => 'form-control'})%>
    </div>
  </div>
</fieldset>

<%= hidden_field_tag 'from', 'write' %>
<%= save_settings %>
<% end %>
