<%- content_for :page_heading do %>
<h2>
  <i class="glyphicon glyphicon-large glyphicon-cog"></i>
  <%= t(".write") %>
</h2>
<% end %>

<%= form_tag action: 'update' do %>

<fieldset class='form-horizontal'>
  <legend><%= t(".publish")%></legend>
  <div class='form-group'>
    <label class='control-label col-sm-2'><%= t(".trackbacks") %></label>
    <div class="col-sm-5">
      <div class='checkbox'>
        <label for="setting_send_outbound_pings">
          <%= check_box(:setting, :send_outbound_pings) %>
          <%= t(".send_trackbacks")%>
        </label>
        <small class='help-block'><%= t(".explain") %></small>
      </div>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-2' for="setting_ping_urls"><%= t(".urls_to_ping")%></label>
    <div class='col-sm-5'>
      <%= text_area(:setting, :ping_urls, :rows => 4, :class => 'form-control') %>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-2' for="setting_geourl_location"><%= t(".latitude_longitude")%></label>
    <div class='col-sm-5'>
      <%= text_field(:setting, :geourl_location, { :class => 'form-control'})%>
      <small class='help-block'><%= t(".display")%> <a href="http://geourl.org"><%= t(".your_geoloc")%></a> (<%= t(".example")%>: <tt>47.774,-122.201</tt>)</small>
    </div>
  </div>
</fieldset>

<fieldset class='form-horizontal'>
  <legend><%= t(".media")%></legend>
  <div class='form-group'>
    <label class='control-label col-sm-2' for="setting_image_thumb_size"><%= t(".image_thumbnail_size")%></label>
    <div class='col-sm-1'>
      <%= text_field(:setting, :image_thumb_size, { :class => 'form-control'})%>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-2' for="setting_image_medium_size"><%= t(".image_medium_size")%></label>
    <div class='col-sm-1'>
      <%= text_field(:setting, :image_medium_size, { :class => 'form-control'})%>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-2' for="image_avatar_size"><%= t(".avatar_size")%></label>
    <div class='col-sm-1'>
      <%= text_field(:setting, :image_avatar_size, { :class => 'form-control'})%>
    </div>
  </div>
</fieldset>

<fieldset class='form-horizontal'>
  <legend><%= t(".publish_on_twitter")%></legend>
  <%- unless twitter_available?(this_blog, current_user) %>
    <p class='alert alert-warning'>
      <%= t(".how_to_setup_twitter", twitter_settings_link: link_to(t(".fill_the_twitter_credentials"), controller: 'admin/settings', action: 'write'), twitter_registration_link: link_to(t(".registered_your_application"), "https://dev.twitter.com/apps/new")) %>
    </p>
  <%- end %>
  <div class='form-group'>
    <label class='control-label col-sm-2' for="setting_twitter_consumer_key"><%= t(".twitter_consumer_key")%></label>
    <div class='col-sm-5'>
      <%= text_field(:setting, :twitter_consumer_key, { :class => 'form-control'})%>
    </div>
  </div>
  <div class='form-group'>
    <label class='control-label col-sm-2' for="setting_twitter_consumer_secret"><%= t(".twitter_consumer_secret")%></label>
    <div class='col-sm-5'>
      <%= text_field(:setting, :twitter_consumer_secret, { :class => 'form-control'})%>
    </div>
  </div>
</fieldset>

<%= hidden_field_tag 'from', 'write' %>
<div class='form-group'>
  <hr>
  <%= link_to(t(".cancel"), {action: 'index'}) %>
  <%= t(".or") %>
  <%= submit_tag(t(".update_settings"), class: 'btn btn-success') %>
</div>
<% end %>
