<%- content_for :page_heading do %>
  <i class="icon-large icon-settings"></i><h2 class="page-title"><%= _("Write") %></h2>
<% end %>

<%= form_tag :action => 'update' do %>

<fieldset class='form-horizontal'>
  <legend><%= _("Publish")%></legend>
  <div class='control-group'>
    <label class='checkbox' for="setting_send_outbound_pings"><%= _("Send trackbacks")%></label>
    <div class='controls'>
      <%= check_box(:setting, :send_outbound_pings) %>
      <span class='help-block'><%= _("When publishing articles, Publify can send trackbacks to websites that you link to. This should be disabled for private blogs as it will leak non-public information to sites that you're discussing. For public blogs, there's no real point in disabling this.")%></span>
    </div>
  </div>
  <div class='control-group'>
    <label class='control-label' for="setting_ping_urls"><%= _("URLs to ping automatically")%></label>
    <div class='controls'>
      <%= text_area(:setting, :ping_urls, :rows => 4, :class => 'span6') %>
    </div>
  </div>
  <div class='control-group'>
    <label class='control-label' for="setting_geourl_location"><%= _("Latitude, Longitude")%></label>
    <div class='controls'>
      <%= text_field(:setting, :geourl_location, { :class => 'span6'})%>
      <span class='help-block'><%= _("Display")%> <a href="http://geourl.org"><%= _("your latitude and longitude")%></a> (<%= _("example")%>: <tt>47.774,-122.201</tt>)</span>
    </div>
  </div>
</fieldset>

<fieldset class='form-horizontal'>
  <legend><%= _("Media")%></legend>
  <div class='control-group'>
    <label class='control-label' for="setting_image_thumb_size"><%= _("Image thumbnail size")%></label>
    <div class='controls'>
      <div class='input-append'>
        <%= text_field(:setting, :image_thumb_size, { :class => 'span3'})%><span class='add-on'>px</span>
      </div>
    </div>
  </div>
  <div class='control-group'>
    <label class='control-label' for="setting_image_medium_size"><%= _("Image medium size")%></label>
    <div class='controls'>
      <div class='input-append'>
        <%= text_field(:setting, :image_medium_size, { :class => 'span3'})%><span class='add-on'>px</span>
      </div>
    </div>
  </div>
  <div class='control-group'>
    <label class='control-label' for="image_avatar_size"><%= _("Avatar size")%></label>
    <div class='controls'>
      <div class='input-append'>
        <%= text_field(:setting, :image_avatar_size, { :class => 'span3'})%><span class='add-on'>px</span>
      </div>
    </div>
  </div>
</fieldset>

<fieldset class='form-horizontal'>
  <legend><%= _("Publish on Twitter")%></legend>
  <%= twitter_disabled_message(this_blog, current_user) %>
  <div class='control-group'>
    <label class='control-label' for="setting_twitter_consumer_key"><%= _("Twitter consumer key")%></label>
    <div class='controls'>
      <%= text_field(:setting, :twitter_consumer_key, { :class => 'span6'})%>
    </div>
  </div>
  <div class='control-group'>
    <label class='control-label' for="setting_twitter_consumer_secret"><%= _("Twitter consumer secret")%></label>
    <div class='controls'>
      <%= text_field(:setting, :twitter_consumer_secret, { :class => 'span6'})%>
    </div>
  </div>
</fieldset>

<%= hidden_field_tag 'from', 'write' %>
<%= save_settings %>
<% end %>
