<table id='category_container' class="zebra-stripe">
  <thead>
    <tr class='noborder'>
    <th><%= _("Title") %></th>
    <th><%= _("Description") %></th>
    <th><%= _("Permalink") %></th>
    <th><%= _("Keywords") %></th>
  </tr>
</thead>
  <%= render_void_table(@categories.size, 4)  %>
  <% for category in @categories -%>
  <tr <%= alternate_class -%> id="category_<%= category.id -%>">
    <td>
      <%= link_to_edit category.name, category %><br />
      <%= show_category_actions category %>
    </td>
    <td><%= h category.description %></td>
    <td><%= category.permalink %></td>
    <td><%= h category.keywords %></td>
  </tr>
  <% end -%>
</table>
