<table>
  <tr>
    <th><%= _("Title") %></th>
  </tr>
  <%= render_void_table(@categories.size, 2)  %>

  <% for category in @categories -%>
  <tr <%= alternate_class -%> id="category_<%= category.id -%>">
    <td>
      <%= link_to_edit category.name, category %><br />
      <%= show_category_actions category %>
      </td>
  </tr>
  <% end -%>
  <tr>
    <td class='paginate'>
      <%= link_to(_('Reorder'), :update => 'category_container', :url => { :action => 'reorder' }, :remote => true) %> |
      <%= link_to(_('Sort alphabetically'), :update => 'category_container', :url => { :action => 'asort' }, :remote => true) %>

    </td>
  </tr>
</table>
