<table>
  <tr>
    <th><%= _("Title") %></th>
    <th><%= _("Posts") %></th>
  </tr>
  <%= render_void_table(@categories.size, 2)  %>
  
  <% for category in @categories -%>
  <tr <%= alternate_class -%> id="category_<%= category.id -%>">
    <td><%= link_to_edit category.name, category %></td>
    <td>
      <%= link_to_permalink category, pluralize(category.articles.size, _('no articles') , _('1 article'), __('%d articles')) %>
    </td>
  </tr>  
  <% end -%>
  <tr>
    <td colspan='2' class='paginate'>
      <%= link_to_remote(_('Reorder'), :update => 'category_container', :url => { :action => 'reorder' }) %> |
      <%= link_to_remote(_('Sort alphabetically'), :update => 'category_container', :url => { :action => 'asort' }) %>
      
    </td>
  </tr>
</table>
