<%= form_tag :action=>"edit", :id => @category.id do %>
  <%= error_messages_for 'category' %>
  <div class='clearfix'>
  	<label for="category_name"><%= _("Name")%></label>
    <div class='input'>
	    <%= text_field :category, :name, :class => 'large'  %>
    </div>
  </div>
  <div class='clearfix'>
    <label for="category_keywords"><%= _("Keywords") %></label>
    <div class='input'>
      <%= text_field :category, :keywords, :class => 'large' %>
    </div>
  </div>
  <div class='clearfix'>
    <label for="category_description"><%= _("Description") %></label>
    <div class='input'>
      <%= text_area :category, :description, :rows => 5, :class => 'large' %>
    </div>
  </div>
  <div class='actions'>
    <%= cancel_or_save %>  
  </div>

<% end %>
