<%= error_messages_for 'category' %>
<ul class="admin" id="article_form">
  <li>
    <label for="category_name" class="title block"><%= _("Name")%></label> 
    <%= text_field :category, :name, :class => 'medium'  %>
  </li>
  <li>
    <label for="category_keywords" class="content block"><%= _("Keywords") %></label>
    <%= text_field :category, :keywords, :class => 'large' %>
  </li>
  <li>
    <label for="category_description" class="content block"><%= _("Description") %></label>
    <%= text_area :category, :description, :class => 'large' %>
  </li>
  
</ul>
<p>
  
  
</p>
<!--[eoform:cateogry]-->