<% form_tag :action=>"new" do %>

<p>
  <label for="category_name"><%= _("Title")%>:</label><br/>
  <%= text_field 'category', 'name'  %>
</p>

<div id="operations">
  <a href="#" onclick="new Effect.BlindUp('quick-post', {duration: 0.4}); return false;" ><%= _("Cancel") %></a> <%= _("or")%> <%= save(_("Save")) %> 
</div>
<% end %>
