<div class="top-layer">
  <div class="concrete">
    <div class="close-button"><%= link_to 'X', '#close', :title => _('close') %></div>
    <h1><%= _("%s Category", controller.action_name.capitalize) %></h1>
    <%= form_tag :action=>"edit", :id => @category.id do %>
    <%= error_messages_for 'category' %>
    <label for='category_name'><%= _("Name") %></label>
    <%= text_field :category, :name, :class => 'span12' %>
    <label for='category_keywords' class='control-label'><%= _("Keywords") %></label>
    <%= text_field :category, :keywords, :class => 'span12' %>
    <label for="category_permalink"><%= _("Permalink") %></label>
    <%= text_field :category, :permalink, :class => 'span12' %>
    <p class='help-block'><%= _("Your category slug. Leave empty if you don't know what to put here") %></p>
    <label for="category_description"><%= _("Description") %></label>
    <%= text_area :category, :description, :rows => 5, :class => 'span12' %>
    <div class='form-actions'>
      <%= cancel_or_save %>  
    </div>
    <% end %>
    
  </div>
  <script type="text/javascript">
    <!-- Rewrite cancel link to close that form -->
    $$('.concrete a, .top-layer').each(function(cancel_link) {
      cancel_link.observe('click', function(event) {
        $$('.top-layer').each(function(layer) { layer.remove(); });
        event.stop();
      });
      <!-- Ok, it's just for Mister Perfect -->
      cancel_link.writeAttribute('href', '#close_form');
      <!-- Intercepts form submission -->
      $$('.concrete form').each(function(cat_form) {
        cat_form.observe('submit', function(event) {
          cat_form.request({
            method: 'post',
            onSuccess: function(transport) {
              $$('.top-layer').each(function(layer) { layer.remove(); });
              var response = transport.responseText;
              var categories = $('categories');
              categories.replace(response);
              $$('#article_form .new_category').each(function(cat_link){ cat_link.observe('click', bind_new_category_overlay); });
            }
          });
          event.stop();
        });
      });
    });
  </script>
</div>
