<%- content_for :page_heading do %>
  <h2>
    <i class="glyphicon glyphicon-large glyphicon-tags"></i>
    <%= t(".categories") %>
  </h2>
<% end %>

<div class='row'>
  <div class='col-md-4'>
    <%= form_tag action: "edit", id: @category.id do %>
      <%= error_messages_for 'category' %>
      <div class='form-group'>
        <%= text_field :category, :name, class: 'form-control', placeholder:  t(".name") %>
      </div>
      <div class='form-group'>
        <%= text_field :category, :keywords, class: 'form-control', placeholder:  t(".keywords") %>
      </div>
      <div class='form-group'>
        <%= text_field :category, :permalink, class: 'form-control', placeholder: t(".permalink") %>  
      </div>
      <p class='help-block'><small><%= t(".explaination") %></small></p>
      <div class='form-group'>
        <%= text_area :category, :description, rows: 5, class: 'form-control', placeholder: t(".description") %>
      </div>
      <div class='form-group'>
        <%= cancel_or_save %>
      </div>
    <% end %>
  </div>

  <div class="col-md-8">
    <table class="table table-hover" id='category_container'>
      <thead>
        <tr class='noborder'>
          <th style='width:40%'><%= t(".title") %></th>
          <th><%= t(".description") %></th>
          <th><%= t(".permalink") %></th>
          <th><%= t(".keywords") %></th>
        </tr>
      </thead>
      <%= render_void_table(@categories.size, 4)  %>
      <% for category in @categories -%>
        <tr id="category_<%= category.id -%>">
          <td>
            <%= link_to_edit category.name, category %>
            <%= show_category_actions category %>
          </td>
          <td><%= h category.description %></td>
          <td><%= category.permalink %></td>
          <td><%= h category.keywords %></td>
        </tr>
      <% end -%>
    </table>
  </div>
</div>
