<div class='row'>
  <div class='span4 offset4'>
    <h3><%= _("Welcome")%></h3>
  </div>
</div>
<div class='row'>
  <div class='span4 offset4 well'>
    <div id="flash"><%= render_the_flash %></div>
      <%= form_tag :action=> 'index' do %>
        <div class='alert'>
          <small><%= _("Welcome to your %s blog setup. Just fill in your blog title and your email, and Typo will take care of everything else", link_to("Typo", 'http://typosphere.org'))%></small>
        </div>
        <%= text_field(:setting, :blog_name, { :class=> 'input-block-level', :placeholder => _("Blog name")})%>
        <%= text_field(:setting, :email, { :class=> 'input-block-level', :placeholder => _("Your email")})%>
        <input type="submit" id="submit" class='btn btn-info pull-right' value="<%= _('Save')%>" />
      <% end %>
    </div>
  </div>
</div>
