<div class='row'>
  <div class='span6 offset5'>
    <div class='well'>
      <div id="flash"><%= render_the_flash %></div>
      <%= form_tag :action=> 'index' do %>
      <h2><%= _("Welcome")%></h2>
      <p><%= _("Welcome to your %s blog setup. Just fill in your blog title and your email, and Typo will take care of everything else", link_to("Typo", 'http://typosphere.org'))%></p>
      <div class='clearfix'>
        <%= text_field(:setting, :blog_name, { :class=> 'login', :placeholder => _("Blog name")})%>
      </div>
      <div class='clearfix'>
        <%= text_field(:setting, :email, {:placeholder => _("Your email")})%>
        <input type="submit" id="submit" class='btn info' value="<%= _('Save')%>" />
      </div>
      <% end %>				
    </div>
  </div>
</div>
