<%= form_tag :action=> 'index' do %>
  <div class='alert alert-info'>
    <small><%= _("Welcome to your %s blog setup. Just fill in your blog title and your email, and Publify will take care of everything else", link_to("Publify", 'http://publify.co'))%></small>
  </div>
  <div class='form-group'>
    <%= text_field(:setting, :blog_name, { :class=> 'form-control', :placeholder => _("Blog name")})%>  
  </div>
  <div class='form-group'>
    <%= text_field(:setting, :email, { :class=> 'form-control', :placeholder => _("Your email")})%>  
  </div>
  
  <input type="submit" id="submit" class='btn btn-lg btn-success btn-block' value="<%= _('Save')%>" />
<% end %>
