<%- content_for :page_heading do %>
<h2>
  <i class="glyphicon glyphicon-large glyphicon-th-list"></i>
  <%= t(".notes") %>
</h2>
<% end %>

<div class='row'>
  <div class='col-md-4'>
    <%= form_tag :action=>"edit", :id => @note.id do %>
      <input type="hidden" name="note[text_filter]" id="note_textfilter" value="<%= current_user.text_filter_name %>">
      <div class='form-group'>
        <%= text_area(:note, :body, {class: 'form-control', rows: '7', placeholder: t(".compose_new_note")}) %>
      </div>

      <fieldset class="hidden-phone">
        <legend><%= t(".publish_settings") %></legend>
        <%- unless twitter_available?(this_blog, current_user) %>
        <p class='alert alert-warning'>
          <%= t(".how_to_setup_twitter", twitter_settings_link: link_to(t(".fill_the_twitter_credentials"), controller: 'admin/settings', action: 'write'), twitter_registration_link: link_to(t(".registered_your_application"), "https://dev.twitter.com/apps/new")) %>
        </p>
        <%- else %>
        <div class="checkbox">
          <label for="push_to_twitter">
            <%= check_box_tag 'push_to_twitter', true, @note.twitter_id.blank?, {disabled: !twitter_available?(this_blog, current_user)}  %>
            <%= t(".posse_to_twitter")%>
          </label>
        </div>
        <div class="form-group">
          <label for="note_in_reply_to_status_id"><%= t(".in_reply_to")%></label>
          <%= text_field 'note', 'in_reply_to_status_id', :class => 'form-control', :placeholder => t(".tweet_id_like"), disabled: !twitter_available?(this_blog, current_user) %>
        </div>
        <%- end %>
        <div class='form-group'>
          <label for="note_permalink"><%= t(".permanent_link")%></label>
          <%= text_field 'note', 'permalink', :class => 'form-control' %>
        </div>
        <div class='checkbox'>
          <label for='note_published'>
            <%= check_box 'note', 'published'  %>
            <%= t(".published") %>
          </label>
        </div>
        <div class='form-group'>
          <label for='note_published_at'><%= t(".publish_at") %></label>
          <%= text_field 'note', 'published_at', {:class => 'form-control datepicker'} %>
        </div>
        <div class='form-group'>
          <%= link_to(t(".cancel"), {action: 'index'}) %>
          <%= t(".or") %>
          <%= submit_tag(t(".publish"), class: 'btn btn-success') %>
        </div>
      </fieldset>
    <% end %>
  </div>

  <div class='col-md-8'>
    <table class="table table-striped">
      <%- if @notes.empty? %>
      <tr>
        <td colspan="2">
          <%= t(".no_notes") %>
        </td>
      </tr>
      <%- end %>

      <% for status in @notes %>
      <tr>
        <td>
          <%= h(status.body.strip_html.slice(0..140)) %>
          <%= show_actions status %>
        </td>
        <td>
          <%= author_link(status)%><br>
          <small><%= l(status.published_at) %></small>
        </td>
      </tr>
      <% end %>

      <%= display_pagination(@notes, 3, 'first', 'last')%>
    </table>
  </div>
</div>
