<div id="article-<%= article.id %>">
  <h2 class='page-header'><%= link_to_permalink(article,article.title) %></h2>
  <%= render 'articles/protected_article_content', { :article => article } %>
  <%= render 'articles/meta', article: article %>
  <div class='comments'>
    <%= render 'articles/comment_counter', article: article %>
  </div>
</div>
