<%= error_messages_for 'user' %>

<fieldset class='form-horizontal'>
  <legend><%= _("Account settings")%></legend>
  <div class='control-group'>
    <label class='control-label' for="user_login"><%= _("Login")%></label>
    <div class='controls'>
      <%= text_field('user', 'login', {:class => 'span5'}) %>
    </div>
  </div>
  <div class='control-group'>
    <label class='control-label' for="user_password"><%= _("Password")%></label>
    <div class='controls'>
      <%= password_field('user', 'password', {:class => 'span5'}) %>
    </div>
  </div>
  <div class='control-group'>
    <label class='control-label' for="user_password"><%= _("Password confirmation")%></label>
    <div class='controls'>
      <%= password_field('user', 'password_confirmation', {:class => 'span5'})  %>
    </div>
  </div>
  <div class='control-group'>
    <label class='control-label' for="user_email"><%= _("Email")%></label>
    <div class='controls'>
      <%= text_field('user', 'email', {:class => 'span5'})  %>
    </div>
  </div>
  <% if controller.controller_name == 'users' %>
  <div class='control-group'>
    <label class='control-label' for="user_profile"><%= _("Profile")%></label>
    <div class='controls'>
      <%=  select("user", "profile_id", @profiles.collect {|p| [ _(p.nicename), p.id ] }, { :include_blank => false }) %>
    </div>
  </div>
  <div class='control-group'>
    <label class='control-label' for="user_state"><%= _("User's status")%></label>
    <div class='controls'>
      <select name="user[state]">
        <option value="active" <%= 'selected' if @user.state == 'active' %>><%= _("Active")%></option>
        <option value="inactive" <%= 'selected' if @user.state == 'inactive'%>><%= _("Inactive")%></option>
      </select>
    </div>
  </div>
  <% end %>
</fieldset>

<fieldset class='form-horizontal'>
  <legend><%= _("Profile settings")%></legend>
  <div class='control-group'>
    <label class='control-label' for="user_firstname"><%= _("Firstname") %></label>
    <div class='controls'>
      <%= text_field('user', 'firstname', {:class => 'span5'}) %>
    </div>
  </div>
  <div class='control-group'>
    <label class='control-label' for="user_lastname"><%= _("Lastname") %></label>
    <div class='controls'>
      <%= text_field('user', 'lastname', {:class => 'span5'}) %>
    </div>
  </div>
  <div class='control-group'>
    <label class='control-label' for="user_nickname"><%= _("Nickname") %></label>
    <div class='controls'>
      <%= text_field('user', 'nickname', {:class => 'span5'}) %>
    </div>
  </div>
  <% unless @user.login.nil? %>
  <div class='control-group'>
    <label class='control-label' for="user_login"><%= _("Display Name")%></label>
    <div class='controls'>
      <select name="user[name]">
        <%= render_options_for_display_name %>
      </select>
    </div>
  </div>
  <% end %>
  <div class='control-group'>
    <label class='control-label'><%= _("Editor")%></label>
    <div class='controls'>
      <label class='radio' for="editor_0">
        <input type="radio" name="user[editor]" value="simple" id="editor_0" <%= 'checked="checked"' if @user.editor == 'simple' %>/>
        <%= _("Use simple editor")%>
      </label>
      <label class='radio' for="editor_2">
        <input type="radio" name="user[editor]" value="visual" id="editor_2" <%= 'checked="checked"' if @user.editor == 'visual' %>/>
        <%= _("Use visual rich editor")%>
      </label>
    </div>
  </div>
  <div class='control-group'>
    <label class='control-label' for="text_filter"><%= _("Article filter")%></label>
    <div class='controls'>
      <select name="user[text_filter_id]" id="text_filter">
        <%= options_for_select text_filter_options_with_id, @user.text_filter.id %>
      </select>
    </div>
  </div>
</fieldset>

<fieldset class='form-horizontal'>
  <legend><%= _("Notifications")%></legend>
  <div class='control-group'>
    <label class='control-label'><%= _("Notifications") %></label>
    <div class='controls'>
      <label class='checkbox' for="user_notify_via_email">
        <%= check_box 'user', 'notify_via_email'  %>
        <%= _("Send notification messages via email")%>?
      </label>
      <label class='checkbox' for="user_notify_on_new_articles">
        <%= check_box 'user', 'notify_on_new_articles'  %>
        <%= _("Send notification messages when new articles are posted")%>?
      </label>
      <label class='checkbox' for="user_notify_on_comments">
        <%= check_box 'user', 'notify_on_comments'  %>
        <%= _("Send notification messages when comments are posted")%>?
      </label>
    </div>
  </div>
</fieldset>


<% unless controller.controller_name == 'users'%>
<fieldset class='form-horizontal'>
  <legend><%= _("Contact options")%></legend>
  <div class='control-group'>
    <label class='control-label' for="user_url"><%= _("Your site")%></label>
    <div class='controls'>
      <%= text_field('user', 'url', {:class => 'span5'}) %>
      <label class='checkbox' for='user_show_url'>
        <%= check_box 'user', 'show_url' %>
        <%= _("display URL on public profile") %>
      </label>
      </div>
    </div>
    <div class='control-group'>
      <label class='control-label' for="user_msn"><%= _("Your MSN")%></label>
      <div class='controls'>
        <%= text_field('user', 'msn', {:class => 'span5'}) %>
        <label class='checkbox' for='user_show_msn'>
          <%= check_box 'user', 'show_msn' %>
          <%= _("display MSN ID on public profile") %>
        </label>
      </div>
    </div>
    <div class='control-group'>
      <label class='control-label' for="user_yahoo"><%= _("Your Yahoo ID")%></label>
      <div class='controls'>
        <%= text_field('user', 'yahoo', {:class => 'span5'}) %>
        <label class='checkbox' for='user_show_yahoo'>
          <%= _("display Yahoo! ID on public profile") %>
          <%= check_box 'user', 'show_yahoo' %>
        </label>
      </div>
    </div>
    <div class='control-group'>
      <label class='control-label' for="user_jabber"><%= _("Your Jabber ID")%></label>
      <div class='controls'>
        <%= text_field('user', 'jabber', {:class => 'span5'}) %>
        <label class='checkbox' for='user_show_jabber'>
          <%= check_box 'user', 'show_jabber' %>
          <%= _("display Jabber ID on public profile") %>
        </label>
      </div>
    </div>
    <div class='control-group'>
      <label class='control-label' for="user_aim"><%= _("Your AIM id")%></label>
      <div class='controls'>
        <%= text_field('user', 'aim', {:class => 'span5'}) %>
        <label class='checkbox' for='user_show_aim'>
          <%= check_box 'user', 'show_aim' %>
          <%= _("display AIM ID on public profile") %>
        </label>
      </div>
    </div>
    <div class='control-group'>
      <label class='control-label' for="user_twitter"><%= _("Your Twitter username")%></label>
      <div class='controls'>
        <%= text_field('user', 'twitter', {:class => 'span5'}) %>
        <label class='checkbox' for='user_show_twitter'>
          <%= check_box 'user', 'show_twitter' %>
          <%= _("display Twitter on public profile") %>
        </label>
      </div>
    </div>
    <div class='control-group'>
      <label class='control-label' for="user_description"><%= _("Tell us more about you")%></label>
      <div class='controls'>
        <%= text_area('user', 'description', {:class => 'span5', :rows => 5}) %>
      </div>
    </div>  
  </fieldset>
  <% end %>

  <div class='form-actions'>
    <%= cancel_or_save %>
  </div>