<%= error_messages_for 'user' %>

<div class='ui-accordion ui-widget ui-helper-reset ui-accordion-icons settings'>
  <h3 class='ui-accordion-header ui-helper-reset ui-state-default ui-corner-top'><span class='ui-icon ui-icon-person'> </span><%= _("Account settings")%></h3>
  <div class='ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active'>
    <div class='setting'>
      <label class="float" for="user_login"><%= _("Login")%></label>
      <p class='input_text'>
        <%= text_field('user', 'login', {:class => 'medium'}) %>
      </p>
    </div>
    <div class='setting clear'>
      <label class="float" for="user_password"><%= _("Password")%></label>
      <p class='input_text'>
        <%= password_field('user', 'password', {:class => 'medium'}) %>
      </p>
    </div>
    <div class='setting clear'>
      <label class="float" for="user_password"><%= _("Password confirmation")%></label>
      <p class='input_text'>
        <%= password_field('user', 'password_confirmation', {:class => 'medium'})  %>
      </p>      
    </div>
    <div class='setting clear'>
      <label class="float" for="user_email"><%= _("Email")%></label> 
      <p class='input_text'>
        <%= text_field('user', 'email', {:class => 'medium'})  %>
      </p>
    </div>

    <% if controller.controller_name == 'users' %>
    <div class='setting clear'>
      <label class="float" for="user_profile"><%= _("Profile")%></label>
      <p class='input_text'>
        <%=  select("user", "profile_id", @profiles.collect {|p| [ _(p.nicename), p.id ] }, { :include_blank => false }) %>
      </p>
    </div>
    <div class='setting clear'>
      <label class='float' for="user_state"><%= _("User's status")%></label>
      <p class='input_text'>
        <select name="user[state]">
          <option value="active" <%= 'selected' if @user.state == 'active' %>><%= _("Active")%></option>
          <option value="inactive" <%= 'selected' if @user.state == 'inactive'%>><%= _("Inactive")%></option>
        </select>
      </p>
    </div>
    <% end %>
  </div>
</div>

<div class='ui-accordion ui-widget ui-helper-reset ui-accordion-icons settings'>
  <h3 class='ui-accordion-header ui-helper-reset ui-state-default ui-corner-top'><span class='ui-icon ui-icon-person'> </span><%= _("Profile Settings")%></h3>
  <div class='ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active'>
    <div class='setting'>
      <label class="float" for="user_firstname"><%= _("Firstname") %></label>
      <p class='input_text'>
        <%= text_field('user', 'firstname', {:class => 'medium'}) %>
      </p>      
    </div>
    <div class='setting clear'>
      <label class="float" for="user_lastname"><%= _("Lastname") %></label>
      <p class='input_text'>
        <%= text_field('user', 'lastname', {:class => 'medium'}) %>
      </p>      
    </div>
    <div class='setting clear'>
      <label class="float" for="user_nickname"><%= _("Nickname") %></label>
      <p class='input_text'>
        <%= text_field('user', 'nickname', {:class => 'medium'}) %>
      </p>      
    </div>
    <% unless @user.login.nil? %>
    <div class='setting clear'>
      <label class="float" for="user_login"><%= _("Display Name")%></label>
      <p class='input_text'>
        <select name="user[name]">
          <%= render_options_for_display_name %>
        </select>
      </p>
    </div>
    <% end %>
    <div class='setting clear'>
      <label class="float"><%= _("Editor")%></label>
      <p class='input_text'>
        <input type="radio" name="user[editor]" value="simple" id="editor_0" <%= 'checked="checked"' if @user.editor == 'simple' %>/>
        <label for="editor_0"><%= _("Use simple editor")%></label><br />
        <input type="radio" name="user[editor]" value="visual" id="editor_2" <%= 'checked="checked"' if @user.editor == 'visual' %>/>
        <label for="editor_2"><%= _("Use visual rich editor")%></label>
      </p>      
    </div>
    <div class='setting clear'>
      <label class="float" for="text_filter"><%= _("Article filter")%></label>
      <p class='input_text'>
        <select name="user[text_filter_id]" id="text_filter">
          <%= options_for_select text_filter_options_with_id, @user.text_filter.id %>
        </select>
      </p>      
    </div>
  </div>
</div>

<div class='ui-accordion ui-widget ui-helper-reset ui-accordion-icons settings'>
  <h3 class='ui-accordion-header ui-helper-reset ui-state-default ui-corner-top'><span class='ui-icon ui-icon-person'> </span><%= _("Notifications")%></h3>
  <div class='ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active'>
    <div class='setting'>
      <label class="float" for="user_notify_via_email"><%= _("Send notification messages via email")%>?</label>
      <p class='input_text'>
        <%= check_box 'user', 'notify_via_email'  %>
      </p>
    </div>
    <div class='setting clear'>
      <label class="float" for="user_notify_on_new_articles"><%= _("Send notification messages when new articles are posted")%>?</label>
      <p class='input_text'>
        <%= check_box 'user', 'notify_on_new_articles'  %>
      </p>      
    </div>
    <div class='setting clear'>
      <label class="float" for="user_notify_on_comments"><%= _("Send notification messages when comments are posted")%>?</label>
      <p class='input_text'>
        <%= check_box 'user', 'notify_on_comments'  %>
      </p>  
    </div>
  </div>
</div>

<% unless controller.controller_name == 'users'%>
<div class='ui-accordion ui-widget ui-helper-reset ui-accordion-icons settings'>
  <h3 class='ui-accordion-header ui-helper-reset ui-state-default ui-corner-top'><span class='ui-icon ui-icon-person'> </span><%= _("Contact Options")%></h3>
  <div class='ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active'>
    <div class='setting'>
      <label class="float" for="user_url"><%= _("Your site")%></label>
      <p class='input_text'>
        <%= text_field('user', 'url', {:class => 'medium'}) %>
        <%= check_box 'user', 'show_url' %> 
        <label for='user_show_url'><%= _("display url on public profile") %></label>
      </p>      
    </div>
    <div class='setting clear'>
      <label class="float" for="user_msn"><%= _("Your MSN")%></label>
      <p class='input_text'>
        <%= text_field('user', 'msn', {:class => 'medium'}) %>
        <%= check_box 'user', 'show_msn' %> 
        <label for='user_show_msn'><%= _("display MSN ID on public profile") %></label>
      </p>      
    </div>
    <div class='setting clear'>
      <label class="float" for="user_yahoo"><%= _("Your Yahoo ID")%></label>
      <p class='input_text'>
        <%= text_field('user', 'yahoo', {:class => 'medium'}) %>
        <%= check_box 'user', 'show_yahoo' %> 
        <label for='user_show_yahoo'><%= _("display Yahoo! ID on public profile") %></label>
      </p>      
    </div>
    <div class='setting clear'>
      <label class="float" for="user_jabber"><%= _("Your Jabber ID")%></label>
      <p class='input_text'>
        <%= text_field('user', 'jabber', {:class => 'medium'}) %>
        <%= check_box 'user', 'show_jabber' %> 
        <label for='user_show_jabber'><%= _("display Jabber ID on public profile") %></label>
      </p>      
    </div>
    <div class='setting clear'>
      <label class="float" for="user_aim"><%= _("Your AIM id")%></label>
      <p class='input_text'>
        <%= text_field('user', 'aim', {:class => 'medium'}) %>
        <%= check_box 'user', 'show_aim' %> 
        <label for='user_show_aim'><%= _("display AIM ID on public profile") %></label>
      </p>      
    </div>
    <div class='setting clear'>
      <label class="float" for="user_twitter"><%= _("Your Twitter username")%></label>
      <p class='input_text'>
        <%= text_field('user', 'twitter', {:class => 'medium'}) %>
        <%= check_box 'user', 'show_twitter' %> 
        <label for='user_show_twitter'><%= _("display twitter on public profile") %></label>
      </p>      
    </div>
    <div class='setting clear'>
      <label class='float' for="user_description"><%= _("Tell us more about you")%></label>
      <p class='input_text'>
        <%= text_area('user', 'description', {:class => 'medium', :rows => 5}) %>
      </p>      
    </div>
  </div>
</div>
<% end %>

<%= cancel_or_save %>
