<div class="list">
    <tr>
      <th><%= _("Author")%></th>
      <th><%= _("Email")%></th>
      <th><%= _("Body")%></th>
      <th><%= _("IP")%></th>
      <th><%= _("Posted date")%></th>
	  <th><%= _("Status")%></th>
	  <th colspan="3"><%= _("Action") %></th>
    </tr>
  

  <h4><%= link_to h(user.login), {:action => "show", :id => user.id} %></h4>
        <p><%= _("Number of Articles")%>: <%= Article.count :conditions => "user_id = #{user.id}"  %></p>
        <p><%= _("Number of Comments")%>: <%= Comment.count :conditions => "user_id = #{user.id}"  %></p>
        <p><%= _("Notified") %> <% if user.notify_via_email? %> <%= _("via email") %> <% end %>:
          <%= "new articles" if user.notify_on_new_articles? %>
          <%= "comments" if user.notify_on_comments? %></p>
  <p><%= link_to _('Edit'), :action => 'edit', :id => user.id  %><strong> |</strong> <%= link_to _('Delete'), :action => 'destroy', :id => user.id %></p>
</div>
