<% content_for :page_heading do %>
<h2>
  <i class="glyphicon glyphicon-large glyphicon-user"></i>
  <%= t(".users") %>
  <%= link_to(t(".new_user"), new_admin_user_path, id: 'dialog-link', class: 'btn btn-info pull-right') %>
</h2>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t(".login") %></th>
      <th><%= t(".name") %></th>
      <th><%= t(".email") %></th>
      <th><%= t(".profile") %></th>
      <th><%= t(".articles") %></th>
      <th><%= t(".comments") %></th>
      <th><%= t(".state") %></th>
    </tr>
  </thead>
  <% for user in @users %>
    <tr>
      <td>
        <%= link_to user.login, author_path(id: user.login) %>
        <div class='action'>
          <%= link_to(content_tag(:span, '', class: 'glyphicon glyphicon-pencil'), edit_admin_user_path(user), class: 'btn btn-primary btn-xs btn-action' ) %>
          <%= link_to(content_tag(:span, '', class: 'glyphicon glyphicon-link'), author_path(id:user.login), class: 'btn btn-success btn-xs btn-action' ) %>
        </div>
      </td>
      <td><%= user.nickname %></td>
      <td><%= mail_to user.email, user.email %></td>
      <td><%= t("profile.#{user.profile.label}") %></td>
      <td><%= Article.where("user_id = #{user.id}").count %></td>
      <td><%= Comment.where("user_id = #{user.id}").count %></td>
      <td><%= t("user.status.#{user.state}") %></td>
    </tr>
  <% end %>
  <%= display_pagination(@users, 7) %>
</table>
