  <% @page_heading = _('Users') %>

  <% content_for('tasks') do %>
    <%= task_show _('Show this user'), @user.id %>
  <% end %>

  <h3><%= _("Really delete user")%> "<%= @user.name || @user.login %>" ?</h3>
  <br/>


  <% form_tag do %>
  <%= hidden_field "user", "id" %>
  <%= confirm_delete(_("Yes") + "...") %>
  <% end %>
