<%= render_void_table(@articles.size, 9)  %>
<% for article in @articles %>
<tr <%= alternate_class %>>
  <td> <%= link_to_permalink article, h(article.title) %></td>
  <td><%= article.categories.map { |c| link_to h(c.name), {:controller => 'content', :action => 'list', "search[category]" => c.id}}.join(", ") %></td>
  <td><%= link_to _(pluralize(article.comments.size, 'comments')), :controller => '/admin/comments', :article_id => article.id, :action => 'list' %></td>
  <td><%= article.published_at.strftime("%d/%m/%Y at %H:%M") %></td>
  <td><%= author_link(article)%></td>
  <td class="operation"><%= (article.published?) ? image_tag('admin/checked.png', :alt => "online", :title => _("Online")) : image_tag('admin/cancel.png', :alt => "offline", :title => _("Offline")) %></td>
  <td class="operation"><%= link_to_show article %></td>
  <td class="operation"><%= link_to_edit_with_profiles article %></td>
  <td class="operation"><%= link_to_destroy_with_profiles article %></td>
</tr>
<% end %>
<tr>
  <td class="paginate" colspan="9">
    <%= render :partial => 'admin/content/pages', :object => @articles_pages -%>
  </td>
</tr>
</tbody>
</table>

