<%= render_void_table(@articles.size, 7)  %>
<% for article in @articles %>
<tr <%= alternate_class %>>
  <td class='article-title'>
    <strong><%= link_to_edit h(article.title), article %></strong>
    <%= show_actions article %>
  </td>
  <td><%= article.categories.map { |c| link_to h(c.name), {:controller => 'content', :action => 'index', "search[category]" => c.id}}.join(", ") %></td>
  <td><%= author_link(article)%></td>
  <td>
    <%= format_date article.published_at %><br />
    <%= published_or_not article %>
  </td>
  <td><%= (article.allow_comments?) ? link_to(article.comments.ham.size.to_s, :controller => '/admin/feedback', :id => article.id, :action => 'article') : '-' %></td>
</tr>
<% end %>
<%= display_pagination(@articles, 5, 'first', 'last')%>
