<% if @articles.empty? %>
  <tr>
    <td colspan="7">
      <%= t('.no_articles') %>
    </td>
  </tr>
<% end %>
<% for article in @articles %>
  <tr>
    <td>
      <% if article.published %>
        <%= link_to_permalink(article, article.title, nil, 'published')%>
      <% else %>
        <%= link_to(article.title, {controller: '/articles', action: "preview", id: article.id}, {class: 'unpublished', target: '_new'}) %>
      <% end %>
      <%= show_actions article %>
    </td>
    <td>
      <%= author_link(article)%><br>
      <small><%= l(article.published_at) %></small>
    </td>
    <td>
      <%= (article.allow_comments?) ? link_to("#{article.comments.ham.size.to_s} <i class='glyphicon glyphicon-comment'></i>".html_safe, controller: '/admin/feedback', id: article.id, action: 'article') : '-' %></td>
  </tr>
<% end %>
<%= display_pagination(@articles, 5, 'first', 'last')%>