<input type="hidden" name="current_editor" id="current_editor" value="<%= current_user.editor %>" />
<input type="hidden" name="user_textfilter" id="user_textfilter" value="<%= current_user.text_filter_name %>" />
<div id="autosave"></div>
<div id="article_keywords_auto_complete" class="auto_complete"></div>

<%= error_messages_for 'article' %>

<div id='editor-right'>
  <div class='widget-container'>
    <h3 class='dark'><span class='ui-icon ui-icon-pencil'> </span><%= _("Publish settings") %></h3>
    <div class='widget-content'>
      <%= check_box 'article', 'allow_comments' %>
      <label for="article_allow_comments"><%= _("Allow comments") %></label><br />
      <%= check_box 'article', 'allow_pings' %>
      <label for="article_allow_pings"><%= _("Allow trackbacks") %></label><br />
      <%= check_box 'article', 'published'  %>
      <label for="article_published"><%= _("Published") %></label><br />
      <label for="article_password"><%= _("Password:") %></label><br />
      <%= get_post_types %><br />
      <%= password_field :article, :password, :class => 'small' %>
      <p class='right'>
        <input id='save_draft' type="submit" value="<%= _('Save as draft') %>" name="article[draft]" class='ed_button' />
        <%= save( _("Publish") + " &raquo;") %><br />
        <%= link_to_destroy_with_profiles(@article) unless @article.id.nil? %>
        <%= link_to_destroy_draft @article %>
      </p>
      <span id='preview_link'><%= link_to(_("Preview"), {:controller => '/articles', :action => 'preview', :id => @article.id}, {:target => 'new'}) if @article.id %></span>
    </div>
  </div>

  <div class='widget-container'>
    <h3 class='dark'><%= _("Categories") %></h3>
    <%= render 'categories' %>
  </div>
</div>

<div id='editor-left'>
  <div class='settings'>
    <h2><label for="article_title"><%= _("Title") %></label></h2>
    <p class='input_text'>
      <%= text_field 'article', 'title', :class => 'large' %>
    </p>

    <%= render('images', { :images => @images}) unless @images.empty? %>

    <div id='editor-menu'>
      <label id="f" class='<%= "active" if current_user.editor == 'visual' %>'>
        <%= build_editor_link("Visual", 'insert_editor', 'fck', 'visual_editor', 'visual') %>
      </label>
      <label id="s" class='<%= "active" if current_user.editor == 'simple' %> '>
        <%= build_editor_link("HTML", 'insert_editor', 'simple', 'simple_editor', 'simple') %>
      </label>
    </div>

    <div id="editor">
      <div id='quicktags' style='<%= "display: none;" if current_user.editor == 'visual' %>'>
        <script type="text/javascript">edToolbar('article_body_and_extended');</script>
      </div>

      <div id ='visual_editor' <%= "style='display: none;'" if current_user.editor == 'simple'%> >
        <%= ckeditor_textarea('article', 'body_and_extended', {:class => 'large', :height => '300px', :rows => '20'}) if current_user.editor == 'visual' %>
      </div>

      <div id='simple_editor' class='input_text' <%= "style='display: none;'" if current_user.editor == 'visual'%> >
        <%= text_area('article', 'body_and_extended', {:class => 'large', :height => '300px', :rows => '20'}) if current_user.editor == 'simple' %>
        <%= render_macros(@macros) if current_user.editor == 'simple' %>
      </div>
    </div>

    <h3><label for="article_keywords"><%= _("Tags") %></label></h3>
    <p class='input_text'>
      <%= text_field 'article', 'keywords', {:autocomplete => 'off', :class => 'large'} %>
    </p>
    <%= auto_complete_field 'article_keywords', { :url => { :action => "auto_complete_for_article_keywords"}, :tokens => ','}%>
  </div>

  <div class='widget-container'>
    <h3 class='dark'><span class='ui-icon ui-icon-pencil'> </span><%= _("Excerpt") %></h3>
    <div class='widget-content'>
      <p><%=_("Excerpts are posts summaries that are shown on your blog homepage only but won’t appear on the post itself") %></p>
      <%= text_area 'article', 'excerpt', {:height => '150', :class => 'large', :rows => '5'} %>
    </div>
  </div>

  <div class='widget-container'>
    <h3 class='dark'><span class='ui-icon ui-icon-pencil'> </span><%= _("Uploads") %></h3>
    <div class='widget-content'>
      <p>Uploads will be displayed as attachments in your RSS feed, but won't appear in your articles.</p>

      <ul id='attachments'>
        <%= render 'admin/content/attachment', { :attachment_num => 1, :hidden => false } -%>
      </ul>
    </div>
  </div>

  <div class='widget-container'>
    <h3 class='dark'><span class='ui-icon ui-icon-pencil'> </span><%= _("Post settings") %></h3>
    <div class='widget-content'>
      <div class='setting'>
        <label class='float'><%= _("Publish at") %></label>
        <div class='input_text'>
          <%= calendar_date_select 'article', 'published_at', {:class => 'medium'} %>
        </div>
      </div>
      <div class='setting clear'>
        <label class='float' for="article_permalink"><%= _("Permalink") %></label>
        <div class='input_text' id='permalink'>
          <%= text_field 'article', 'permalink', {:class => 'medium'} %>
        </div>
      </div>
    <div class='setting clear'>
      <label class='float' for="text_filter"><%= _("Article filter") %></label>
      <div class='input_text'>
        <select name="article[text_filter]" id="text_filter">
          <%= options_for_select text_filter_options, @article.text_filter %>
        </select>
      </div>
    </div>
  </div>
</div>
