<input type="hidden" name="current_editor" id="current_editor" value="<%= current_user.editor %>" />
<input type="hidden" name="user_textfilter" id="user_textfilter" value="<%= current_user.text_filter.name %>" />
<div id="autosave"></div>
<div id="article_keywords_auto_complete" class="auto_complete"></div>

<%= error_messages_for 'article' %>
<div id='editor-right'>
  <h3>Publish settings</h3>
  <div id='publishing'>
    <%= check_box 'article', 'allow_comments' %>
    <label for="article_allow_comments"><%= _("Allow comments") %></label><br />
    <%= check_box 'article', 'allow_pings' %>
    <label for="article_allow_pings"><%= _("Allow trackbacks")%></label><br />
    <%= check_box 'article', 'published'  %>
    <label for="article_published"><%= _("Published")%></label><br />
    <p class='right'>
      <input id='save_draft' type="submit" value="<%= _('Save as draft') %> &raquo;" name="article[draft]"/>&nbsp;
      <%= save( _("Publish") + " &raquo;") %><br />
      <%= link_to_destroy_with_profiles(@article) unless @article.id.nil? %>
      <%= link_to_destroy_draft @article %>
    </p>
    <span id='preview_link'><%= link_to(_("Preview"), {:controller => '/articles', :action => 'preview', :id => @article.id}, {:target => 'new'}) if @article.id %></span>
  </div>
  <div class='editor_bottom'>
    <div class='editor_bottom_right'></div>
  </div>
  <div id="categories">
    <h3><%= _("Categories") %></h3>
    <%- Category.all.each do |cat| %>
      <%= check_box_tag('categories[]', cat.id, (@article.categories.map(&:id).include? cat.id), :id => "category_#{h(cat.id)}") %>
      <%= label_tag "category_#{h(cat.id)}", h(cat.name) %><br />
    <% end -%>
  </div>
  <%= render :partial => 'drafts'%>
</div>

<div id='editor-left'>
  <div>
    <h2><label for="article_title"><%= _("Title")%></label></h2>
    <p class='input_text_title'>
      <%= text_field 'article', 'title', :class => 'large title' %>
    </p>
  </div>
  <div id='editor-menu'>
    <span id="f" class="<%= 'active' if current_user.editor == 'visual' %>">
      <%= build_editor_link("Visual", 'insert_editor', 'fck', 'visual_editor', 'visual') %>
    </span>
    <span id="s" class="<%= 'active' if current_user.editor == 'simple' %>">
      <%= build_editor_link("HTML", 'insert_editor', 'simple', 'simple_editor', 'simple') %>
    </span>
  </div>
  <div id="editor">
    <a href="javascript:" class="carousel-control" rel="prev">Previous</a>
    <div id="carousel-wrapper">
        <div id="carousel-content">
          <% @images.each do |image| %>
            <div class="slide">
              <%= show_thumbnail_for_editor(image) %>
            </div>
          <% end %>
        </div>
    </div>
    <a href="javascript:" class="carousel-control" rel="next">Next</a>
    <script type='text/javascript'>
    new Carousel('carousel-wrapper', $$('#carousel-content .slide'), $$('a.carousel-control', 'a.carousel-jumper'), {duration: 0.4, circular: false});
    </script>
    <div id='quicktags' style='<%= "display: none;" if current_user.editor == 'visual' %>'>
      <script type="text/javascript">edToolbar('article_body_and_extended');</script>
    </div>
    <div id='<%= alternate_editor %>_editor' style='display: none;'></div>
    <div id='<%= "#{current_user.editor}_editor" %>'>
      <%= t_textarea('article', 'body_and_extended', {:height => '300px', :class => 'large', :height => '300px', :rows => '15'}) %>
      <%= render_macros(@macros) if current_user.editor == 'simple' %>
    </div>
  </div>
  <div class='editor_bottom'>
    <div class='editor_bottom_right'></div>
  </div>
  <div>
    <h3><label for="article_keywords"><%= _("Tags") %></label></h3>
    <p class='input_text_title'>
      <%= text_field 'article', 'keywords', {:autocomplete => 'off', :class => 'large small'} %>
    </p>
    <%= auto_complete_field 'article_keywords', { :url => { :action => "auto_complete_for_article_keywords"}, :tokens => ','}%>
  </div>

  <h3><label for='article_excerpt'><%= _("Excerpt") %></label></h3>
  <div class='blue_block'>
    <%= t_textarea 'article', 'excerpt', {:height => '150', :class => 'large', :rows => '4'} %>
    <p><%=_("Excerpts are posts summaries that are shown on your blog homepage only but won’t appear on the post itself")%></p>
  </div>

  <h3><label class="block"><%= _("Uploads") %></label></h3>
  <div class='blue_block'>
    Uploads will be displayed as attachments in your RSS feed, but won't appear in your articles.
    <ul id='attachments'>
      <%= render :partial => 'admin/content/attachment', :locals => { :attachment_num => 1, :hidden => false } -%>
    </ul>
  </div>

  <h3><label class="block"><%= _("Post settings") %></label></h3>
  <div class='blue_block'>
    <div>
      <label class='float'><%= _("Publish at")%></label>
      <p class='input_text_title'>
        <%= calendar_date_select 'article', 'published_at' %>
      </p>
    </div>
    <div>
      <label class='float' for="article_permalink"><%= _("Permalink") %></label>
      <p class='input_text_title' id='permalink'>
        <%= text_field 'article', 'permalink', {:class => 'small medium'} %>
      </p>
    </div>
    <div>
      <label class='float' for="text_filter"><%= _("Article filter")%></label>
      <p class='input_text_title'>
        <select name="article[text_filter]" id="text_filter">
          <%= options_for_select text_filter_options, @article.text_filter %>
        </select>
      </p>
    </div>
  </div>

</div>
