<%= error_messages_for 'article' %>
<!--[form:articles]-->
<div id="article_keywords_auto_complete" class="auto_complete"></div>
<ul class="set admin">
  <li>
    <label for="article_title" class="block title"><%= _("Title")%></label>
    <%= text_field 'article', 'title', :class => 'large' %>
  </li>
  <li>
    <label for="article_body" class="block content"><%= _("Content")%></label>
    <%= t_textarea 'article', 'body', {:height => '300', :class => 'large'} %>
  </li>
  <li>
    <label class="block r" for="article_extended">
      <%= link_to_function _("Add Extended Content") + " (+/-)",update_page { |page| page.visual_effect(:toggle_blind, "extended", :duration => 0.2) } %>
    </label>
    <ul>
      <li id="extended" <%= "style='display: none;'" if @article.extended.blank? %>>
        <%= t_textarea 'article', 'extended', :height => '450', :class => 'large' %>
      </li>
    </ul>
  </li>
  <li style="margin-bottom: 20px;">
    <label class="block tags" for="article_keywords"><%= _("Tags") %></label>
        <%= text_field 'article', 'keywords', {:autocomplete => 'off', :class => 'large'} %>
        <%= auto_complete_field 'article_keywords', { :url => { :action => "auto_complete_for_article_keywords"}, :tokens => ','}%>
  </li>
  <li class="paginate l">
    <label for="categories" class="block">
      <%= link_to_function _("Categories") + " (+/-)",update_page { |page| page.visual_effect(:toggle_blind, "categories", :duration => 0.2) } %>
    </label>
    <select id="categories" class="large" name="categories[]" multiple="multiple" size="10" <%= "style='display:none;'" if @article.categories.blank? %>>
      <%= options_from_collection_for_select(@categories, "id", "name", @selected) %>
    </select>
  </li>
  <li class="paginate l">
    <label class="block">
      <%= link_to_function _("Uploads") + " (+/-)",update_page { |page| page.visual_effect(:toggle_blind, "uploads", :duration => 0.2) } %>
    </label>
    <ul>
      <li id="uploads" <%= 'style="display: none"' unless @article.resources.count > 0 %>>
        <%= render :partial => 'admin/content/attachment', :locals => { :attachment_num => 1, :hidden => false } -%>
      </li>
    </ul>
  </li>
  <li class="paginate l">
    <label class="block">
      <%= link_to_function _("Post settings") + " (+/-)",update_page { |page| page.visual_effect(:toggle_blind, "publishing_options", :duration => 0.2) } %>
    </label>
    <ul>
      <li id="publishing_options" <%= "style='display: none;'" unless @article.published.blank? %> >
        <ul>
          <li>
            <label for="article_published_at" class="float"><%= _("Publish at")%>:</label>
            <%= datetime_select 'article', 'published_at', :include_blank => true  %>            
          </li>
          <li>
            <label for="article_published" class="float"><%= _("Online")%>:</label>
            <%= check_box 'article', 'published'  %>
          </li>
          <li>
            <label for="article_permalink" class="float"><%= _("Permalink") %></label>
            <%= text_field 'article', 'permalink' %>
          </li>     
          <li class="checkbox">
            <label for="article_allow_comments" class="float"><%= _("Allow comments") %>: </label>
            <%= check_box 'article', 'allow_comments'  %>
          </li>
          <li class="checkbox">
            <label for="article_allow_pings" class="float"><%= _("Allow trackbacks")%>: </label>
            <%= check_box 'article', 'allow_pings'  %>
          </li>
        </ul>
        <%= hidden_field_tag 'text_filter', this_blog.text_filter %>
      </li>
    </ul>
  </li>
</ul>
<!--[eoform:articles]-->
