<%= error_messages_for 'article' %>
<div id="autosave"></div>
<div id="article_keywords_auto_complete" class="auto_complete"></div>
<ul class="set admin">
  <li>
    <label for="article_title" class="block title"><%= _("Title")%></label>
    <%= text_field 'article', 'title', :class => 'large' %>
  </li>
  <li>
    <div style="float: right; width: 230px;">
      <label class="block content"><%= _("Categories") %></label>
      <p style="height: 230px; overflow-y: scroll; border: #ddd 1px solid">
        <%= checkboxes_from_collection(@categories, "id", "name", @selected) %>        
      </p>
      <p class="paginate r paginate_1">
        <%= link_to_destroy_draft @article %>
        <input type="submit" name="article[draft]" class="submit" value="<%= _('Save as draft')%> &raquo;" />
        <%= save( _("Publish") + " &raquo;") %>
        <%= link_to_destroy_with_profiles @article%>
      </p>
    </div>
    <label for="article_body" class="block content"><%= _("Content")%></label>
    <%= t_textarea 'article', 'body', {:height => '300', :class => 'medium'} %>
  </li>
  <li style="margin-bottom: 20px;">
    <label class="block tags" for="article_keywords"><%= _("Tags") %></label>
    <%= text_field 'article', 'keywords', {:autocomplete => 'off', :class => 'large'} %>
    <%= auto_complete_field 'article_keywords', { :url => { :action => "auto_complete_for_article_keywords"}, :tokens => ','}%>
  </li>
</ul>

<ul class="admin set">
  <li class="paginate l paginate_1">
    <label class="block">
      <%= link_to_function _("Uploads") + " (+/-)",update_page { |page| page.visual_effect(:toggle_blind, "attachments", :duration => 0.2) } %>
    </label>
    <ul id="attachments" <%= 'style="display: none"' unless @article.resources.count > 0 %>>
      <%= render :partial => 'admin/content/attachment', :locals => { :attachment_num => 1, :hidden => false } -%>
    </ul>
  </li>

  <li class="paginate l paginate_1">
    <label class="block">
      <%= link_to_function _("Post settings") + " (+/-)",update_page { |page| page.visual_effect(:toggle_blind, "publishing_options", :duration => 0.2) } %>
    </label>
    <ul id="publishing_options" <%= "style='display: none;'" unless @article.published.blank? %>>
      <li>
        <label class="float"><%= _("Publish at")%>:</label>
        <%= datetime_select 'article', 'published_at', :include_blank => true  %>            
      </li>
      <li class="checkbox">
        <label for="article_published" class="float"><%= _("Online")%>:</label>
        <%= check_box 'article', 'published'  %>
      </li>
      <li>
        <label for="article_permalink" class="float"><%= _("Permalink") %></label>
        <span id="permalink"><%= text_field 'article', 'permalink' %></span>
      </li>     
      <li class="checkbox">
        <label for="article_allow_comments" class="float"><%= _("Allow comments") %>: </label>
        <%= check_box 'article', 'allow_comments'  %>
      </li>
      <li class="checkbox">
        <label for="article_allow_pings" class="float"><%= _("Allow trackbacks")%>: </label>
        <%= check_box 'article', 'allow_pings'  %>
        <%= hidden_field_tag 'text_filter', this_blog.text_filter %>
      </li>
    </ul>
  </li>
</ul>

<% if this_blog.editor == 0 %>
<%= hidden_field_tag 'id', @article.id unless @article.id.nil? %>
<%   #      :update => 'autosave', %>
<%= observe_form "article_form",
:frequency => 60,
:url => { :action => "autosave" }  %>
<% end %>
