<h4><%= _("Resources attached to this article")%></h4>
<% if @article.resources.count > 0 %>
  <ul>
  <% for resource in @article.resources %>
    <li><%= link_to_remote "- #{resource.upload_url}", :url => { :action => "resource_remove", :id => @article.id, :resource_id => resource.id}, :update => 'resources' %></li>
  <% end %>
  </ul>
<% elsif %>
  <p><%= _("No resources are currently attached")%>.</p>
<% end %>

<h4><%= _("You can associate the following resources")%></h4>
<ul>	
<% for resource in @resources - @article.resources %>
  <li><%= link_to_remote "+ #{resource.upload_url}", :url => { :action => "resource_add", :id => @article.id, :resource_id => resource.id}, :update => 'resources' %></li>
<% end %>
</ul>