  <% @page_heading = _('Articles') %>

  <% content_for('tasks') do %>
    <%= task_overview %>
  <% end %>

  <p><%= _("Are you sure you want to delete this article")%> ( <%=h @article.title -%> )?</p>
  <% form_tag :controller => '/admin/content', :action => 'destroy' do %>
  <%= hidden_field_tag "id", @article.id %>
  <%= confirm_delete(_("Delete this article")) %>
  <% end %>
