<% @page_heading = _('Manage articles') + content_tag(:div, link_to(_("New Article"), {:controller => 'content', :action => 'new'}, :id => 'dialog-link', :class => 'btn info'), :class => 'pull-right') %>

<%= form_remote_tag  :url      => {:action => 'index'},
  :method   => :get,
  :name     => 'article',
  :update   => {:success => 'articleList'},
  :before   => "Element.show('spinner')",
  :complete => "Element.hide('spinner')" \
  do %>

<table class="zebra-striped clearfix">
    <tr class='noborder'>
      <td colspan=5>
        <input id="search" type="text" name="search[searchstring]" class='large' />
        <%= submit_tag(_("Search"), {:class => 'btn'}) %>
        <span id='spinner' style="display:none;"><%= image_tag('spinner.gif') %></span>
      </td>
	 </tr>
   <tr class='noborder'>
      <td>
        <select name="search[state]">
          <option value='no_draft'><%= _("All articles") %></option>
          <option value='published'><%= _("Published") %></option>
          <option value='pending'><%= _("Publication pending") %></option>
          <option value='drafts'><%= _("Drafts") %></option>
          <option value='withdrawn'><%= _("Withdrawn") %></option>
        </select>
      </td>
      <td><%= collection_select_with_current('search', 'category', Category.all, "id", "name", @search[:category].to_i, true)
      %></td>
      <td><%= collection_select_with_current(:search, :user_id, User.find(:all), "id", "name", @search[:user_id].to_i, true) %></td>
      <td>
        <%= collection_select_with_current(:search, :published_at, Article.find_by_published_at, "publication", "publication", @search[:published_at], true) %>
      </td>
      <td><input type="submit" value='<%= _("Filter") %>' class='btn' />
    </tr>
    <tr>
      <th class='first'><%= _("Title") %></th>
      <th><%= _("Categories") %></th>
      <th><%= _("Author")%></th>
      <th><%= _("Date") %></th>
      <th class='last'><%= _("Feedback")%></th>
    </tr>    
    <%= render 'article_list', { :articles => @articles } -%>
</table>
<%end%>
