<% @page_heading = _('Manage articles') + content_tag(:div, link_to(_("New Article"), {:controller => 'content', :action => 'new'}, :id => 'dialog-link', :class => 'btn btn-info'), :class => 'pull-right') %>

<%= form_remote_tag  \
  :url      => {:action => 'index'},
  :method   => :get,
  :name     => 'article',
  :update   => {:success => 'articleList'},
  :before   => "Element.show('spinner')",
  :complete => "Element.hide('spinner')" \
  do %>

<table class="table table-striped">
  <thead>
    <tr class='noborder'>
      <td colspan=5>
        <span class="input-append">
          <input id="search" type="text" name="search[searchstring]" class='large' />
          <%= submit_tag(_("Search"), {:class => 'btn'}) %>
          <span id='spinner' style="display:none;"><%= image_tag('spinner.gif') %></span>
        </span>
      </td>
	 </tr>
   <tr class='noborder'>
      <td>
        <select name="search[state]">
          <option value=''><%= _("All articles") %></option>
          <option value='published'><%= _("Published") %></option>
          <option value='pending'><%= _("Publication pending") %></option>
          <option value='drafts'><%= _("Drafts") %></option>
          <option value='withdrawn'><%= _("Withdrawn") %></option>
        </select>
      </td>
      <td><%= select_tag('search[category]', options_from_collection_for_select(Category.all, 'id', 'name'), {prompt: _("Select a category")}) %></td>
      <td><%= select_tag('search[user_id]', options_from_collection_for_select(User.all, 'id', 'name'), {prompt: _("Select an author")}) %></td>
      <td><%= select_tag('search[published_at]', options_for_select(Article.find_by_published_at), {prompt: _("Publication date")}) %></td>
      <td><input type="submit" value='<%= _("Filter") %>' class='btn' />
    </tr>
    <tr>
      <th class='first'><%= _("Title") %></th>
      <th><%= _("Categories") %></th>
      <th><%= _("Author")%></th>
      <th><%= _("Date") %></th>
      <th class='last'><%= _("Feedback")%></th>
    </tr>    
  </thead>
  <tbody id="articleList">
    <%= render 'article_list', { :articles => @articles } -%>
  </tbody>
</table>
<%end%>
