<% @page_heading = _('Manage articles') %>
<% @link_to_new = link_to(_("New Article"), {:controller => 'content', :action => 'new'}, :id => 'dialog-link', :class => 'ui-state-default ui-corner-all') %>

<% subtabs_for(:content) %>

<% form_remote_tag  :url      => {:action => 'index'},
  :method   => :get,
  :name     => 'article',
  :update   => {:success => 'articleList'},
  :before   => "Element.show('spinner')",
  :complete => "Element.hide('spinner')" \
  do %>

<%= render :partial => 'drafts' unless Article.drafts.empty? %>

<div class='settings'>
  <h4><label for="search"><%= _("Search articles that contains...")%></label></h4>
  <div class='input_text'>
    <input id="search" type="text" name="search[searchstring]" class='small medium' />
    <%= submit_tag(_("Search"), {:class => 'ed_button'}) %>
    <span id='spinner' style="display:none;"><%= image_tag('spinner.gif') %></span>  
  </div>
</div>

<table>
  <tr>
    <th><%= _("Title") %></th>
    <th><%= _("Categories") %></th>
    <th><%= _("Author")%></th>
    <th><%= _("Date") %></th>
    <th><%= _("Feedback")%></th>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><%= collection_select_with_current('search', 'category', Category.all, "id", "name", @search[:category].to_i, true)
    %></td>
    <td><%= collection_select_with_current(:search, :user_id, User.find(:all), "id", "name", @search[:user_id].to_i, true) %></td>
    <td>
      <%= collection_select_with_current(:search, :published_at, Article.find_by_published_at, "publication", "publication", @search[:published_at], true) %>
    </td>
    <td><input type="submit" value='<%= _("Filter") %>' class='ed_button' />
  </tr>
  <tbody id="articleList">
    <%= render :partial => 'article_list', :object => @articles -%>
  </tbody>
</table>
<%end%>
