<div>
  <i class='icon icon-question-sign'></i>
  <%= toggle_element('macros', t(".show_help_on_publify_macros") + " (+/-)") %>
  <div id='macros' class='collapse'>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th><%= t(".name") %></th>
          <th><%= t(".description") %></th>
          <th><%= t(".tag") %></th>
        </tr>
      </thead>
      <tbody>
        <% for macro in @macros.sort_by { |f| f.short_name } %>
        <tr>
          <td><%= macro_help_popup(macro, macro.display_name) %></td>
          <td><%= h(macro.description) %></td>
          <td><code>&lt;<%= h(macro.short_name) %>&gt;</code></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
