<nav class='navbar navbar-default navbar-fixed-top' role="navigation">
  <div class="navbar-header">
    <%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-home'), {controller: 'admin/dashboard'}, {class: "navbar-brand"} %>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sidebar-top">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="sidebar-top">
    <ul class='nav navbar-nav'>
      <% if can? :index, 'admin/content' %>
        <li class='dropdown'>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <%= t('.articles') %>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <%= menu_item(t('.all_articles'), admin_content_index_path) %>
            <%= menu_item(t('.new_article'),  new_admin_content_path) %>
            <%= menu_item(t('.feedback'),     admin_feedback_index_path) %>
            <%= menu_item(t('.tags'),         admin_tags_path) %>
            <%= menu_item(t('.article_types'),admin_post_types_path) %>
            <%= menu_item(t('.redirects'),    admin_redirects_path) %>
          </ul>
        </li>
      <% end %>
      <% if can? :index, 'admin/notes' %>
        <%= menu_item(t('.notes'), admin_notes_path) %>
      <% end %>
      <% if can? :index, 'admin/pages' %>
        <li class='dropdown'>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <%= t('.pages') %>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <%= menu_item(t('.all_pages'), admin_pages_path) %>
            <%= menu_item(t('.new_page'),  new_admin_page_path) %>
          </ul>
        </li>
      <% end %>
      <% if can? :index, 'admin/resources' %>
        <%= menu_item(t('.media_library'), admin_resources_path) %>
      <% end %>
      <% if can? :index, 'admin/themes' %>
        <li class='dropdown'>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <%= t('.design') %>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <%= menu_item(t('.choose_theme'),      admin_themes_path) %>
            <%= menu_item(t('.customize_sidebar'), admin_sidebar_index_path) %>
          </ul>
        </li>
      <% end %>
      <% if can? :index, 'admin/settings' %>
        <li class='dropdown'>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <%= t('.settings') %>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <%= menu_item(t('.general_settings'), admin_settings_path) %>
            <%= menu_item(t('.write'),            write_admin_settings_path) %>
            <%= menu_item(t('.display'),          display_admin_settings_path) %>
            <%= menu_item(t('.feedback'),         feedback_admin_settings_path) %>
            <%= menu_item(t('.cache'),            admin_cache_path) %>
            <%= menu_item(t('.manage_users'),     admin_users_path) %>
          </ul>
        </li>
      <% end %>
      <% if can? :index, 'admin/seo' %>
        <li class='dropdown'>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <%= t('.seo') %>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <%= menu_item(t('.global_seo_settings'), admin_seo_path(section: 'general')) %>
            <%= menu_item(t('.permalinks'),          admin_seo_path(section: 'permalinks')) %>
            <%= menu_item(t('.titles'),              admin_seo_path(section: 'titles')) %>
          </ul>
        </li>
      <% end %>
    </ul>
    <ul class='nav navbar-nav pull-right'>
      <li class='dropdown'>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <%= t(".logged_in_as", login: current_user.display_name) %>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li><%= link_to t(".profile"), { :controller => 'admin/profiles', :action => 'index'}  %></li>
          <li role="presentation" class="divider"></li>
          <li><%= link_to t(".documentation"), "https://github.com/fdv/publify/wiki" %></li>
          <li><%= link_to t(".report_a_bug"), "https://github.com/fdv/publify/issues" %></li>
          <li><%= link_to t(".in_page_plugins"), "https://github.com/fdv/publify/wiki/In-Page-Plugins" %></li>
          <li><%= link_to t(".sidebar_plugins"), "https://github.com/fdv/publify/wiki/Sidebar-plugins" %></li>
          <li role="presentation" class="divider"></li>
          <li><%= link_to t(".logout_html"), destroy_user_session_path, method: :delete %></li>
        </ul>
      </li>
    </ul>
    <ul class='nav navbar-nav pull-right'>
      <li class='dropdown'>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <%= t(".new")%>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li><%= link_to(t(".new_article"), {controller: 'content', action: 'new'}) %></li>
          <li><%= link_to(t(".new_page"), {controller: 'pages', actions: 'new'}) %></li>
          <li><%= link_to(t(".new_media"), {controller: 'resources', action: 'index'}) %></li>
          <li><%= link_to(t(".new_note"), {controller: 'notes'}) %></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
