<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= yield :page_title %>
  </title>
  <meta http-equiv="imagetoolbar" content="no">
  <%= stylesheet_link_tag "accounts", "bootstrap" %>
  <%= javascript_include_tag 'publify_admin' %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class='panel-title'><%= link_to("Publify", "http://publify.co") %></h1>
          </div>
          <div class="panel-body">
            <%= render 'shared/flash', flash: flash %>
            <%= yield %>
          </div>
        </div>
        <%- if content_for?(:account_links) %>
            <%= yield :account_links %>
        <%- end %>
      </div>
    </div>
  </div>
</body>
</html>
