<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @page_title %></title>
  <meta http-equiv="imagetoolbar" content="no" />
  <%= stylesheet_link_tag "bootstrap-accounts", "accounts" %>
</head>
<body>
  <div class='container'>
    <div class='row'>
      <div class='span4 offset4'>
        <%= link_to_publify %>
      </div>
    </div>
    <div class='row'>
      <div class='span4 offset4 well'>
        <div id="flash"><%= render_the_flash %></div>
        <%= yield %>
      </div>
      <div class='span4 offset4'>
        <%= @accounts_links %>
      </div>
    </div>
  </div>
</body>
</html>
