<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Typo Administration:  <%= controller.controller_name %></title>
  <meta http-equiv="imagetoolbar" content="no" />
  <%= stylesheet_link_tag "growler", "administration_structure", "administration_color_#{current_user.admin_theme}", "lightbox" %>
  <%= stylesheet_link_tag "administration_rtl" if ( _("Localization.rtl") == "1") %>
  <%= javascript_include_tag "prototype", "effects", "builder", "dragdrop", "controls", "typo", "lightbox", "growler", "typo_carousel", "administration", "ckeditor/ckeditor" %>
  <%= calendar_date_select_includes %>
  <style type="text/css">
    #carousel-content .slide { width: <%= this_blog.image_thumb_size %>; }
  </style>
</head>
<body>
  <div id='header'>
    <h1><%= link_to this_blog.blog_name, this_blog.base_url %></h1>
  </div>
  <div id='new_article'>
    <%= link_to(_("New Article"), {:controller => 'content', :action => 'new'}, :id => 'dialog-link', :class => 'button') %>
  </div>
  <div id='logout'>
    <%= link_to _("Profile"), { :controller => 'admin/profiles', :action => 'index'}  %> |
    <%= link_to _("%s &raquo;", "Log out").html_safe, {:controller => "/accounts", :action=>"logout"} %>
  </div>


  <div id='container'>
    <div id='menu'>
      <ul id='tabs'>
        <%= content_tag :li, (link_to _('Dashboard'), :controller => 'admin/dashboard'), :class => class_dashboard  %>
        <% for pm in current_user.project_modules %>
          <%= content_tag :li, (link_to _(pm.menus.first.name ), pm.menus.first.url), :class => send("class_#{pm.name}") %>
        <% end %>
      </ul>
      <ul id='subtabs'>
        <%= yield :tasks %>
      </ul>
    </div>

    <div id='content'>
      <%= render_the_flash %>

      <%= show_page_heading %>
      <%= yield  %>
    </div>
  </div>

    <div id="footer">
      <%= link_to(this_blog.blog_name, this_blog.base_url) %> <%= _("is proudly powered by")%> Typo <%=h TYPO_VERSION %>
    </div>
</body>
</html>
