<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title><%= this_blog.blog_name %> – <%= controller.controller_name %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="imagetoolbar" content="no">
  <%= stylesheet_link_tag 'publify_admin' %>
  <%= javascript_include_tag 'publify_admin' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class='navbar navbar-default navbar-fixed-top' role="navigation">
    <div class="navbar-header">
      <%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-home'), {controller: 'admin/dashboard'}, {class: "navbar-brand"} %>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sidebar-top">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="sidebar-top">
      <ul class='nav navbar-nav'>
        <% for pm in current_user.project_modules %>
          <% if AccessControl.submenus_for(current_user.profile_label, pm.name.to_sym).size == 0 %>
            <%= tab_for(pm) %>
          <% else %>
          <li class='dropdown'>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <%= pm.menu_name %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <%= subtabs_for(pm.name.to_sym)%>
            </ul>
          </li>
          <%end %>
        <% end %>
      </ul>
      <ul class='nav navbar-nav pull-right'>
        <li class='dropdown'>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <%= t("admin.menu.logged_in_as", login: current_user.display_name) %>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><%= link_to t("admin.menu.profile"), { :controller => 'admin/profiles', :action => 'index'}  %></li>
            <li role="presentation" class="divider"></li>
            <li><%= link_to t("admin.menu.documentation"), "https://github.com/fdv/publify/wiki" %></li>
            <li><%= link_to t("admin.menu.report_a_bug"), "https://github.com/fdv/publify/issues" %></li>
            <li><%= link_to t("admin.menu.in_page_plugins"), "https://github.com/fdv/publify/wiki/In-Page-Plugins" %></li>
            <li><%= link_to t("admin.menu.sidebar_plugins"), "https://github.com/fdv/publify/wiki/Sidebar-plugins" %></li>
            <li role="presentation" class="divider"></li>
            <li><%= link_to t("admin.menu.logout").html_safe, {:controller => "/accounts", :action=>"logout"} %></li>
          </ul>
        </li>
      </ul>
      <ul class='nav navbar-nav pull-right'>
        <li class='dropdown'>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <%= t(".new")%>
              <b class="caret"></b>
            </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><%= link_to(t("admin.menu.new_article"), {controller: 'content', action: 'new'}) %></li>
            <li><%= link_to(t("admin.menu.new_page"), {controller: 'pages', actions: 'new'}) %></li>
            <li><%= link_to(t("admin.menu.new_media"), {controller: 'resources', action: 'index'}) %></li>
            <li><%= link_to(t("admin.menu.new_note"), {controller: 'notes'}) %></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <div id='main'>
    <div class='row'>
      <div class='col-md-12'>
        <div style='margin-top:20px'>
          <%= render 'shared/flash', flash: flash %>
        </div>
        <%- if content_for?(:page_heading) %>
          <div class='page-header'>
            <%= yield :page_heading %>
          </div>
        <%- end %>
        <%= yield  %>
      </div>
    </div>
  <footer>
    <div class='row'>
      <div class='col-md-12'>
        <%= link_to(this_blog.blog_name, this_blog.base_url) %> <%= t("admin.menu.powered_by")%> Publify <%=h PUBLIFY_VERSION %> – Icons courtesy of <a href='http://glyphicons.com/'>Glyphicons</a>
      </div>
    </div>
  </footer>
</div>
</body>
</html>
