<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title><%= this_blog.blog_name %> – <%= controller.controller_name %></title>
  <meta http-equiv="imagetoolbar" content="no" />
  <%= stylesheet_link_tag "growler", "bootstrap", "administration_structure", "lightbox" %>
  <%= javascript_include_tag "prototype", "effects", "builder", "dragdrop", "controls", "typo", "lightbox", "growler", "typo_carousel", "administration", "ckeditor/ckeditor" %>
  <%= calendar_date_select_includes %>
  <style type="text/css">
    #carousel-content .slide { width: <%= this_blog.image_thumb_size %>; }
  </style>
</head>
<body>
  <div class='topbar'>
    <div class='topbar-inner'>
      <div class='container-fluid'>
        <%= link_to this_blog.blog_name, this_blog.base_url, { :class => 'brand' } %>
        <ul class="nav secondary-nav">
          <li class="dropdown" onmouseover='$("user_menu").style.display = "block"' onmouseout='$("user_menu").style.display = "none"'>
            <a class="dropdown-toggle" href="#"><%= _("Logged in as %s", current_user.nickname)%></a>
            <ul class="dropdown-menu" id="user_menu" style='display: none'>
              <li><%= link_to(_("New Article"), {:controller => 'content', :action => 'new'}) %></li>
              <li><%= link_to _("Profile"), { :controller => 'admin/profiles', :action => 'index'}  %></li>
              <li><%= link_to _("%s &raquo;", "Log out").html_safe, {:controller => "/accounts", :action=>"logout"} %></li>
            </ul>
          </li>
        </ul>
        <ul class="nav secondary-nav">
          <li class="dropdown" onmouseover='$("help_menu").style.display = "block"' onmouseout='$("help_menu").style.display = "none"'>
            <a class="dropdown-toggle" href="#"><%= _("Help")%></a>
            <ul class="dropdown-menu" id="help_menu" style="display: none;">
              <li><%= link_to _("Documentation"), "https://github.com/fdv/typo/wiki" %></li>
              <li><%= link_to _("Report a bug"), "https://github.com/fdv/typo/issues" %></li>
              <li><%= link_to _("In page plugins"), "https://github.com/fdv/typo/wiki/In-Page-Plugins" %></li>
              <li><%= link_to _("Sidebar plugins"), "https://github.com/fdv/typo/wiki/Sidebar-plugins" %></li>
            </ul>
          </li>
        </ul>
				
      </div>
    </div>
  </div>
  <div class='container-fluid'>
    <div class='sidebar'>
      <div class='well'>
        <% if controller.controller_name == 'dashboard' %>
        <%= content_tag :h5, _('Dashboard')  %>
        <% else %>
        <%= content_tag :h5, (link_to _('Dashboard'), :controller => 'admin/dashboard')  %>
        <% end %>
        <% for pm in current_user.project_modules %>
        <%= content_tag :h5, (link_to _(pm.menus.first.name ), pm.menus.first.url), :class => send("class_#{pm.name}") %>
        <ul id='subtabs'>
          <%= subtabs_for(pm.name.to_sym)%>
        </ul>
        <% end %>
      </div>
    </div>
    <div class='content'>
      <div class=''>
        <%= render_the_flash %>
        <%= show_page_heading %>
        <%= yield  %>
      </div>
    </div>
  </div>

  <footer>
    <%= link_to(this_blog.blog_name, this_blog.base_url) %> <%= _("is proudly powered by")%> Typo <%=h TYPO_VERSION %>
  </footer>
</body>
</html>
