<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Typo Administration:  <%= controller.controller_name %></title>
  <meta http-equiv="imagetoolbar" content="no" />
  <%= stylesheet_link_tag "growler", "administration", "lightbox" %>
  <%= stylesheet_link_tag "administration_rtl" if ( _("Localization.rtl") == "1") %>
  <%= javascript_include_tag "prototype", "effects", "builder", "dragdrop", "controls", "typo", "lightbox", "quicktags", "growler", "typo_carousel", "administration", :ckeditor %>
  <%= calendar_date_select_includes %>  
</head>

<body>
  <div id='header'>
    <h1><%= link_to this_blog.blog_name, this_blog.base_url %></h1>
  </div>
  <div id='menu'>
    <ul id='tabs'>
      <li <%='class="current"' if controller.controller_name == 'dashboard' %>><%= link_to _('Dashboard'), :controller => '/admin' %></li>
      <% for pm in current_user.project_modules %>
        <%= content_tag :li, (link_to _(pm.menus.first.name ), pm.menus.first.url), :class => send("class_#{pm.name}") %>
      <% end %>
    </ul>
    <%= link_to _("%s &raquo;", "Log out"), {:controller => "/accounts", :action=>"logout"}, :id => 'logout' %>
  </div>
  <% unless (@_first_render =~ /login|signup|logout/) %>
    <div id="submenu">
      <ul>
        <%= yield :tasks %>
      </ul>
    </div>
  <% end %>

  <div id='content'>
    <% if flash[:notice] or flash[:error] %>
    <div id="flash">
      <%= render_flash rescue nil %>
    </div>
    <% end %>
    
    <%= show_page_heading %>
    <%= yield  %>
  </div>

  <div id="footer">
    <%= link_to(this_blog.blog_name, this_blog.base_url) %> <%= _("is proudly powered by")%> Typo <%=h TYPO_VERSION %>
  </div>

</body>
</html>
