<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render 'shared/page_header' %>
    <%= themeable_stylesheet_link_tag :theme %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=h page_title %></title>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <h1><%= link_to this_blog.blog_name, this_blog.base_url %></h1>
        <p class="desc"><%= this_blog.blog_subtitle %></p>
      </div>

      <div class="content">
        <%= yield %>
      </div>

      <div class="sidebar">
        <%= render_sidebars %>
      </div>

      <div class="footer">
        <p class="legal">
        <%= t(".powered_by_html", powered_by: link_to('Publify', 'http://publify.co')) %>
        </p>
      </div>
    </div>
  </body>
</html>
