<!DOCTYPE html>

<!--[if IE 7 ]> <html lang="en" class="ie ie7 no-js"> <![endif]-->
<!--[if IE 8 ]> <html lang="en" class="ie ie8 no-js"> <![endif]-->
<!--[if IE 9 ]> <html lang="en" class="ie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/"><!--<![endif]-->
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= h(page_title) %></title>
  <%= render 'shared/page_header' %>
</head>
<body>
  <%= render 'shared/header' %>

  <%= yield %>

  <%= javascript_include_tag :publify %>
  <%= timeago_script_tag %>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <%= javascript_include_tag 'requirejs/require', data: { main: javascript_path('application') } %>
</body>
</html>
