<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title><%= this_blog.blog_name %> – <%= controller.controller_name %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="imagetoolbar" content="no">
  <%= stylesheet_link_tag 'publify_admin' %>
  <%= javascript_include_tag 'publify_admin' %>
  <style type="text/css">
    #carousel-content .slide { width: <%= this_blog.image_thumb_size %>; }
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      src: local('Open Sans'), local('OpenSans'), url(<%= File.join(this_blog.base_url, 'stylesheets', 'fonts', 'open-sans.woff') %>) format('woff');
    }
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      src: local('Open Sans Bold'), local('OpenSans-Bold'), url(<%= File.join(this_blog.base_url, 'stylesheets', 'fonts', 'open-sans-bold.woff') %>) format('woff');
    }
  </style>
</head>
<body>
  <div id='main'>
    <%= yield  %>
  </div>
</body>
</html>
