<div class='row'>
  <div class='span4 offset4'>
    <h3><%= _("Sign in") %></h3>
  </div>
</div>
<div class='row'>
  <div class='span4 offset4 well'>
    <div id="flash"><%= render_the_flash %></div>
      <%= form_tag :action=> "login" do %>
        <%= text_field(:user, :login, {:class => 'input-block-level', :placeholder => _("Login")})%>  
        <%= password_field(:user, :password, {:class => 'input-block-level', :placeholder => _("Password")})%>
        <div class='clearfix'>
          <div class='row'>
            <div class='span2'>
              <label class='checkbox inline'>
                <%= check_box_tag 'remember_me' %><small><%= _('Remember me')%></small>
              </label>
            </div>
            <div class='span2'>
              <input type="submit" name="login" class="btn btn-info pull-right" value= "<%= _('Sign in') %>" />
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
<div class='span4 offset4'>
  <%= [lost_password, create_account_link].join("<br />") %>
</div>  
