<%= content_tag :h1, link_to(image_tag("/images/admin/typologo.gif", :alt=>"Typo website"), "http://typosphere.org") %>

<div id="flash"><%= render_the_flash %></div>
<%= form_tag :action=> "login" do %>
  <p>
    <label for="user_login"><%= _('Login')%></label>
    <%= text_field(:user, :login, {:class => 'title'})%>
  </p>
  <p>
    <label for="user_password"><%= _('Password')%></label>
    <%= password_field(:user, :password, {:class => 'title'})%>
  </p>
  <p>
    <label for="remember_me">
      <div id='remember'>
        <%= check_box_tag 'remember_me' %>
        <%= _('Remember me')%>        
      </div>
      <input type="submit" name="login" value= "<%= _('Submit') %>" class="save" id="submit" />
    </label>
  </p>
  <p class='clear'>
    <%= display_accounts_link %>    
  </p>
<% end %>
