<%- content_for :page_title do %>
  <%= "#{this_blog.blog_name} - #{t('.title')}" %>
<%- end %>

<%= form_tag action: "login" do %>
  <fieldset>
  <div class="form-group">
    <%= text_field(:user, :login, {class: 'form-control', placeholder: t(".login"), autofocus: 'autofocus'})%>
  </div>
  <div class="form-group">
    <%= password_field(:user, :password, {class: 'form-control', placeholder: t(".password")})%>
  </div>
  <div class="checkbox">
    <label>
      <%= check_box_tag 'remember_me' %> <%= t('.remember_me')%>
    </label>
  </div>
  <%= submit_tag t('.sign_in'), class: "btn btn-lg btn-success btn-block"  %>
</fieldset>
<% end %>

<%- content_for :account_links do %>
  <small><%= link_to(t("accounts.lost_my_password"), action: 'recover_password') %></small>
  <br>
  <%- if this_blog.allow_signup? %>
    <small><%= link_to(t("accounts.create_account"), action: 'signup') %></small>
    <br>
  <% end %>
  <small><%= link_to(t("accounts.back_to", place: this_blog.blog_name).html_safe, this_blog.base_url) %></small>
<% end %>
