<div class='row'>
  <div class='span6 offset5'>
    <div class='well'>
      <%= form_tag :action=> "login" do %>
	  <div class='clearfix'>
	  	<h2><%= _("Login") %></h2>
	  </div>
      <div id="flash"><%= render_the_flash %></div>
      <div class='clearfix'>
        <%= text_field(:user, :login, {:class => 'login', :placeholder => _("login")})%>  
      </div>
      <div class='clearfix'>
        <%= password_field(:user, :password, {:class => 'login', :placeholder => _("password")})%>
      </div>
      <div class='clearfix'>
        <input type="submit" name="login" class="btn info" value= "<%= _('Login') %>" />
        <%= check_box_tag 'remember_me' %> <small><%= _('Remember me')%></small> 
      </div>	  
      <div class='clearfix'>
        <p>
          <%= display_accounts_link %>
        </p>        
      </div>
      <% end %>
    </div>
  </div>
</div>