<div class='row'>
  <div class='span6 offset5'>
    <div class='well'>
      <%= form_tag :action=> "recover_password" do %>
      <div class='clearfix'>
	      <h2><%= _("Reset my password") %></h2>
	    </div>
      <div id="flash"><%= render_the_flash %></div>
      <div class='clearfix'>
        <%= text_field(:user, :login, {:class => 'login', :placeholder => _("Username or email")})%>  
      </div>
      <div class='clearfix'>
        <input type="submit" name="submit" class="btn info" value= "<%= _('Reset my password') %>" />
      </div>
      <div class='clearfix'>
        <p>
          <%= check_box_tag 'remember_me' %> <small><%= _('Remember me')%> .</small> 
          <%= display_accounts_link %>
        </p>        
      </div>
      <% end %>
    </div>
  </div>
</div>
