<%= content_tag :h3, link_to(image_tag("/images/admin/typologo.gif", :alt=>"Typo website"), "http://typosphere.org") %>

<p id="flash"><%= render_flash rescue nil %></p>

<% form_tag :action=> "recover_password" do %>
  <h3><label for="user_login"><%= _("Username or email") %>:</label></h3>
  <p class='input_text_title'>
    <%= text_field(:user, :login, {:class => 'title large'})%>
  </p>
  <p><input type="submit" id="submit" class='save large' value="<%= _('Submit')%>" /></p>
  <p>
    <small><%= link_to "&laquo; #{_('Back to ')} #{this_blog.blog_name}", this_blog.base_url %></small>
  </p>
<% end %>

