<%= content_tag :h1, link_to(image_tag("/images/admin/typologo.gif", :alt=>"Typo website"), "http://typosphere.org") %>

<p id="flash"><%= render_flash rescue nil %></p>
<%= form_tag :action=> "recover_password" do %>
  <p>
    <label for="user_login"><%= _("Username or email") %>:</label>
    <%= text_field(:user, :login, {:class => 'title large'})%>
    </p>
  <p><input type="submit" id="submit" class='save large' value="<%= _('Reset my password')%>" /></p>
  <p class='clear'>
    <%= display_accounts_link %>
  </p>
<% end %>

