<%- content_for :page_title do %>
  <%= "#{this_blog.blog_name} - #{t('.title')}" %>
<%- end %>

<%= form_tag action: "recover_password" do %>
<fieldset>
  <div class="form-group">
    <%= text_field(:user, :login, {class: 'form-control', placeholder: t(".username_or_email")})%>
  </div>
  <div class="form-group">
    <%= submit_tag t('.reset_my_password'), class: "btn btn-lg btn-success btn-block" %>
  </div>
</fieldset>
<% end %>

<%- content_for :account_links do %>
  <small><%= link_to(t("accounts.back_to_login"), action: 'login') %></small>
  <br>
  <%- if this_blog.allow_signup? %>
    <small><%= link_to(t("accounts.create_account"), action: 'signup') %></small>
    <br>
  <% end %>
  <small><%= link_to(t("accounts.back_to", place: this_blog.blog_name).html_safe, this_blog.base_url) %></small>
<% end %>
