<div class='row'>
  <div class='span4 offset4'>
    <h3><%= _("Reset my password") %></h3>
  </div>
</div>
<div class='row'>
  <div class='span4 offset4 well'>
    <div id="flash"><%= render_the_flash %></div>
    <%= form_tag :action=> "recover_password" do %>
    <%= text_field(:user, :login, {:class => 'input-block-level', :placeholder => _("Username or email")})%>  
    <input type="submit" name="submit" class="btn btn-info pull-right" value= "<%= _('Reset my password') %>" />
    <% end %>
  </div>
</div>
<div class='span4 offset4'>
  <%= [back_to_login, create_account_link].join("<br />") %>
</div>