<div class='row'>
  <div class='span6 offset5'>
    <div class='well'>
      <%= form_tag :action=> "signup" do %>
      <div class='clearfix'>
        <h2><%= _("Create an account") %></h2>
      </div>
      <div id="flash"><%= render_the_flash %></div>
      <div class='clearfix'>
        <%= text_field(:user, :login, {:class => 'login', :placeholder => _("Username") })%>
      </div>
      <div class='clearfix'>
        <%= text_field(:user, :email, {:class => 'login', :placeholder => _("Email") })%>
      </div>
      <div class='clearfix'>
        <input type="submit" id="submit" class='btn info' value="<%= _('Signup')%>" />
      </div>
      <% end %>
    </div>
  </div>
</div>
