<div class='category-excerpt <%= "border" if @article_counter >= 0 %>' id="article-<%= article.id %>">
  <h2><%= (controller.controller_name == 'redirect') ? article.title : link_to_permalink(article,article.title) %></h2>
  <%= render 'articles/protected_article_content', { :article => article } %>

  <div class='author'>
    <%= _("Published on") %> <%= _(article.published_at.utc.strftime(_("%%a, %%d %%b %%Y %%H:%%M", article.published_at.utc))) %>
  </div>
  <div class='comments'>
    <%= display_comments_counter(article) %>
  </div>
</div>

<% @article_counter+=1 %>
